<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-tyre-provider-heading"
        data-cy="TyreProviderCreateUpdateHeading"
        jhiTranslate="motorsportsDatabaseApp.tyreProvider.home.createOrEditLabel"
      >
        Create or edit a Tyre Provider
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.tyreProvider.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('name')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.tyreProvider.logo" for="field_logo">Logo</label>
          <div>
            <img
              [src]="'data:' + editForm.get('logoContentType')!.value + ';base64,' + editForm.get('logo')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('logo')!.value"
              alt="tyreProvider image"
            />
            <div *ngIf="editForm.get('logo')!.value" class="form-text text-danger clearfix">
              <span class="pull-left">{{ editForm.get('logoContentType')!.value }}, {{ byteSize(editForm.get('logo')!.value) }}</span>
              <button
                type="button"
                (click)="clearInputImage('logo', 'logoContentType', 'file_logo')"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_logo"
              data-cy="logo"
              (change)="setFileData($event, 'logo', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="logo" id="field_logo" data-cy="logo" formControlName="logo" />
          <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType" formControlName="logoContentType" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.tyreProvider.letterColor" for="field_letterColor"
            >Letter Color</label
          >
          <input
            type="text"
            class="form-control"
            name="letterColor"
            id="field_letterColor"
            data-cy="letterColor"
            formControlName="letterColor"
          />
          <div *ngIf="editForm.get('letterColor')!.invalid && (editForm.get('letterColor')!.dirty || editForm.get('letterColor')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('letterColor')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.tyreProvider.backgroundColor" for="field_backgroundColor"
            >Background Color</label
          >
          <input
            type="text"
            class="form-control"
            name="backgroundColor"
            id="field_backgroundColor"
            data-cy="backgroundColor"
            formControlName="backgroundColor"
          />
          <div
            *ngIf="
              editForm.get('backgroundColor')!.invalid &&
              (editForm.get('backgroundColor')!.dirty || editForm.get('backgroundColor')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('backgroundColor')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
