<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-racetrack-layout-heading"
        data-cy="RacetrackLayoutCreateUpdateHeading"
        jhiTranslate="motorsportsDatabaseApp.racetrackLayout.home.createOrEditLabel"
      >
        Create or edit a Racetrack Layout
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.racetrackLayout.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('name')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 100 }"
            >
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.racetrackLayout.length" for="field_length">Length</label>
          <input type="number" class="form-control" name="length" id="field_length" data-cy="length" formControlName="length" />
          <div *ngIf="editForm.get('length')!.invalid && (editForm.get('length')!.dirty || editForm.get('length')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('length')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('length')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.racetrackLayout.yearFirstUse" for="field_yearFirstUse"
            >Year First Use</label
          >
          <input
            type="number"
            class="form-control"
            name="yearFirstUse"
            id="field_yearFirstUse"
            data-cy="yearFirstUse"
            formControlName="yearFirstUse"
          />
          <div
            *ngIf="editForm.get('yearFirstUse')!.invalid && (editForm.get('yearFirstUse')!.dirty || editForm.get('yearFirstUse')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('yearFirstUse')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('yearFirstUse')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.racetrackLayout.layoutImage" for="field_layoutImage"
            >Layout Image</label
          >
          <div>
            <img
              [src]="'data:' + editForm.get('layoutImageContentType')!.value + ';base64,' + editForm.get('layoutImage')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('layoutImage')!.value"
              alt="racetrackLayout image"
            />
            <div *ngIf="editForm.get('layoutImage')!.value" class="form-text text-danger clearfix">
              <span class="pull-left"
                >{{ editForm.get('layoutImageContentType')!.value }}, {{ byteSize(editForm.get('layoutImage')!.value) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('layoutImage', 'layoutImageContentType', 'file_layoutImage')"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_layoutImage"
              data-cy="layoutImage"
              (change)="setFileData($event, 'layoutImage', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="layoutImage"
            id="field_layoutImage"
            data-cy="layoutImage"
            formControlName="layoutImage"
          />
          <input
            type="hidden"
            class="form-control"
            name="layoutImageContentType"
            id="field_layoutImageContentType"
            formControlName="layoutImageContentType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.racetrackLayout.active" for="field_active">Active</label>
          <input type="checkbox" class="form-check" name="active" id="field_active" data-cy="active" formControlName="active" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.racetrackLayout.racetrack" for="field_racetrack"
            >Racetrack</label
          >
          <select class="form-control" id="field_racetrack" data-cy="racetrack" name="racetrack" formControlName="racetrack">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="racetrackOption.id === editForm.get('racetrack')!.value?.id ? editForm.get('racetrack')!.value : racetrackOption"
              *ngFor="let racetrackOption of racetracksSharedCollection; trackBy: trackRacetrackById"
            >
              {{ racetrackOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
