 <div class="file-drop-area" [formGroup]="editForm">
     <div class="text-center" *ngIf="!editForm.get(controlName)?.value && editForm.get(imageUrl)?.value != null">
         <img [src]="editForm.get(imageUrl)?.value" class="img-fluid"
             style="max-height: 250px;" [alt]="imageAlt"/>
     </div>
     <div class="text-center" *ngIf="editForm.get(controlName)!.value">
         <img [src]="'data:' + editForm.get(controlNameContentType)!.value + ';base64,' + editForm.get(controlName)!.value"
              class="img-fluid" style="max-height: 250px;" [alt]="imageAlt"/>
         <button
             type="button"
             (click)="clearInputImage(controlName, controlNameContentType, 'fileImage')"
             class="btn btn-secondary btn-xs pull-right">
             <fa-icon icon="times"></fa-icon>
         </button>
     </div>

     <input class="form-control" type="file"
            (change)="setFileData($event, controlName, isImage)"
            [accept]="acceptedMimeType"
            jhiTranslate="entity.action.addimage"/>

     <input type="hidden" class="form-control" [formControlName]="controlName"/>
     <input type="hidden" class="form-control" [formControlName]="controlNameContentType" />
 </div>

