
<div *ngIf="eventEntry">
    <h2><span jhiTranslate="motorsportsDatabaseApp.eventEntry.detail.title">Event Entry</span> {{eventEntry.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="motorsportsDatabaseApp.eventEntry.teamName">Team Name</span></dt>
        <dd>
            <span>{{eventEntry.teamName}}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.eventEntry.car">Car</span></dt>
        <dd>
            <div *ngIf="eventEntry.car">
                <a [routerLink]="['/car', eventEntry.car?.id]">{{eventEntry.car?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.eventEntry.driver">Driver</span></dt>
        <dd>
            <div *ngIf="eventEntry.driver">
                <a [routerLink]="['/driver', eventEntry.driver?.id]">{{eventEntry.driver?.id}}</a>&nbsp;
                <span *ngIf="eventEntry.rookie" jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.rookie"></span>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'event-entry/'+ eventEntry.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
