<div class="row" *ngIf="eventEntries">
	<div class="col-sm-12 no-padding-right">
		<div class="input-group w-100 mt-3">
			<ul *ngIf="eventEntries" class="list-unstyled">
			 	<li *ngIf="eventEdition.allowedCategories.length === 1">
					<strong><span jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.category"></span>:</strong> {{eventEdition.allowedCategories[0].name}}
				</li>
				<li *ngIf="eventEdition.singleChassis">
				    <strong><span jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.chassis"></span>:</strong> {{eventEntries[0].chassis.manufacturer}} {{eventEntries[0].chassis.name}}
				</li>
				<li *ngIf="eventEdition.singleEngine">
				    <strong><span jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.engine"></span>:</strong> {{eventEntries[0].engine.manufacturer}} {{eventEntries[0].engine.name}}
				</li>
				<li *ngIf="eventEdition.singleTyre">
				    <strong><span jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.tyres"></span>:</strong> {{eventEntries[0].tyres.name}}
				</li>
				<li *ngIf="eventEdition.singleFuel">
				    <strong><span jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.fuel"></span>:</strong> {{eventEntries[0].fuel.name}}
				</li>
			</ul>	                    
		</div>
	</div>
</div>
<div class="table-responsive" *ngIf="eventEntries">
	<div class="float-right" *ngIf="eventEdition.allowedCategories.length > 1">
		<select class="form-control" id="field_category" name="category" [(ngModel)]="filterCategory">
			<option value="ALL"></option>
			<option *ngFor="let category of eventEdition.allowedCategories" [ngValue]="category.shortname">{{category.name}}</option>
		</select>
	</div>
	<table class="table table-striped">
    	<thead>
            <tr>
	            <th><span jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.raceNumber">Number</span></th>
	            <th><span jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.driver">Driver</span></th>
	            <th><span jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.teamName">Team Name</span></th>
	            <th><span jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.team">Team</span></th>
	            <th><span jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.operatedBy">Operated By</span></th>
	            <th *ngIf="!eventEdition.singleChassis"><span jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.chassis">Chassis</span></th>
	            <th *ngIf="!eventEdition.singleEngine"><span jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.engine">Engine</span></th>
	            <th *ngIf="eventEdition.allowedCategories.length != 1"><span jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.category">Category</span></th>
	            <th *ngIf="!eventEdition.singleTyre"><span jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.tyres">Tyres</span></th>
	            <th *ngIf="!eventEdition.singleFuel"><span jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.fuel">Fuel</span></th>
	            <th></th>
            </tr>
		</thead>
        <tbody>
            <tr *ngFor="let eventEntry of eventEntries | eventEntryCategoryFilter: filterCategory ;trackBy: trackId">
            	<td>{{eventEntry.raceNumber}}</td>
            	<td>
                    <div *ngIf="!eventEntry.eventEdition.multidriver">
                        <a [routerLink]="['/driver', eventEntry.drivers[0].id ]" >
                        	<img *ngIf="eventEntry.drivers[0].nationality" src="/images/flags16/{{eventEntry.drivers[0].nationality}}.png"/> {{eventEntry.drivers[0].fullName}}
                        </a>
                        <span *ngIf="eventEntry.rookie"> (R)</span>
                    </div>
                    <div *ngIf="eventEntry.eventEdition.multidriver">
                    	<div *ngFor="let driver of eventEntry.drivers">
	                        <img *ngIf="driver.nationality" src="/images/flags16/{{driver.nationality}}.png"/> <span class="tag">{{ driver.fullName }}</span>
	                    </div>
                    </div>
                </td>
                <td>{{eventEntry.entryName}}</td>
                <td>
                    <div *ngIf="eventEntry.team">
                        <a [routerLink]="['/team', eventEntry.team?.id ]" >{{eventEntry.team?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="eventEntry.operatedBy">
                        <a [routerLink]="['/team', eventEntry.operatedBy?.id ]" >{{eventEntry.operatedBy?.name}}</a>
                    </div>
                </td>
                <td *ngIf="!eventEdition.singleChassis">
                    <div *ngIf="eventEntry.chassis">
                        <a [routerLink]="['/chassis', eventEntry.chassis?.id ]" >{{eventEntry.chassis?.manufacturer}} {{eventEntry.chassis?.name}}</a>
                    </div>
                </td>
                <td *ngIf="!eventEdition.singleEngine">
                    <div *ngIf="eventEntry.engine">
                        <a [routerLink]="['/engine', eventEntry.engine?.id ]" >{{eventEntry.engine?.manufacturer}} {{eventEntry.engine?.name}}</a>
                    </div>
                </td>
                <td *ngIf="eventEdition.allowedCategories.length != 1">
                    <div *ngIf="eventEntry.engine">
                        <a [routerLink]="['/category', eventEntry.category?.id ]" >{{eventEntry.category.shortname}}</a>
                    </div>
                </td>
                <td *ngIf="!eventEdition.singleTyre">
                    <div *ngIf="eventEntry.tyres?.logoUrl">
                        <a [routerLink]="['/tyre-provider', eventEntry.tyres?.id ]" >
                        	<img [src]="eventEntry.tyres?.logoUrl" style="max-width: 50px;" alt="tyres logo"/>
                        </a>
                    </div>
                </td>
                <td *ngIf="!eventEdition.singleFuel">
                    <div *ngIf="eventEntry.fuel">
                        <a [routerLink]="['/fuel-provider', eventEntry.fuel?.id ]" >
                        	<img [src]="eventEntry.fuel?.logoUrl" style="max-width: 50px;" alt="fuel logo"/>
                        </a>
                    </div>
                </td>
                
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                                [routerLink]="['/', { outlets: { popup: 'event-entry/'+ eventEntry.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN']"
                                [routerLink]="['/', { outlets: { popup: 'event-entry/'+ eventEntry.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                        </button>
                    </div>
                </td>
            </tr>
	    </tbody>
	</table>
</div>
<button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
   	class="btn btn-success float-right" [routerLink]="['/', { outlets: { popup: eventEdition.id + '/copy-entries' } }]">
    <span class="fa fa-plus"></span>
    <span class="hidden-sm-down"  jhiTranslate="motorsportsDatabaseApp.eventEdition.copyEntries.copyLabel">
    Create new Event Entry
    </span>
</button>
<button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
   	class="btn btn-primary float-right create-event-entry" [routerLink]="['/', { outlets: { popup: eventEdition.id + '/event-entry-new' } }]">
    <span class="fa fa-plus"></span>
    <span class="hidden-sm-down"  jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.addLabel">
    Create new Event Entry
    </span>
</button>
