<ng-template #driverTemplate let-r="result">
	{{r.fullName}}
</ng-template>

<ng-template #teamTemplate let-r="result">
	{{r.name}}
</ng-template>

<ng-template #chassisTemplate let-r="result">
	{{r.manufacturer}} {{r.name}}
</ng-template>

<ng-template #engineTemplate let-r="result">
	{{r.manufacturer}} {{r.name}}
</ng-template>

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEventEntryLabel" jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.createOrEditLabel">Create or edit a Event Entry</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
			<div class="col-lg-3 col-md-3">
		        <div class="form-group">
		            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.raceNumber" for="field_raceNumber">Race Number</label>
		            <input type="text" class="form-control" name="raceNumber" id="field_raceNumber" [(ngModel)]="eventEntry.raceNumber" required />
		            <div [hidden]="!(editForm.controls.raceNumber?.dirty && editForm.controls.raceNumber?.invalid)">
		                <small class="form-text text-danger"
		                   [hidden]="!editForm.controls.raceNumber?.errors?.required" jhiTranslate="entity.validation.required">
		                   This field is required.
		                </small>
		            </div>
		        </div>
	        </div>
	        <div *ngIf="!eventEntry.eventEdition.multidriver" class="col-lg-9 col-md-9">
		        <div class="form-group">
		        	<div class="row">
						<div class="col-lg-8 col-md-8">
				            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.driver" for="field_driver">Driver</label>
				            <input id="field_driver" type="text" name="field_driver" class="form-control" [inputFormatter]="inputDriverFormatter"
				            	[ngbTypeahead]="searchDriver" [focusFirst]="false" [resultTemplate]="driverTemplate" [(ngModel)]="singleDriver" required/>
				            <div [hidden]="!(editForm.controls.driver?.dirty && editForm.controls.driver?.invalid)">
				                <small class="form-text text-danger"
				                   [hidden]="!editForm.controls.driver?.errors?.required" jhiTranslate="entity.validation.required">
				                   This field is required.
				                </small>
				            </div>
				        </div>
				        <div class="col-lg-4 col-md-4">
				        	<label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.rookie" for="field_rookie">Rookie</label>
				        	<i [ngClass]="eventEntry.rookie ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'" (click)="eventEntry.rookie = !eventEntry.rookie"></i>
				        </div>
				    </div>
		        </div>
	        </div>
	        <div *ngIf="eventEntry.eventEdition.multidriver" class="col-lg-9 col-md-9">
		        <div class="form-group">
		            <div class="row">
						<div class="col-lg-6 col-md-6">
				            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.driver" for="field_driver">Driver</label>
				            <input #typeahead id="field_driver" type="text" name="field_driver" class="form-control" [inputFormatter]="inputDriverFormatter"
				            	[ngbTypeahead]="searchDriver" [focusFirst]="false" [resultTemplate]="driverTemplate" (selectItem)="onDriverSelected($event, typeahead)" required/>
						</div>
						<div class="col-lg-6 col-md-6">
							<select class="form-control" multiple name="drivers" [value]="eventEntry.drivers" (dblclick)="removeDriver($event)" required>
				                <option *ngFor="let driver of eventEntry.drivers" [value]="driver.id">{{driver.fullName}}</option>
				            </select>
				            <small class="form-text" jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.doubleClick">
			                   Double click on driver to remove from entry
			                </small>
						</div>
					</div>
		        </div>
	        </div>
        </div>
        <div class="form-group">
	        <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.teamName" for="field_entryName">Entry Name</label>
	        <input type="text" class="form-control" name="entryName" id="field_entryName" [(ngModel)]="eventEntry.entryName" required maxlength="100" />
	        <div [hidden]="!(editForm.controls.entryName?.dirty && editForm.controls.entryName?.invalid)">
	            <small class="form-text text-danger"
	               [hidden]="!editForm.controls.entryName?.errors?.required" jhiTranslate="entity.validation.required">
	               This field is required.
	            </small>
	            <small class="form-text text-danger"
	               [hidden]="!editForm.controls.entryName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
	               This field cannot be longer than 100 characters.
	            </small>
	        </div>
	    </div>
	    <div class="row">
			<div class="col-lg-6 col-md-6">
		        <div class="form-group">
		            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.team" for="field_team">Team</label>
		            <input id="field_team" type="text" name="field_team" class="form-control" [inputFormatter]="inputTeamFormatter"
				        [(ngModel)]="eventEntry.team" [ngbTypeahead]="searchTeam" [focusFirst]="false" [resultTemplate]="teamTemplate"/>
		        </div>
	        </div>
	        <div class="col-lg-6 col-md-6">
		        <div class="form-group">
		            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.operatedBy" for="field_operatedBy">Operated By</label>
		            <input id="field_operatedBy" type="text" name="field_operatedBy" class="form-control" [inputFormatter]="inputTeamFormatter"
				        [(ngModel)]="eventEntry.operatedBy" [ngbTypeahead]="searchTeam" [focusFirst]="false" [resultTemplate]="teamTemplate"/>
		        </div>
	        </div>
        </div>
        <div class="form-group">
	        <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.category" for="field_category">Category</label>
	        <select class="form-control" id="field_category" name="category" [(ngModel)]="eventEntry.category" required>
                <option *ngFor="let category of allowedCategories; trackBy: trackCategoryById" 
                		[ngValue]="category.id === eventEntry.category?.id ? eventEntry.category : category">{{category.name}}</option>
            </select>
	        <div [hidden]="!(editForm.controls.entryName?.dirty && editForm.controls.entryName?.invalid)">
	            <small class="form-text text-danger"
	               [hidden]="!editForm.controls.entryName?.errors?.required" jhiTranslate="entity.validation.required">
	               This field is required.
	            </small>
	        </div>
	    </div>
	    <div class="row">
			<div class="col-lg-6 col-md-6">
		        <div class="form-group">
		            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.chassis" for="field_chassis">Chassis</label>
		            <input id="field_chassis" type="text" name="field_chassis" class="form-control" [inputFormatter]="inputChassisFormatter"
				        [(ngModel)]="eventEntry.chassis" [ngbTypeahead]="searchChassis" [focusFirst]="false" [resultTemplate]="chassisTemplate" required/>
		            <div [hidden]="!(editForm.controls.chassis?.dirty && editForm.controls.chassis?.invalid)">
		                <small class="form-text text-danger"
		                   [hidden]="!editForm.controls.chassis?.errors?.required" jhiTranslate="entity.validation.required">
		                   This field is required.
		                </small>
		            </div>
		        </div>
	        </div>
	        <div class="col-lg-6 col-md-6">
		        <div class="form-group">
		            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.engine" for="field_engine">Engine</label>
		            <input id="field_engine" type="text" name="field_engine" class="form-control" [inputFormatter]="inputEngineFormatter"
				        [(ngModel)]="eventEntry.engine" [ngbTypeahead]="searchEngine" [focusFirst]="false" [resultTemplate]="engineTemplate"/>
		            <div [hidden]="!(editForm.controls.engine?.dirty && editForm.controls.engine?.invalid)">
		                <small class="form-text text-danger"
		                   [hidden]="!editForm.controls.engine?.errors?.required" jhiTranslate="entity.validation.required">
		                   This field is required.
		                </small>
		            </div>
		        </div>
	        </div>
        </div>
        <div class="row">
			<div class="col-lg-6 col-md-6">
		        <div class="form-group">
		            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.tyres" for="field_tyres">Tyres</label>
		            <input id="field_tyres" type="text" name="field_tyres" class="form-control" [inputFormatter]="inputTyresFormatter"
				        [(ngModel)]="eventEntry.tyres" [ngbTypeahead]="searchTyres" [focusFirst]="false" [resultTemplate]="teamTemplate" required/>
		        </div>
	        </div>
	        <div class="col-lg-6 col-md-6">
		        <div class="form-group">
		            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.fuel" for="field_fuel">Fuel</label>
		            <input id="field_fuel" type="text" name="field_fuel" class="form-control" [inputFormatter]="inputFuelFormatter"
				        [(ngModel)]="eventEntry.fuel" [ngbTypeahead]="searchFuel" [focusFirst]="false" [resultTemplate]="teamTemplate"/>
		        </div>
	        </div>
        </div>
        <div class="row">
        	<div class="col-md-12">
	        	<div class="form-group">
		            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.eventEdition.entry.carImage" for="field_carImage">Car image</label>
		            <div>
		                <img [src]="eventEntry.carImageUrl" style="max-height: 100px;" *ngIf="!eventEntry.carImage && eventEntry.carImageUrl != null" alt="car image"/>
		                <img [src]="'data:' + eventEntry.carImageContentType + ';base64,' + eventEntry.carImage" style="max-height: 100px;" *ngIf="eventEntry.carImage" alt="car image"/>
		                <div *ngIf="eventEntry.carImageUrl || eventEntry.carImage" class="form-text text-danger clearfix">
		                    <button type="button" (click)="eventEntry.carImageUrl=null; eventEntry.carImage=null;"
		                            class="btn btn-default btn-xs pull-right">
		                        <span class="fa fa-times"></span>
		                    </button>
		                </div>
		                <input type="file" (change)="setFileData($event, eventEntry, 'carImage', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
		            </div>
		            <input type="hidden" class="form-control" name="carImage" id="field_carImage" [(ngModel)]="eventEntry.carImage"/>
		            <input type="hidden" class="form-control" name="carImageContentType" id="field_carImageContentType" [(ngModel)]="eventEntry.carImageContentType" />
		        </div>
			</div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
