<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tyreProvider">
            <h2>{{tyreProvider.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <ngb-tabset>
                <ngb-tab title="{{'entity.detail.info' | translate}}">
                    <ng-template ngbTabContent>
                        <dl class="row-md jh-entity-details">
                            <dt><span jhiTranslate="motorsportsDatabaseApp.tyreProvider.name">Name</span></dt>
                            <dd>
                                <span>{{tyreProvider.name}}</span>
                            </dd>
                            <dt><span jhiTranslate="motorsportsDatabaseApp.tyreProvider.logo">Logo</span></dt>
                            <dd>
                                <div *ngIf="tyreProvider.logoUrl">
                                    <img [src]="tyreProvider.logoUrl" style="max-height: 200px;" alt="tyre provider logo"/>
                                </div>
                            </dd>
                        </dl>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="{{'entity.detail.statistics' | translate}}">
                    <ng-template ngbTabContent>
                        <jhi-statistics [id]="tyreProvider.id" [statsType]="'engine'">Statistics...</jhi-statistics>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                    [routerLink]="['/tyre-provider', tyreProvider.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
