<ngb-tabset>
	<ngb-tab title="{{'motorsportsDatabaseApp.series.seriesEdition.detail.info' | translate}}">
		<ng-template ngbTabContent>
			<div class="row">
				<div class="card-deck col-md-12">
					<div class="card col-md-4">
						<div class="card-block">
							<h4 class="card-title">{{'motorsportsDatabaseApp.series.seriesEdition.detail.driversStandings' | translate}}</h4>
							<div class="card-text">
								<table class="table table-sm">
									<thead>
										<tr>
											<th></th>
											<th>{{'motorsportsDatabaseApp.series.seriesEdition.detail.driver' | translate}}</th>
											<th>{{'motorsportsDatabaseApp.series.seriesEdition.detail.points' | translate}}</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let driver of drivers; let i = index">
											<td>{{i + 1}}</td>
											<td>{{driver.driverName}}</td>
											<td>{{driver.points}}</td>
											<td><div (click)="getPointsDetail(driver.driverId)"><i class="fa fa-search" aria-hidden="true"></i></div></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card col-md-4" *ngIf="teams">
						<div class="card-block">
							<h4 class="card-title">{{'motorsportsDatabaseApp.series.seriesEdition.detail.teamsStandings' | translate}}</h4>
							<div class="card-text">
								<table class="table table-sm">
									<thead>
										<tr>
											<th></th>
											<th>{{'motorsportsDatabaseApp.series.seriesEdition.detail.team'	| translate}}</th>
											<th>{{'motorsportsDatabaseApp.series.seriesEdition.detail.points' | translate}}</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let team of teams; let i = index">
											<td>{{i + 1}}</td>
											<td>{{team.teamName}}</td>
											<td>{{team.points}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card col-md-4" *ngIf="manufacturers">
						<div class="card-block">
							<h4 class="card-title">{{'motorsportsDatabaseApp.series.seriesEdition.detail.manufacturersStandings' | translate}}</h4>
							<div class="card-text">
								<table class="table table-sm">
									<thead>
										<tr>
											<th></th>
											<th>{{'motorsportsDatabaseApp.series.seriesEdition.detail.manufacturer'	| translate}}</th>
											<th>{{'motorsportsDatabaseApp.series.seriesEdition.detail.points' | translate}}</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let manufacturer of manufacturers; let i = index">
											<td>{{i + 1}}</td>
											<td>{{manufacturer.manufacturerName}}</td>
											<td>{{manufacturer.points}}</td>
										</tr>
									</tbody>
								</table>
							</div>
					</div>
				</div>
			</div>
		</ng-template>
	</ngb-tab>
	<ngb-tab title="{{'motorsportsDatabaseApp.series.seriesEdition.detail.pointsPerRace' | translate}}" *ngIf="showExtendedStandings">
		<ng-template ngbTabContent>
			<table class="table table-sm">
				<thead>
					<tr>
						<th *ngFor="let eventName of pointsByRace[0]">{{eventName}}</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let row of pointsByRace | slice:1">
				        <td *ngFor="let value of row">{{value}}</td>
				    </tr>
				</tbody>
			</table>
		</ng-template>
	</ngb-tab>
	<ngb-tab title="{{'motorsportsDatabaseApp.series.seriesEdition.detail.graphics' | translate}}" *ngIf="showExtendedStandings">
		<ng-template ngbTabContent>
			<div class="row">
        		<div class="col-lg-10 col-md-10">
        			<p-chart type="line" [data]="data" [options]="options"></p-chart>
        		</div>
        		<div class="col-lg-2 col-md-2">
        			<div *ngFor="let driver of drivers">
        				<p-checkbox  name="groupDrivers" [(ngModel)]="selectedDrivers" 
							[value]="driver.driverName" [label]="driver.driverName" (onChange)="refreshGraphic()">
		        		</p-checkbox>
        			</div>
        		</div>
        	</div>
		</ng-template>
	</ngb-tab>
</ngb-tabset>