<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
                        <img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/iclavijos" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a routerLink="/legal/privacy" routerLinkActive="active">Privacy</a>
                </li>
                <li>
                    <a routerLink="/legal/terms-conditions" routerLinkActive="active">Terms & Conditions</a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with Material Dashboard provided by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
        </div>
    </div>
</footer>
