<div class="footer">
	<div class="row">
    	<div class="col-log-10 col-md-10">
    		<span>
		    	<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
		    		<img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
		    	</a>
		    	<span jhiTranslate="footer.license">License</span>
		    </span>
    	</div>
    	<div class="col-lg-2 col-md-2 text-right margin-right: 20px">
    		<a href="https://twitter.com/iclavijos" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
    		<a href="https://www.facebook.com/iclavijos" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
    		<a href="https://plus.google.com/114827445056752432135" target="_blank"><i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i></a>
    	</div>
    </div>
</div>
