<!-- footer class="card">
    <div class="row">
        <div class="col-3 d-flex justify-content-start">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"> <img alt="Licencia de Creative Commons" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" style="border-width: 0;"> </a>
        </div>
        <div class="col-2 d-flex justify-content-center">
            <a href="https://www.buymeacoffee.com/iclavijos" target="_buymecoffe">
                <img src="https://img.buymeacoffee.com/button-api/?text=Buy me a pizza&emoji=🍕&slug=iclavijos&button_colour=FF5F5F&font_colour=ffffff&font_family=Cookie&outline_colour=000000&coffee_colour=FFDD00">
            </a>
        </div>
        <div class="col-3">
            <a href="https://twitter.com/iclavijos" target="_blank"><i aria-hidden="true" class="fa fa-twitter-square fa-2x"></i></a>
        </div>
        <div class="col-3">
            <a routerlink="/legal/privacy" routerlinkactive="active" href="/legal/privacy">Privacy</a>
        </div>
        <div class="col-3">
            <a routerlink="/legal/terms-conditions" routerlinkactive="active" href="/legal/terms-conditions">Terms &amp; Conditions</a>
        </div>
    </div>
</footer -->

<footer class="card">
    <div class="row">
        <div class="col text-right">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"> <img alt="Licencia de Creative Commons" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" style="border-width: 0;"> </a>
        </div>
        <div class="col text-center">
            <a href="https://www.buymeacoffee.com/iclavijos" target="_buymecoffe">
                <img src="https://img.buymeacoffee.com/button-api/?text=Buy me a pizza&emoji=🍕&slug=iclavijos&button_colour=FF5F5F&font_colour=ffffff&font_family=Cookie&outline_colour=000000&coffee_colour=FFDD00">
            </a>
        </div>
    </div>
</footer>
