<div *ngIf="races">
    <div *ngIf="races.length === 1">
        <jhi-race-data [session]="races[0]" [eventEdition]="eventEdition"
            [entries]="eventEntries">Race data</jhi-race-data>
    </div>
    <div *ngIf="races.length !== 1">
        <mat-tab-group dynamicHeight mat-stretch-tabs>
            <mat-tab *ngFor="let race of races" label="{{ race.name }}">
                <div>
                    <jhi-race-data [session]="race" [eventEdition]="eventEdition"
                        [entries]="eventEntries">Race data</jhi-race-data>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
