<mat-tab-group dynamicHeight mat-stretch-tabs (selectedTabChange)="onChangeTab($event)">
    <mat-tab label="{{'motorsportsDatabaseApp.lapbylap.gaps' | translate }}">
        <div class="row">
            <div class="col-sm-12">
                <div class="float-right" *ngIf="eventEdition.allowedCategories.length > 1">
                    <mat-form-field>
                        <mat-label>{{'motorsportsDatabaseApp.lapbylap.filterCategory' | translate}}</mat-label>
                        <mat-select [(ngModel)]="categoryToFilter" (ngModelChange)="filterCategories(true)">
                            <mat-option *ngFor="let category of eventEdition.allowedCategories" [value]="category.shortname">{{category.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-right">
                <mat-button-toggle-group #viewType="matButtonToggleGroup" value="list">
                    <mat-button-toggle value="list" aria-label="List info view">
                        <mat-icon>dns</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle value="grid" aria-label="Grid view">
                        <mat-icon>view_module</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle value="graphic" aria-label="Graphic view">
                        <mat-icon>stacked_line_chart</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
        <div class="row" *ngIf="viewType.value === 'list'">
            <div class="col-12">
                <div *ngTemplateOutlet="raceGapsListViewTemplate"></div>
            </div>
        </div>
        <div class="row" *ngIf="viewType.value === 'grid'">
            <div class="col-12">
                <div *ngTemplateOutlet="raceGapsGridViewTemplate"></div>
            </div>
        </div>
        <div class="row" *ngIf="viewType.value === 'graphic'">
            <div class="col-12">
                <div *ngTemplateOutlet="raceGapsGraphicViewTemplate"></div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="{{'motorsportsDatabaseApp.lapbylap.driverPerformance' | translate }}">
        <div class="row">
            <div class="col-sm-12">
                <div class="float-right" *ngIf="eventEdition.allowedCategories.length > 1">
                    <mat-form-field>
                        <mat-label>{{'motorsportsDatabaseApp.lapbylap.filterCategory' | translate}}</mat-label>
                        <mat-select [(ngModel)]="categoryToFilter" (ngModelChange)="filterCategories(true)">
                            <mat-option *ngFor="let category of eventEdition.allowedCategories" [value]="category.shortname">{{category.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="float-right">
                    <mat-form-field>
                        <mat-label>{{'motorsportsDatabaseApp.lapbylap.filterResults' | translate}}</mat-label>
                        <mat-select [(ngModel)]="numberOfResults" (ngModelChange)="filterResults(true)">
                            <mat-option [value]="0">{{'motorsportsDatabaseApp.lapbylap.filterResultsAll' | translate}}</mat-option>
                            <mat-option [value]="5">{{'motorsportsDatabaseApp.lapbylap.filterResultsBest5' | translate}}</mat-option>
                            <mat-option [value]="10">{{'motorsportsDatabaseApp.lapbylap.filterResultsBest10' | translate}}</mat-option>
                            <mat-option [value]="20">{{'motorsportsDatabaseApp.lapbylap.filterResultsBest20' | translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <highcharts-chart
                    [Highcharts]="Highcharts"
                    [options]="chartOptions"
                    style="width: 100%; height: 1200px; display: block;"
                    (chartInstance)="saveChartInstance($event)"
                ></highcharts-chart>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="{{'motorsportsDatabaseApp.lapbylap.lapTimes' | translate }}">
        <div class="row">
            <div class="col-md-12">
                <div class="float-right" *ngIf="eventEdition.allowedCategories.length > 1">
                    <mat-form-field>
                        <mat-label>Filter by category</mat-label>
                        <mat-select [(ngModel)]="categoryToFilter" (ngModelChange)="resetCategoryLapTimes()">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let category of eventEdition.allowedCategories" [value]="category.shortname">{{category.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div *ngFor="let t of temp(math.ceil(getFilteredDrivers().length/4)).fill(0); index as i" class="row">
            <div *ngFor="let item of getFilteredDrivers().slice(4*i,4*(i + 1));" class="col-md-3">
                <mat-checkbox [value]="item.raceNumber"
                              [checked]="isChecked(item.raceNumber)"
                    (change)="refreshLapTimesTable(item.raceNumber, $event)">#{{ item.raceNumber }} {{ item.driversNames }}
                </mat-checkbox>
            </div>
        </div>

        <table *ngIf="lapNumbers" class="table table-sm">
            <thead>
            <tr>
                <th>{{'motorsportsDatabaseApp.lapbylap.lap' | translate}}</th>
                <th *ngFor="let header of headers">{{header}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let number of lapNumbers; let isOdd=odd; let isEven=even" [class.even]="isEven">
                <td>{{number + 1}}</td>
                <td *ngFor="let piloto of lapTimes">
                    <div *ngIf="(number + 1) <= piloto.laps.length">
                        <span matTooltip="{{ piloto.laps[number].driverName }}">{{piloto.laps[number].lapTime | timeMaskPipe : true : false}}</span> <span *ngIf="piloto.laps[number].pitstop">P</span>&nbsp;
                        <i class="fa fa-circle" *ngIf="piloto.laps[number].personalBest || piloto.laps[number].fastLap || piloto.laps[number].fastestLap"
                           [class.personalBest]="piloto.laps[number].personalBest"
                           [class.fastLap]="piloto.laps[number].fastLap"
                           [class.fastestLap]="piloto.laps[number].fastestLap"></i>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                <span>{{'motorsportsDatabaseApp.lapbylap.legend' | translate}}</span>
                <i class="fa fa-circle fastestLap"></i>{{'motorsportsDatabaseApp.lapbylap.fastestLap' | translate}}&nbsp;
                <i class="fa fa-circle fastLap"></i>{{'motorsportsDatabaseApp.lapbylap.fastLap' | translate}}&nbsp;
                <i class="fa fa-circle personalBest"></i>{{'motorsportsDatabaseApp.lapbylap.personalBest' | translate}}
            </div>
        </div>
    </mat-tab>
    <mat-tab label="{{'motorsportsDatabaseApp.lapbylap.lapCharts' | translate }}">
        <div class="row">
            <div class="col-md-12">
                <div class="float-right" *ngIf="eventEdition.allowedCategories.length > 1">
                    <mat-form-field>
                        <mat-label>Filter by category</mat-label>
                        <mat-select [(ngModel)]="categoryToFilter" (ngModelChange)="resetCategoryLapTimes()">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let category of eventEdition.allowedCategories" [value]="category.shortname">{{category.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div *ngFor="let t of temp(math.ceil(getFilteredDrivers().length/4)).fill(0); index as i" class="row">
                    <div *ngFor="let item of getFilteredDrivers().slice(4*i,4*(i + 1));" class="col-md-3">
                        <mat-checkbox [value]="item.raceNumber"
                                      [checked]="isChecked(item.raceNumber)"
                                      (change)="refreshLapTimesTable(item.raceNumber, $event)">#{{ item.raceNumber }} {{ item.driversNames }}
                        </mat-checkbox>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{'motorsportsDatabaseApp.lapbylap.lapsRange' | translate}}</label>
            <div class="col-sm-10">
                <ngx-slider
                    [(value)]="lapsRangeFrom"
                    [(highValue)]="lapsRangeTo"
                    [options]="optionsSlider"
                    (userChange)="changeLapsRange($event)">
                </ngx-slider>
            </div>
        </div>
        <div *ngIf="lapTimes.length > 0" class="row">
            <div class="col-md-12">
                <p-chart type="line" [data]="data" [options]="options"></p-chart>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="{{'motorsportsDatabaseApp.lapbylap.averages' | translate }}">
        <div class="row">
            <div class="col-sm-12">
                <div class="float-right" *ngIf="eventEdition.allowedCategories.length > 1">
                    <mat-form-field>
                        <mat-label>Filter by category</mat-label>
                        <mat-select [(ngModel)]="categoryToFilter" (ngModelChange)="refreshAverages()">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let category of eventEdition.allowedCategories" [value]="category.shortname">{{category.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="card-deck col-md-12">
                        <div class="card col-md-3">
                            <div class="card-block">
                                <h4 class="card-title">{{'motorsportsDatabaseApp.lapbylap.best5' | translate}}</h4>
                                <div class="card-text">
                                    <table class="table table-sm">
                                        <thead>
                                        <tr>
                                            <th>{{'motorsportsDatabaseApp.lapbylap.driverName'	| translate}}</th>
                                            <th>{{'motorsportsDatabaseApp.lapbylap.average' | translate}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let avg of getTopTen5BestLaps()"> <!-- [class.even]="isEven" -->
                                            <td>{{avg.driverName}}</td><td>{{avg.best5Avg | timeMaskPipe : true : false }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card col-md-3">
                            <div class="card-block">
                                <h4 class="card-title">{{'motorsportsDatabaseApp.lapbylap.best10' | translate}}</h4>
                                <div class="card-text">
                                    <table class="table table-sm">
                                        <thead>
                                        <tr>
                                            <th>{{'motorsportsDatabaseApp.lapbylap.driverName'	| translate}}</th>
                                            <th>{{'motorsportsDatabaseApp.lapbylap.average' | translate}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let avg of getTopTen10BestLaps()"> <!-- [class.even]="isEven" -->
                                            <td>{{avg.driverName}}</td><td>{{avg.best10Avg | timeMaskPipe : true : false }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card col-md-3">
                            <div class="card-block">
                                <h4 class="card-title">{{'motorsportsDatabaseApp.lapbylap.best20' | translate}}</h4>
                                <div class="card-text">
                                    <table class="table table-sm">
                                        <thead>
                                        <tr>
                                            <th>{{'motorsportsDatabaseApp.lapbylap.driverName'	| translate}}</th>
                                            <th>{{'motorsportsDatabaseApp.lapbylap.average' | translate}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let avg of getTopTen20BestLaps()"> <!-- [class.even]="isEven" -->
                                            <td>{{avg.driverName}}</td><td>{{avg.best20Avg | timeMaskPipe : true : false }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card col-md-3">
                            <div class="card-block">
                                <h4 class="card-title">{{'motorsportsDatabaseApp.lapbylap.best50' | translate}}</h4>
                                <div class="card-text">
                                    <table class="table table-sm">
                                        <thead>
                                        <tr>
                                            <th>{{'motorsportsDatabaseApp.lapbylap.driverName'	| translate}}</th>
                                            <th>{{'motorsportsDatabaseApp.lapbylap.average' | translate}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let avg of getTopTen50BestLaps()"> <!-- [class.even]="isEven" -->
                                            <td>{{avg.driverName}}</td><td>{{avg.best50Avg | timeMaskPipe : true : false }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"><h4>{{'motorsportsDatabaseApp.lapbylap.avgPerDriver' | translate}}</h4></div>
                    <div *ngFor="let t of temp(math.ceil(selectedDriversAvg.selectedOptions.selected.length/5)).fill(0); index as i" class="card-deck col-md-12">
                        <div *ngFor="let item of selectedDriversAvg.selectedOptions.selected.slice(5*i,5*(i + 1));" class="col-md-2">
                            <ng-container
                                *ngTemplateOutlet="driverAveragesBlock;context:{driver: getDriverDataByDriverName(item)}">
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <mat-selection-list #selectedDriversAvg>
                    <mat-list-option *ngFor="let item of sortedDriversAverages()" checkboxPosition="before"
                                     [value]="item" [selected]="isChecked(item.raceNumber)">
                        #{{ item.raceNumber }} {{ item.driverName }}
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="{{'motorsportsDatabaseApp.lapbylap.raceHistory' | translate }}">
        <div class="row">
            <div class="col-md-12">
                <p-chart type="line" [data]="dataRaceChart" [options]="optionsRaceChart">Race chart</p-chart>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Tyres usage" *ngIf="tyreCompounds.soft !== ''">
        Lala
    </mat-tab>
</mat-tab-group>

<ng-template #driverAveragesBlock let-driver="driver">
<div class="card-block">
    <h5 class="card-title">{{driver.driverName}}</h5>
    <div class="card-text">
        <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="motorsportsDatabaseApp.lapbylap.best5">Best 5</span></dt>
            <dd>
                <span>{{driver.best5Avg | timeMaskPipe : true : false }}</span>
            </dd>
            <dt><span jhiTranslate="motorsportsDatabaseApp.lapbylap.best10">Best 10</span></dt>
            <dd>
                <span>{{driver.best10Avg | timeMaskPipe : true : false }}</span>
            </dd>
            <dt><span jhiTranslate="motorsportsDatabaseApp.lapbylap.best20">Best 20</span></dt>
            <dd>
                <span>{{driver.best20Avg | timeMaskPipe : true : false }}</span>
            </dd>
            <dt><span jhiTranslate="motorsportsDatabaseApp.lapbylap.best50">Best 50</span></dt>
            <dd>
                <span>{{driver.best50Avg | timeMaskPipe : true : false }}</span>
            </dd>
            <dt><span jhiTranslate="motorsportsDatabaseApp.lapbylap.stints">Stints</span></dt>
            <dd>
                <span *ngFor="let stint of driver.lapsStint; index as i">
                    {{'motorsportsDatabaseApp.lapbylap.stint' | translate}} {{i + 1}}: [{{stint}}]: {{driver.averagePerStint[i] | timeMaskPipe : true : false }}<br/>
                </span>
            </dd>
            <dt *ngIf="driver.bestS1"><span jhiTranslate="motorsportsDatabaseApp.lapbylap.perfectLap">Perfect Lap</span></dt>
            <dd *ngIf="driver.bestS1">
                <span>{{driver.bestS1 + driver.bestS2 + driver.bestS3 | timeMaskPipe : true : false }}<br/>
                    S1: {{driver.bestS1 | timeMaskPipe : true : false }}<br/>
                    S2: {{driver.bestS2 | timeMaskPipe : true : false }}<br/>
                    S3: {{driver.bestS3 | timeMaskPipe : true : false }}</span>
            </dd>
            <dt><span jhiTranslate="motorsportsDatabaseApp.lapbylap.best20">Best Laps</span></dt>
            <dd>
                <span>
                    <table class="table table-sm">
                        <tbody>
                            <tr *ngFor="let t of temp(math.ceil(driver.bestLaps.length/2)).fill(0); index as i"> <!-- [class.even]="isEven" -->
                                <td>{{driver.bestLaps[i * 2].lapNumber}} - {{driver.bestLaps[i * 2].lapTime | timeMaskPipe : true : false }}</td>
                                <td *ngIf="(i*2) + 1 < driver.bestLaps.length">
                                    {{driver.bestLaps[(i * 2) + 1].lapNumber}} - {{driver.bestLaps[(i * 2) + 1].lapTime | timeMaskPipe : true : false }}</td>
                            </tr>
                        </tbody>
                    </table>
                </span>
            </dd>
        </dl>
    </div>
</div>
</ng-template>

<ng-template #raceGapsListViewTemplate>
    <div class="col-md-2 col-sm-6 col-12">
        <mat-form-field>
            <mat-label>{{'motorsportsDatabaseApp.lapbylap.lap' | translate}}</mat-label>
            <mat-select (selectionChange)="showRacePositions($event)">
                <mat-option *ngFor="let lap of raceChart" [value]="lap.lapNumber">
                    {{lap.lapNumber !== 0 ? lap.lapNumber : 'Grid'}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-6 col-sm-6 col-12">
        <mat-table #table [dataSource]="raceGapsDataSource">

            <ng-container matColumnDef="driver">
                <mat-header-cell *matHeaderCellDef> Driver </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.raceNumber}} - {{ element.driverName }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="tyreCompound">
                <mat-header-cell *matHeaderCellDef> Tyre </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <fa-icon [icon]="faCircle" *ngIf="element.tyreCompound.startsWith(tyreCompounds.hard)" class="hardCompound">
                    </fa-icon>
                    <i class="fa fa-circle" *ngIf="!element.tyreCompound.startsWith(tyreCompounds.hard)"
                       [class.mediumCompound]="element.tyreCompound.startsWith(tyreCompounds.medium)"
                       [class.softCompound]="element.tyreCompound.startsWith(tyreCompounds.soft)"></i>
                    <span>{{ element.tyreCompound }}</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="raceTime">
                <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index">
                    <span *ngIf="i !== 0 && element.accumulatedRaceTime > 0 && element.lostLaps === 0">
                        +{{ (element.accumulatedRaceTime - raceGapsDataSource.filteredData[0].accumulatedRaceTime) | timeMaskPipe : true : false }}
                    </span>
                    <span *ngIf="i !== 0 && element.accumulatedRaceTime > 0 && element.lostLaps > 0">
                        +{{ element.lostLaps }} {{ 'motorsportsDatabaseApp.eventEdition.enumerations.laps' | translate }}
                    </span>
                    <span *ngIf="i === 0">
                        {{ element.accumulatedRaceTime | timeMaskPipe : true : false}}
                    </span>
                    <span *ngIf="element.pitstop">
                        &nbsp;PIT
                    </span>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="raceGapsDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: raceGapsDisplayedColumns;"></mat-row>
        </mat-table>
    </div>
</ng-template>

<ng-template #raceGapsGridViewTemplate>
    <div class="table-container">
        <table mat-table class="table table-hover" [dataSource]="lapByLapDataSource">
            <ng-container matColumnDef="lap" sticky>
                <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
                <td mat-cell *matCellDef="let i = index">
                    <strong>
                        <span *ngIf="i === 0">{{ 'motorsportsDatabaseApp.lapbylap.grid' | translate }}</span>
                        <span *ngIf="i != 0">{{ 'motorsportsDatabaseApp.lapbylap.lap' | translate }} {{i}}</span>
                    </strong>
                </td>
            </ng-container>
            <ng-container *ngFor="let column of lapByLapColumns" [matColumnDef]="column.columnDef">
                <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
                <td mat-cell *matCellDef="let racePosition; let i = index; let isOdd=odd" [class.odd]="isOdd">
                    <div *ngIf="racePosition[column.columnDef]">
                        <div class="row">
                            <div class="col-12">
                                <span>#{{ racePosition[column.columnDef].raceNumber }} {{ racePosition[column.columnDef].driverName }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <span *ngIf="racePosition[column.columnDef].position === 1 && i !== 0">&nbsp;</span>
                                <span *ngIf="racePosition[column.columnDef].position > 1 && i > 0">+{{ (racePosition[column.columnDef].accumulatedRaceTime - racePosition['pos1'].accumulatedRaceTime) | timeMaskPipe : true : false }}</span>
                            </div>
                        </div>
                        <div class="row" *ngIf="racePosition[column.columnDef].tyreCompound">
                            <div class="col-12">
                                <fa-icon [icon]="faCircle" *ngIf="racePosition[column.columnDef].tyreCompound.startsWith(tyreCompounds.hard)"
                                     class="hardCompound">
                                </fa-icon>
                                <i class="fa fa-circle" *ngIf="!racePosition[column.columnDef].tyreCompound.startsWith(tyreCompounds.hard)"
                                   [class.mediumCompound]="racePosition[column.columnDef].tyreCompound.startsWith(tyreCompounds.medium)"
                                   [class.softCompound]="racePosition[column.columnDef].tyreCompound.startsWith(tyreCompounds.soft)"></i>
                                <span>{{ racePosition[column.columnDef].tyreCompound }}</span>
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="lapByLapDisplayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: lapByLapDisplayedColumns;"></tr>
        </table>
    </div>
</ng-template>

<ng-template #raceGapsGraphicViewTemplate>
    <div class="row">
        <div class="col-md-12">
            <p-chart type="line" [data]="gapsRaceChart" [options]="optionsGapsRaceChart">Gaps race chart</p-chart>
        </div>
    </div>
</ng-template>
