<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{ editForm.get('name').value }}</h4>
                        <p class="card-category">{{ 'motorsportsDatabaseApp.pointsSystem.home.createOrEditLabel' | translate }}</p>
                    </div>
                    <div class="card-body">
                        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                            <div class="row">
                                <div class="col-md-10">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motorsportsDatabaseApp.pointsSystem.name' | translate }}" type="text"
                                               class="form-control" name="name" id="field_name" formControlName="name">
                                        <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('name').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                                                This field cannot be longer than 50 characters.
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <label jhiTranslate="motorsportsDatabaseApp.pointsSystem.active">Active</label>
                                    <i [ngClass]="editForm.get('active').value ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'" (click)="editForm.get('active').value = !editForm.get('active').value"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motorsportsDatabaseApp.pointsSystem.description' | translate }}" type="text"
                                               class="form-control" name="description" id="field_description" formControlName="description">
                                        <div *ngIf="editForm.get('description').invalid && (editForm.get('description').dirty || editForm.get('description').touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('description').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                                                This field cannot be longer than 100 characters.
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motorsportsDatabaseApp.pointsSystem.points' | translate }}" type="text"
                                               class="form-control" name="name" id="field_points" formControlName="points">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motorsportsDatabaseApp.pointsSystem.pointsMostLeadLaps' | translate }}" type="number"
                                               class="form-control" name="name" id="field_pointsMostLeadLaps" formControlName="pointsMostLeadLaps">
                                        <div *ngIf="editForm.get('pointsMostLeadLaps').invalid">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('pointsMostLeadLaps').errors.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 10 }">
                                                Maximum value exceeded
                                            </small>
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('pointsMostLeadLaps').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                                                Minimum value exceeded
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motorsportsDatabaseApp.pointsSystem.pointsFastLap' | translate }}" type="number"
                                               class="form-control" name="name" id="field_pointsFastLap" formControlName="pointsFastLap">
                                        <div *ngIf="editForm.get('pointsFastLap').invalid">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('pointsFastLap').errors.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 10 }">
                                                Maximum value exceeded
                                            </small>
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('pointsFastLap').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                                                Minimum value exceeded
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motorsportsDatabaseApp.pointsSystem.pointsPole' | translate }}" type="number"
                                               class="form-control" name="name" id="field_pointsPole" formControlName="pointsPole">
                                        <div *ngIf="editForm.get('pointsPole').invalid">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('pointsPole').errors.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 10 }">
                                                Maximum value exceeded
                                            </small>
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('pointsPole').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                                                Minimum value exceeded
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motorsportsDatabaseApp.pointsSystem.pointsLeadLap' | translate }}" type="number"
                                               class="form-control" name="name" id="field_pointsLeadLap" formControlName="pointsLeadLap">
                                        <div *ngIf="editForm.get('pointsLeadLap').invalid">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('pointsLeadLap').errors.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 10 }">
                                                Maximum value exceeded
                                            </small>
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('pointsLeadLap').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                                                Minimum value exceeded
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row" *ngIf="editForm.get('pointsFastLap').value > 0">
                                <div class="form-group col-lg-12 col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <span jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsFastLapAwardedIf"></span>
                                        </div>
                                        <div class="card-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="form-group col-lg-6 col-md-6">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="{{ 'motorsportsDatabaseApp.pointsSystem.maxFinishinPositionFL' | translate }}" type="number"
                                                                   class="form-control" name="maxPosFastLap" id="field_maxPosFastLap" formControlName="maxPosFastLap">
                                                            <div *ngIf="editForm.get('maxPosFastLap').invalid">
                                                                <small class="form-text text-danger"
                                                                       *ngIf="editForm.get('maxPosFastLap').errors.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 100 }">
                                                                    Maximum value exceeded
                                                                </small>
                                                                <small class="form-text text-danger"
                                                                       *ngIf="editForm.get('maxPosFastLap').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                                                                    Minimum value exceeded
                                                                </small>
                                                            </div>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="form-group col-lg-4 col-md-4">
                                                        <label jhiTranslate="motorsportsDatabaseApp.pointsSystem.pitlaneStartAllowed">Pitlane start allowed</label>
                                                        <i [ngClass]="editForm.get('pitlaneStartAllowed').value ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'"
                                                           (click)="editForm.get('pitlaneStartAllowed').value = !editForm.get('pitlaneStartAllowed').value"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motorsportsDatabaseApp.pointsSystem.pointsRacePctCompletion1' | translate }}" type="number"
                                               class="form-control" name="racePctCompleted" id="field_racePctCompletion" formControlName="racePctCompleted">
                                        <div *ngIf="editForm.get('racePctCompleted').invalid">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('racePctCompleted').errors.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 100 }">
                                                Maximum value exceeded
                                            </small>
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('racePctCompleted').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                                                Minimum value exceeded
                                            </small>
                                        </div>
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motorsportsDatabaseApp.pointsSystem.pointsRacePctCompletion2' | translate }}" type="number"
                                               class="form-control" name="pctTotalPoints" id="field_totalPointsPct" formControlName="pctTotalPoints">
                                        <div *ngIf="editForm.get('pctTotalPoints').invalid">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('pctTotalPoints').errors.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 100 }">
                                                Maximum value exceeded
                                            </small>
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('pctTotalPoints').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                                                Minimum value exceeded
                                            </small>
                                        </div>
                                    </mat-form-field>
                                    <label jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsRacePctCompletion3">% of points assigned</label>
                                </div>
                            </div>

                            <div>
                                <button mat-raised-button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                </button>
                                <button mat-raised-button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
