<div>
    <h2>
        <span jhiTranslate="motorsportsDatabaseApp.pointsSystem.home.title">Points Systems</span>
        <button class="btn btn-primary float-right create-points-system" [routerLink]="['/', { outlets: { popup: ['points-system-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="motorsportsDatabaseApp.pointsSystem.home.createLabel">
            Create new Points System
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12 no-padding-right">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'motorsportsDatabaseApp.pointsSystem.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pointsSystems">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="motorsportsDatabaseApp.pointsSystem.name">Name</span></th>
            <th><span jhiTranslate="motorsportsDatabaseApp.pointsSystem.description">Description</span></th>
            <th><span jhiTranslate="motorsportsDatabaseApp.pointsSystem.points">Points</span></th>
            <th><span jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsMostLeadLaps">Points Most Lead Laps</span></th>
            <th><span jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsFastLap">Points Fast Lap</span></th>
            <th><span jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsPole">Points Pole</span></th>
            <th><span jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsLeadLap">Points Lead Lap</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pointsSystem of pointsSystems ;trackBy: trackId">
                <td><a [routerLink]="['../points-system', pointsSystem.id ]">{{pointsSystem.id}}</a></td>
                <td>{{pointsSystem.name}}</td>
                <td>{{pointsSystem.description}}</td>
                <td>{{pointsSystem.points}}</td>
                <td>{{pointsSystem.pointsMostLeadLaps}}</td>
                <td>{{pointsSystem.pointsFastLap}}</td>
                <td>{{pointsSystem.pointsPole}}</td>
                <td>{{pointsSystem.pointsLeadLap}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../points-system', pointsSystem.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'points-system/'+ pointsSystem.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'points-system/'+ pointsSystem.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
