

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPointsSystemLabel" jhiTranslate="motorsportsDatabaseApp.pointsSystem.home.createOrEditLabel">Create or edit a Points System</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!pointsSystem.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="pointsSystem.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.pointsSystem.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="pointsSystem.name"
            required maxlength="50" />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.pointsSystem.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="pointsSystem.description"
            required maxlength="100" />
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.pointsSystem.points" for="field_points">Points</label>
            <input type="number" class="form-control" name="points" id="field_points"
                [(ngModel)]="pointsSystem.points"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsMostLeadLaps" for="field_pointsMostLeadLaps">Points Most Lead Laps</label>
            <input type="number" class="form-control" name="pointsMostLeadLaps" id="field_pointsMostLeadLaps"
                [(ngModel)]="pointsSystem.pointsMostLeadLaps"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsFastLap" for="field_pointsFastLap">Points Fast Lap</label>
            <input type="number" class="form-control" name="pointsFastLap" id="field_pointsFastLap"
                [(ngModel)]="pointsSystem.pointsFastLap"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsPole" for="field_pointsPole">Points Pole</label>
            <input type="number" class="form-control" name="pointsPole" id="field_pointsPole"
                [(ngModel)]="pointsSystem.pointsPole"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsLeadLap" for="field_pointsLeadLap">Points Lead Lap</label>
            <input type="number" class="form-control" name="pointsLeadLap" id="field_pointsLeadLap"
                [(ngModel)]="pointsSystem.pointsLeadLap"
             />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
