<section class="content">
    <div class="container-fluid">
        <div class="block-header mt-n3">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item bcrumb-2">
                            <a routerLink="/"><fa-icon [icon]="['fas', 'arrow-alt-circle-right']" size="2x"></fa-icon></a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a routerLink="/event">{{ 'motorsportsDatabaseApp.event.home.title' | translate }}</a>
                        </li>
                        <li class="breadcrumb-item active">{{ event!.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="p-4">
                        <jhi-event-edition [event]="event!">Event editions...</jhi-event-edition>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
