

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEngineLabel" jhiTranslate="motorsportsDatabaseApp.engine.home.createOrEditLabel">Create or edit a Engine</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!engine.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="engine.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.engine.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="engine.name"
            required maxlength="50" />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.engine.manufacturer" for="field_manufacturer">Manufacturer</label>
            <input type="text" class="form-control" name="manufacturer" id="field_manufacturer"
                [(ngModel)]="engine.manufacturer"
            required maxlength="50" />
            <div [hidden]="!(editForm.controls.manufacturer?.dirty && editForm.controls.manufacturer?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.manufacturer?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.manufacturer?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.engine.capacity" for="field_capacity">Capacity</label>
            <input type="number" class="form-control" name="capacity" id="field_capacity"
                [(ngModel)]="engine.capacity"
            required />
            <div [hidden]="!(editForm.controls.capacity?.dirty && editForm.controls.capacity?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.capacity?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.capacity?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.engine.architecture" for="field_architecture">Architecture</label>
            <input type="text" class="form-control" name="architecture" id="field_architecture"
                [(ngModel)]="engine.architecture"
            required maxlength="10" />
            <div [hidden]="!(editForm.controls.architecture?.dirty && editForm.controls.architecture?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.architecture?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.architecture?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10 }">
                   This field cannot be longer than 10 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.engine.debutYear" for="field_debutYear">Debut Year</label>
            <input type="number" class="form-control" name="debutYear" id="field_debutYear"
                [(ngModel)]="engine.debutYear"
            required />
            <div [hidden]="!(editForm.controls.debutYear?.dirty && editForm.controls.debutYear?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.debutYear?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.debutYear?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.engine.petrolEngine" for="field_petrolEngine">Petrol Engine</label>
            <input type="checkbox" class="form-control" name="petrolEngine" id="field_petrolEngine"
                [(ngModel)]="engine.petrolEngine"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.engine.dieselEngine" for="field_dieselEngine">Diesel Engine</label>
            <input type="checkbox" class="form-control" name="dieselEngine" id="field_dieselEngine"
                [(ngModel)]="engine.dieselEngine"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.engine.electricEngine" for="field_electricEngine">Electric Engine</label>
            <input type="checkbox" class="form-control" name="electricEngine" id="field_electricEngine"
                [(ngModel)]="engine.electricEngine"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.engine.turbo" for="field_turbo">Turbo</label>
            <input type="checkbox" class="form-control" name="turbo" id="field_turbo"
                [(ngModel)]="engine.turbo"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.engine.image" for="field_image">Image</label>
            <div>
                <img [src]="'data:' + engine.imageContentType + ';base64,' + engine.image" style="max-height: 100px;" *ngIf="engine.image" alt="engine image"/>
                <div *ngIf="engine.image" class="form-text text-danger clearfix">
                    <span class="pull-left">{{engine.imageContentType}}, {{byteSize(engine.image)}}</span>
                    <button type="button" (click)="engine.image=null;engine.imageContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" (change)="setFileData($event, engine, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                [(ngModel)]="engine.image"
             />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                [(ngModel)]="engine.imageContentType" />
        </div>

        <div class="form-group">
            <label jhiTranslate="motorsportsDatabaseApp.engine.derivedFrom" for="field_derivedFrom">Derived From</label>
            <select class="form-control" id="field_derivedFrom" name="derivedFrom" [(ngModel)]="engine.derivedFrom" >
                <option [ngValue]="null"></option>
                <option [ngValue]="engineOption.id === engine.derivedFrom?.id ? engine.derivedFrom : engineOption" *ngFor="let engineOption of engines; trackBy: trackEngineById">{{engineOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
