<div>
    <h2 id="page-heading">
        <span jhiTranslate="motorsportsDatabaseApp.engine.home.title">Engines</span>
        <button id="jh-create-entity" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                class="btn btn-primary float-right jh-create-entity create-engine" [routerLink]="['/engine/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="motorsportsDatabaseApp.engine.home.createLabel">
            Create a new Engine
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'motorsportsDatabaseApp.engine.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="engines?.length === 0">
        <span jhiTranslate="motorsportsDatabaseApp.engine.home.notFound">No engines found</span>
    </div>
    <div class="table-responsive" *ngIf="engines?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="name"><span jhiTranslate="motorsportsDatabaseApp.engine.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="manufacturer"><span jhiTranslate="motorsportsDatabaseApp.engine.manufacturer">Manufacturer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="capacity"><span jhiTranslate="motorsportsDatabaseApp.engine.capacity">Capacity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="architecture"><span jhiTranslate="motorsportsDatabaseApp.engine.architecture">Architecture</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="debutYear"><span jhiTranslate="motorsportsDatabaseApp.engine.debutYear">Debut Year</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="petrolEngine"><span jhiTranslate="motorsportsDatabaseApp.engine.petrolEngine">Petrol Engine</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dieselEngine"><span jhiTranslate="motorsportsDatabaseApp.engine.dieselEngine">Diesel Engine</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="electricEngine"><span jhiTranslate="motorsportsDatabaseApp.engine.electricEngine">Electric Engine</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th scope="col"  jhiSortBy="otherEngine"><span jhiTranslate="motorsportsDatabaseApp.engine.otherEngine">Other Engine</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="turbo"><span jhiTranslate="motorsportsDatabaseApp.engine.turbo">Turbo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let engine of engines ;trackBy: trackId">
                <td>{{engine.name}}</td>
                <td>{{engine.manufacturer}}</td>
                <td>{{engine.capacity}}</td>
                <td>{{engine.architecture}}</td>
                <td>{{engine.debutYear}}</td>
                <td>{{engine.petrolEngine}}</td>
                <td>{{engine.dieselEngine}}</td>
                <td>{{engine.electricEngine}}</td>
                <td>{{engine.turbo}}</td>
                <td>
                    <a *ngIf="engine.image" (click)="openFile(engine.imageContentType, engine.image)">
                        <img [src]="'data:' + engine.imageContentType + ';base64,' + engine.image" style="max-height: 30px;" alt="engine image"/>
                    </a>
                    <span *ngIf="engine.image">{{engine.imageContentType}}, {{byteSize(engine.image)}}</span>
                </td>
                <td>
                    <div *ngIf="engine.derivedFrom">
                        <a [routerLink]="['/engine', engine.derivedFrom?.id, 'view' ]" >{{engine.derivedFrom?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/engine', engine.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                                [routerLink]="['/engine', engine.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                                [routerLink]="['/engine', { outlets: { popup: engine.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="engines?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
