<div>
    <h2 id="page-heading">
        <span jhiTranslate="motorsportsDatabaseApp.engine.home.title">Engines</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-engine" [routerLink]="['/engine/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="motorsportsDatabaseApp.engine.home.createLabel">
            Create new Engine
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'motorsportsDatabaseApp.engine.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="engines">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="motorsportsDatabaseApp.engine.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="manufacturer"><span jhiTranslate="motorsportsDatabaseApp.engine.manufacturer">Manufacturer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="capacity"><span jhiTranslate="motorsportsDatabaseApp.engine.capacity">Capacity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="architecture"><span jhiTranslate="motorsportsDatabaseApp.engine.architecture">Architecture</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="debutYear"><span jhiTranslate="motorsportsDatabaseApp.engine.debutYear">Debut Year</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="petrolEngine"><span jhiTranslate="motorsportsDatabaseApp.engine.petrolEngine">Petrol Engine</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dieselEngine"><span jhiTranslate="motorsportsDatabaseApp.engine.dieselEngine">Diesel Engine</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="electricEngine"><span jhiTranslate="motorsportsDatabaseApp.engine.electricEngine">Electric Engine</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="turbo"><span jhiTranslate="motorsportsDatabaseApp.engine.turbo">Turbo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="image"><span jhiTranslate="motorsportsDatabaseApp.engine.image">Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="derivedFrom.id"><span jhiTranslate="motorsportsDatabaseApp.engine.derivedFrom">Derived From</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let engine of engines ;trackBy: trackId">
                <td><a [routerLink]="['/engine', engine.id, 'view' ]">{{engine.id}}</a></td>
                <td>{{engine.name}}</td>
                <td>{{engine.manufacturer}}</td>
                <td>{{engine.capacity}}</td>
                <td>{{engine.architecture}}</td>
                <td>{{engine.debutYear}}</td>
                <td>{{engine.petrolEngine}}</td>
                <td>{{engine.dieselEngine}}</td>
                <td>{{engine.electricEngine}}</td>
                <td>{{engine.turbo}}</td>
                <td>
                    <a *ngIf="engine.image" (click)="openFile(engine.imageContentType, engine.image)">
                        <img [src]="'data:' + engine.imageContentType + ';base64,' + engine.image" style="max-height: 30px;" alt="engine image"/>
                    </a>
                    <span *ngIf="engine.image">{{engine.imageContentType}}, {{byteSize(engine.image)}}</span>
                </td>
                <td>
                    <div *ngIf="engine.derivedFrom">
                        <a [routerLink]="['../engine', engine.derivedFrom?.id, 'view' ]" >{{engine.derivedFrom?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/engine', engine.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/engine', engine.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'engine', { outlets: { popup: engine.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="engines && engines.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
