<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="driver">
      <h2 data-cy="driverDetailsHeading"><span jhiTranslate="motorsportsDatabaseApp.driver.detail.title">Driver</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ driver.id }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.driver.name">Name</span></dt>
        <dd>
          <span>{{ driver.name }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.driver.surname">Surname</span></dt>
        <dd>
          <span>{{ driver.surname }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.driver.birthDate">Birth Date</span></dt>
        <dd>
          <span>{{ driver.birthDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.driver.birthPlace">Birth Place</span></dt>
        <dd>
          <span>{{ driver.birthPlace }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.driver.deathDate">Death Date</span></dt>
        <dd>
          <span>{{ driver.deathDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.driver.deathPlace">Death Place</span></dt>
        <dd>
          <span>{{ driver.deathPlace }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.driver.portrait">Portrait</span></dt>
        <dd>
          <div *ngIf="driver.portrait">
            <a (click)="openFile(driver.portrait, driver.portraitContentType)">
              <img [src]="'data:' + driver.portraitContentType + ';base64,' + driver.portrait" style="max-width: 100%" alt="driver image" />
            </a>
            {{ driver.portraitContentType }}, {{ byteSize(driver.portrait) }}
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/driver', driver.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
