<section class="content">
    <div class="container-fluid">
        <div class="block-header mt-n3">
            <div class="row">
                <div class="col-12">
                    <ul class="breadcrumb breadcrumb-style">
                        <li class="breadcrumb-item bcrumb-2">
                            <a routerLink="/"><fa-icon [icon]="['fas', 'arrow-alt-circle-right']" size="2x"></fa-icon></a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a routerLink="/driver">{{ 'motorsportsDatabaseApp.driver.home.title' | translate }}</a>
                        </li>
                        <li class="breadcrumb-item active">{{ driver!.getCompositeName() }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="m-b-20">
                        <div class="contact-grid">
                            <div class="profile-header bg-dark">
                                <div class="user-name">{{ driver!.getCompositeName() }}</div>
                            </div>
                            <img [src]="driver!.getDriverFaceImageUrl()" class="user-img img-fluid" alt="driver image"/>

                            <div *ngIf="driver?.nationality">
                                <span><img src="/images/flags64/{{driver?.nationality?.countryCode}}.png"/></span>
                            </div>
                            <div class="row">
                                <div *ngIf="driver?.birthDate"
                                    [class.col-4]="driver?.birthDate && driver?.deathDate"
                                    [class.col-6]="driver?.birthDate && !driver?.deathDate">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6>{{ driver?.birthPlace }}</h6>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="driver?.birthPlace">
                                        <div class="col-12">
                                            <h6>{{ driver?.birthDate | localizedDate }}</h6>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="driver?.deathDate"
                                     [class.col-4]="driver?.birthDate && driver?.deathDate"
                                     [class.col-6]="driver?.birthDate && !driver?.deathDate">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6>{{ driver?.deathPlace }}</h6>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="driver?.deathDate">
                                        <div class="col-12">
                                            <h6>{{ driver?.deathDate! | localizedDate }}</h6>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="driver?.age !== 0"
                                     [class.col-4]="driver?.birthDate && driver?.deathDate"
                                     [class.col-6]="!driver?.deathDate">
                                    <span jhiTranslate="motorsportsDatabaseApp.driver.age">Age: </span> <span >{{driver?.age}}</span>
                                </div>
                            </div>

                            <button mat-mini-fab type="submit" color="primary"
                                    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                                    [routerLink]="['/driver', driver?.id, 'edit']">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <mat-tab-group>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon msr-2">analytics</mat-icon>
                                {{ 'motorsportsDatabaseApp.stats.home.title' | translate }}
                            </ng-template>
                            <div class="p-4">
                                <jhi-statistics [id]="driver?.id!" [statsType]="'drivers'">Statistics...</jhi-statistics>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</section>


