<div>
  <h2 id="page-heading" data-cy="PointsSystemHeading">
    <span jhiTranslate="motorsportsDatabaseApp.pointsSystem.home.title">Points Systems</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="motorsportsDatabaseApp.pointsSystem.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-points-system"
        [routerLink]="['/points-system/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="motorsportsDatabaseApp.pointsSystem.home.createLabel"> Create a new Points System </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'motorsportsDatabaseApp.pointsSystem.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="pointsSystems?.length === 0">
    <span jhiTranslate="motorsportsDatabaseApp.pointsSystem.home.notFound">No pointsSystems found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pointsSystems && pointsSystems.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="motorsportsDatabaseApp.pointsSystem.name">Name</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="motorsportsDatabaseApp.pointsSystem.description">Description</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="points">
            <span jhiTranslate="motorsportsDatabaseApp.pointsSystem.points">Points</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pointsMostLeadLaps">
            <span jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsMostLeadLaps">Points Most Lead Laps</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pointsFastLap">
            <span jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsFastLap">Points Fast Lap</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pointsPole">
            <span jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsPole">Points Pole</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pointsLeadLap">
            <span jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsLeadLap">Points Lead Lap</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pointsSystem of pointsSystems; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/points-system', pointsSystem.id, 'view']">{{ pointsSystem.id }}</a>
          </td>
          <td>{{ pointsSystem.name }}</td>
          <td>{{ pointsSystem.description }}</td>
          <td>{{ pointsSystem.points }}</td>
          <td>{{ pointsSystem.pointsMostLeadLaps }}</td>
          <td>{{ pointsSystem.pointsFastLap }}</td>
          <td>{{ pointsSystem.pointsPole }}</td>
          <td>{{ pointsSystem.pointsLeadLap }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/points-system', pointsSystem.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/points-system', pointsSystem.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(pointsSystem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="pointsSystems && pointsSystems.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
