<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myChassisLabel" jhiTranslate="motorsportsDatabaseApp.chassis.home.createOrEditLabel">Create or edit a Chassis</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.chassis.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="chassis.name" required maxlength="50" />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.chassis.manufacturer" for="field_manufacturer">Manufacturer</label>
            <input type="text" class="form-control" name="manufacturer" id="field_manufacturer"
                [(ngModel)]="chassis.manufacturer" required maxlength="50" />
            <div [hidden]="!(editForm.controls.manufacturer?.dirty && editForm.controls.manufacturer?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.manufacturer?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.manufacturer?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.chassis.debutYear" for="field_debutYear">Debut Year</label>
            <input type="number" class="form-control" name="debutYear" id="field_debutYear"
                [(ngModel)]="chassis.debutYear" required />
            <div [hidden]="!(editForm.controls.debutYear?.dirty && editForm.controls.debutYear?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.debutYear?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.debutYear?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
        	<ng-template #chassisTemplate let-r="result">
			  {{r.manufacturer}}&nbsp;{{r.name}}&nbsp;({{r.debutYear}})
			</ng-template>
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.chassis.derivedFrom" for="field_derivedFrom">Derived From</label>
            <input id="field_derivedFrom" type="text" name="field_derivedFrom" class="form-control" [inputFormatter]="inputFormatter"
            	[(ngModel)]="chassis.derivedFrom" [ngbTypeahead]="search" [focusFirst]="false" [resultTemplate]="chassisTemplate"/>
        </div>
        <div class="form-group">
            <label jhiTranslate="motorsportsDatabaseApp.chassis.rebranded" for="field_rebranded">Rebranded</label> <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="tooltip" title="{{ 'motorsportsDatabaseApp.chassis.rebrandedTooltip' | translate }}"></i>
            <i [ngClass]="chassis.rebranded ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'" (click)="chassis.rebranded = !chassis.rebranded"></i>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.chassis.image" for="field_image">Image</label>
            <div>
                <img [src]="chassis.imageUrl" style="max-height: 100px;" *ngIf="chassis.image && chassis.imageUrl" alt="chassis image"/>
                <img [src]="'data:' + chassis.imageContentType + ';base64,' + chassis.image" style="max-height: 100px;" *ngIf="chassis.image" alt="chassis image"/>
                <div *ngIf="chassis.imageUrl || chassis.image" class="form-text text-danger clearfix">
                    <button type="button" (click)="chassis.imageUrl=null; chassis.image=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" (change)="setFileData($event, chassis, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image" [(ngModel)]="chassis.image"/>
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                [(ngModel)]="chassis.imageContentType" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
