<div class="main-content">
    <div class="container-fluid">
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">{{chassis.manufacturer}} {{chassis.name}}</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <dl class="row-md jh-entity-details">
                            <dt><span jhiTranslate="motorsportsDatabaseApp.chassis.debutYear">Debut Year</span></dt>
                            <dd>
                                <span>{{chassis.debutYear}}</span>
                            </dd>
                            <dt *ngIf="chassis.derivedFrom"><span jhiTranslate="motorsportsDatabaseApp.chassis.derivedFrom">Derived From</span></dt>
                            <dd *ngIf="chassis.derivedFrom">
                                <a [routerLink]="['/chassis', chassis.derivedFrom?.id, 'view']">{{chassis.derivedFrom?.manufacturer}} {{chassis.derivedFrom?.name}}</a>
                            </dd>
                            <dt *ngIf="chassis.derivedFrom">
                                <span jhiTranslate="motorsportsDatabaseApp.chassis.rebranded">Rebranded</span>
                                <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="tooltip" title="{{ 'motorsportsDatabaseApp.chassis.rebrandedTooltip' | translate }}"></i>
                            </dt>
                            <dd *ngIf="chassis.derivedFrom">
                                <span><i [ngClass]="chassis.rebranded ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'"></i></span>
                            </dd>
                        </dl>

                        <button mat-button type="button" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                                [routerLink]="['/chassis', chassis.id, 'edit']"
                                class="btn btn-primary">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                        </button>

                        <dl class="row-md jh-entity-details" *ngIf="chassis.evolutions?.length > 0">
                            <dt><span jhiTranslate="motorsportsDatabaseApp.chassis.evolutions">Evolutions</span></dt>
                            <dd>
                                <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                                    <!-- This is the tree node template for leaf nodes -->
                                    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                                        <!-- use a disabled button to provide padding for tree leaf -->
                                        <button mat-icon-button disabled></button>
                                        <a [routerLink]="['/chassis', node.chassis.id, 'view']">{{ node.chassis.manufacturer }} {{node.chassis.name}}</a>
                                    </mat-tree-node>
                                    <!-- This is the tree node template for expandable nodes -->
                                    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                                        <button mat-icon-button matTreeNodeToggle
                                                [attr.aria-label]="'toggle ' + node.name">
                                            <mat-icon class="mat-icon-rtl-mirror">
                                                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                            </mat-icon>
                                        </button>
                                        <a [routerLink]="['/chassis', node.chassis.id, 'view']">{{ node.chassis.manufacturer }} {{node.chassis.name}}</a>
                                    </mat-tree-node>
                                </mat-tree>

                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <jhi-statistics [id]="chassis.id" [statsType]="'chassis'">Statistics...</jhi-statistics>

                        <dl class="row-md jh-entity-details">
                            <dd>
                                <div *ngIf="chassis.imageUrl">
                                    <img [src]="chassis.imageUrl" class="img-fluid" alt="chassis image"/>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>
    </div>
</div>
