<div>
    <h2>
        <span jhiTranslate="motorsportsDatabaseApp.chassis.home.title">Chassis</span>
        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']" 
        	class="btn btn-primary float-right jh-create-entity create-chassis" [routerLink]="['/', { outlets: { popup: ['chassis-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="motorsportsDatabaseApp.chassis.home.createLabel">
            Create new Chassis
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'motorsportsDatabaseApp.chassis.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="chassis">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="name"><span jhiTranslate="motorsportsDatabaseApp.chassis.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="manufacturer"><span jhiTranslate="motorsportsDatabaseApp.chassis.manufacturer">Manufacturer</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="debutYear"><span jhiTranslate="motorsportsDatabaseApp.chassis.debutYear">Debut Year</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="derivedFrom.id"><span jhiTranslate="motorsportsDatabaseApp.chassis.derivedFrom">Derived From</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rebranded"><span jhiTranslate="motorsportsDatabaseApp.chassis.rebranded">Rebranded</span> <span class="fa fa-sort"></span> <span class="fa fa-question-circle-o" aria-hidden="true" data-toggle="tooltip" title="{{ 'motorsportsDatabaseApp.chassis.rebrandedTooltip' | translate }}"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chassis of chassis ;trackBy: trackId">
                <td>{{chassis.name}}</td>
                <td>{{chassis.manufacturer}}</td>
                <td>{{chassis.debutYear}}</td>
                <td>
                    <div *ngIf="chassis.derivedFrom">
                        <a [routerLink]="['../chassis', chassis.derivedFrom?.id ]" >{{chassis.derivedFrom?.manufacturer}} {{chassis.derivedFrom?.name}}</a>
                    </div>
                </td>
                <td><i [ngClass]="chassis.rebranded ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'"></i></td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']" 
                                [routerLink]="['../chassis', chassis.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']" 
                                [routerLink]="['/', { outlets: { popup: 'chassis/'+ chassis.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN']" 
                                [routerLink]="['/', { outlets: { popup: 'chassis/'+ chassis.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="chassis && chassis.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
