
<div *ngIf="chassis">
    <h2>{{chassis.manufacturer}}  {{chassis.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <ngb-tabset>
	  <ngb-tab title="{{'entity.detail.info' | translate}}">
	    <ng-template ngbTabContent>
	    	<div class="row">
		    	<div class="col-sm-3">
				    <dl class="row-md jh-entity-details">
				        <dt><span jhiTranslate="motorsportsDatabaseApp.chassis.name">Name</span></dt>
				        <dd>
				            <span>{{chassis.name}}</span>
				        </dd>
				        <dt><span jhiTranslate="motorsportsDatabaseApp.chassis.manufacturer">Manufacturer</span></dt>
				        <dd>
				            <span>{{chassis.manufacturer}}</span>
				        </dd>
				        <dt><span jhiTranslate="motorsportsDatabaseApp.chassis.debutYear">Debut Year</span></dt>
				        <dd>
				            <span>{{chassis.debutYear}}</span>
				        </dd>
				        <dt><span jhiTranslate="motorsportsDatabaseApp.chassis.derivedFrom">Derived From</span></dt>
				        <dd>
				            <div *ngIf="chassis.derivedFrom">
				                <a [routerLink]="['/chassis', chassis.derivedFrom?.id]">{{chassis.derivedFrom?.manufacturer}} {{chassis.derivedFrom?.name}}</a>
				            </div>
				        </dd>
				        <dt><span jhiTranslate="motorsportsDatabaseApp.chassis.rebranded">Rebranded</span>
				        	<i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="tooltip" title="{{ 'motorsportsDatabaseApp.chassis.rebrandedTooltip' | translate }}"></i></dt>
				        <dd>
				            <span><i [ngClass]="chassis.rebranded ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'"></i></span>
				        </dd>
				    </dl>
			    </div>
			    <div class="col-sm-9">
			    	<dl class="row-md jh-entity-details">
			    		<dd>
				            <div *ngIf="chassis.imageUrl">
				            	<img [src]="chassis.imageUrl" class="img-fluid" alt="chassis image"/>
				            </div>
				        </dd>
			    	</dl>
			    </div>
            </div>
		</ng-template>
	</ngb-tab>
		<ngb-tab title="{{'entity.detail.statistics' | translate}}">
		    <ng-template ngbTabContent>
		    	<jhi-statistics [id]="chassis.id" [statsType]="'chassis'">Statistics...</jhi-statistics>
		    </ng-template>
		</ngb-tab>
	</ngb-tabset>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
            [routerLink]="['/', { outlets: { popup: 'chassis/'+ chassis.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
