<section class="content">
    <div class="container-fluid">
        <div class="block-header mt-n3">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="fw-bold">
                                <span id="rebuild-indexed-page-heading" jhiTranslate="motorsportsDatabaseApp.indexes.home.title" data-cy="rebuildIndexesPageHeading">
                                    Rebuild indexes
                                </span>
                            </h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <jhi-alert></jhi-alert>
                <div *ngIf="!finished">
                    <span jhiTranslate="motorsportsDatabaseApp.indexes.home.init">Rebuilding indexes</span>&nbsp;
                    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                </div>
                <span *ngIf="finished" jhiTranslate="motorsportsDatabaseApp.indexes.home.rebuilt">Indexes rebuilt</span>
            </div>
        </div>
    </div>
</section>


