<div class="main-content">
    <div class="container-fluid">
        <jhi-alert></jhi-alert>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title" id-="statistics-page-heading">
                            <span jhiTranslate="motorsportsDatabaseApp.indexes.home.title">Indexes</span>
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div *ngIf="!finished">
                                    <span jhiTranslate="motorsportsDatabaseApp.indexes.home.init">Rebuilding indexes</span>&nbsp;
                                    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                                </div>
                                <span *ngIf="finished" jhiTranslate="motorsportsDatabaseApp.indexes.home.rebuilt">Indexes rebuilt</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


