<section class="content">
    <div class="container-fluid">
        <div class="block-header mt-n3">
            <div class="row">
                <div class="col-12">
                    <ul class="breadcrumb breadcrumb-style">
                        <li class="breadcrumb-item bcrumb-2">
                            <a routerLink="/"><fa-icon [icon]="['fas', 'arrow-alt-circle-right']" size="2x"></fa-icon></a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a routerLink="/racetrack">{{ 'motorsportsDatabaseApp.racetrack.home.title' | translate }}</a>
                        </li>
                        <li class="breadcrumb-item active">{{ racetrack?.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <div class="row clearfix">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="card">
                    <div class="m-b-20">
                        <div class="contact-grid">
                            <div class="profile-header bg-dark">
                                <div class="user-name">{{ racetrack?.name }}</div>
                                <div class="name-center">
                                    <img src="/images/flags64/{{ racetrack!.country!.countryCode}}.png"
                                        [matTooltip]="racetrack!.country!.countryName!"/> {{ racetrack?.location }}
                                </div>
                            </div>
                            <img *ngIf="racetrack!.logoUrl" [src]="racetrack!.logoUrl" class="racetrack-logo-img bg-dark img-fluid" alt="racetrack logo"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                <jhi-racetrack-layout [racetrack]="racetrack!"></jhi-racetrack-layout>
            </div>
        </div>
    </div>
</section>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-profile">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">{{ racetrack?.name }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <dl class="row-md jh-entity-details">
                                    <dd>
                                        <img *ngIf="racetrack?.logoUrl" [src]="racetrack?.logoUrl" class="img-fluid"
                                             alt="racetrack logo"/>
                                    </dd>
                                    <dd>
                                <span *ngIf="racetrack?.country"><img
                                    src="/images/flags64/{{racetrack?.country}}.png"/></span>
                                        <span>{{racetrack?.location}}</span>
                                    </dd>
                                </dl>
                                <button type="submit"
                                        (click)="previousState()"
                                        class="btn btn-info">
                                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span
                                    jhiTranslate="entity.action.back"> Back</span>
                                </button>

                                <button type="button"
                                        [routerLink]="['/racetrack', racetrack?.id, 'edit']"
                                        class="btn btn-primary">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span
                                    jhiTranslate="entity.action.edit"> Edit</span>
                                </button>
                            </div>
                            <div class="col-md-9">
                                <div class="card">
                                    <div class="card-header card-header-danger">
                                        <h4 class="card-title">{{ "motorsportsDatabaseApp.racetrackLayout.home.title" | translate }}</h4>
                                    </div>
                                    <div class="card-body" style="min-height: 60px">


                                        <button class="btn btn-primary float-right create-racetrack-layout"
                                                *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                                                [routerLink]="['/racetrack-layout/new/', racetrack?.id]">
                                            <span class="fa fa-plus"></span>
                                            <span class="hidden-sm-down"
                                                  jhiTranslate="motorsportsDatabaseApp.racetrackLayout.home.createLabel">
                                                Add new Layout
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{ 'motorsportsDatabaseApp.racetrack.nextEvents' | translate }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-warning" [hidden]="nextEventsEditions!.length > 0">
                            <span jhiTranslate="motorsportsDatabaseApp.eventEdition.home.notFound">No event editions found</span>
                        </div>
                        <div class="table-responsive" [hidden]="nextEventsEditions!.length === 0">
                            <mat-table class="table table-hover" [dataSource]="nextEventsEditions">

                                <ng-container matColumnDef="date">
                                    <mat-header-cell *matHeaderCellDef>{{ 'motorsportsDatabaseApp.eventEdition.eventDate' | translate }}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let event">{{ event.eventEdition.eventDate | localizedDate }}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="eventName">
                                    <mat-header-cell *matHeaderCellDef>{{ 'motorsportsDatabaseApp.event.name' | translate }}
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let event">{{ event.eventEdition.longEventName }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="layoutImage">
                                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                    <mat-cell *matCellDef="let event">
                                        <div class="row">
                                            <div class="col-6" *ngIf="event.eventEdition.trackLayout?.layoutImageUrl">
                                                <img [src]="event.eventEdition.trackLayout.layoutImageUrl" style="max-height: 30px;"
                                                     alt="racetrack layout"/>
                                            </div>
                                            <div class="col-6">
                                                {{ event.eventEdition.trackLayout.name }}
                                            </div>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="nextEventsDisplayedColumns; sticky: true"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: nextEventsDisplayedColumns;" class="pointer"
                                    [routerLink]="['/event', 'edition', row.eventEdition.id, 'view-ed' ]"></mat-row>
                            </mat-table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{ 'motorsportsDatabaseApp.racetrack.prevEvents' | translate }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-warning" [hidden]="prevEventsEditions!.length > 0">
                            <span jhiTranslate="motorsportsDatabaseApp.eventEdition.home.notFound">No event editions found</span>
                        </div>
                        <div class="table-responsive" [hidden]="prevEventsEditions!.length === 0">
                            <mat-table class="table table-hover" [dataSource]="prevEventsEditions">
                                <ng-container matColumnDef="date">
                                    <mat-header-cell *matHeaderCellDef>{{ 'motorsportsDatabaseApp.eventEdition.eventDate' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let event">{{ event.eventEdition.eventDate | localizedDate }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="prevEventName">
                                    <mat-header-cell *matHeaderCellDef>{{ 'motorsportsDatabaseApp.event.name' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let event">{{ event.eventEdition.longEventName }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="winners">
                                    <mat-header-cell *matHeaderCellDef>{{ 'motorsportsDatabaseApp.event.winners' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let event">
                                        <div *ngTemplateOutlet="winnersTemplate; context:{winners: event.sessionsWinners}"></div>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="prevEventsDisplayedColumns; sticky: true"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: prevEventsDisplayedColumns;" class="pointer"
                                    [routerLink]="['/event', 'edition', row.eventEdition.id, 'view-ed' ]"></mat-row>
                            </mat-table>
                            <mat-paginator [length]="resultsLength"
                                           [pageSizeOptions]="[5, 10, 20]"
                                           [pageSize]="10"
                                           showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #winnersTemplate let-sessionsWinners="winners">
    <div class="row">
        <ng-container *ngIf="sessionsWinners?.length === 0">
            <div class="col-12">
                -
            </div>
        </ng-container>
        <ng-container *ngIf="sessionsWinners?.length === 1">
            <div class="col-12" *ngIf="sessionsWinners[0].winners[0]">
                {{ concatDriverNames(sessionsWinners[0].winners[0].drivers) }}
            </div>
            <div class="col-12" *ngIf="!sessionsWinners[0].winners[0]">
                -
            </div>
        </ng-container>
        <ng-container *ngIf="sessionsWinners?.length > 1">
            <div *ngFor="let session of sessionsWinners" class="col-12">
                <strong>{{session.session}}: </strong>
                <span *ngIf="session.winners[0]">{{ concatDriverNames(session.winners[0].drivers) }}</span>
                <span *ngIf="!session.winners[0]">-</span>
            </div>
        </ng-container>
    </div>
</ng-template>
