<h1 mat-dialog-title>{{'motorsportsDatabaseApp.calendar.subscription.title' | translate }}</h1>
<div mat-dialog-content>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-12">
            <mat-button-toggle-group #calendarType="matButtonToggleGroup" value="google" (change)="changePlatform($event.value)">
                <mat-button-toggle value="google">
                    <fa-icon [icon]="['fab', 'google']"></fa-icon> Google Calendar
                </mat-button-toggle>
                <mat-button-toggle value="outlook">
                    <fa-icon [icon]="['fab', 'microsoft']"></fa-icon> Microsoft Outlook
                </mat-button-toggle>
                <mat-button-toggle value="apple">
                    <fa-icon [icon]="['fab', 'apple']"></fa-icon> Apple iCal
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <span [innerHTML]="instructionsContent"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button mat-button *ngIf="calendarType.value !== 'google'" class="btn" (click)="copyToClipboard()">
                <span jhiTranslate="motorsportsDatabaseApp.calendar.subscription.copyUrl">Copy URL to Clipboard</span>
            </button>
            <button mat-button *ngIf="calendarType.value === 'google'" class="btn" (click)="importToGoogle()">
                <span jhiTranslate="motorsportsDatabaseApp.calendar.subscription.importToGoogle">Import to Google Calendar</span>
            </button>
        </div>
    </div>
</div>
<mat-dialog-actions align="end">
    <button mat-button class="btn btn-secondary" (click)="close()">
        <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>
</mat-dialog-actions>
