<section class="content">
    <div class="container-fluid">
        <div class="block-header mt-n3">
            <div class="row justify-content-between">
                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-12">
                            <ul class="breadcrumb breadcrumb-style">
                                <li class="breadcrumb-item bcrumb-2">
                                    <a routerLink="/"><fa-icon [icon]="['fas', 'arrow-alt-circle-right']" size="2x"></fa-icon></a>
                                </li>
                                <li class="breadcrumb-item bcrumb-2">
                                    <a routerLink="/event">{{ 'motorsportsDatabaseApp.event.home.title' | translate }}</a>
                                </li>
                                <li class="breadcrumb-item bcrumb-3">
                                    <a [routerLink]="['/event', event!.id ]">{{ event!.name }}</a>
                                </li>
                                <li class="breadcrumb-item active">{{ 'motorsportsDatabaseApp.eventEdition.home.createOrEditLabel' | translate }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <form class="register-form m-4" name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                    <jhi-alert-error></jhi-alert-error>
                    <div class="card">
                        <div class="body">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{ 'motorsportsDatabaseApp.eventEdition.editionYear' | translate }}</mat-label>
                                        <input matInput type="number" class="form-control" formControlName="editionYear" required>
                                        <mat-error *ngIf="editForm.get('editionYear')!.hasError('required')">
                                            {{ 'entity.validation.required' | translate }}
                                        </mat-error>
                                        <mat-error *ngIf="editForm.get('editionYear')!.hasError('number')">
                                            {{ 'entity.validation.number' | translate }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{ 'motorsportsDatabaseApp.eventEdition.eventDate' | translate }}</mat-label>
                                        <input matInput [matDatepicker]="picker" class="form-control" name="eventDate"
                                               id="field_eventDate" formControlName="eventDate" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-error *ngIf="editForm.get('eventDate')!.hasError('required')">
                                            {{ 'entity.validation.required' | translate }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                                    <mat-button-toggle-group class="mt-2" formControlName="status" color="primary">
                                        <mat-button-toggle value="ONGOING">
                                            {{'motorsportsDatabaseApp.eventEdition.status.ongoing' | translate }}
                                        </mat-button-toggle>
                                        <mat-button-toggle value="SUSPENDED">
                                            {{'motorsportsDatabaseApp.eventEdition.status.suspended' | translate }}
                                        </mat-button-toggle>
                                        <mat-button-toggle value="CANCELLED">
                                            {{'motorsportsDatabaseApp.eventEdition.status.cancelled' | translate }}
                                        </mat-button-toggle>
                                    </mat-button-toggle-group>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{ 'motorsportsDatabaseApp.eventEdition.shortEventName' | translate }}</mat-label>
                                        <input matInput type="text" class="form-control" formControlName="shortEventName">
                                        <mat-error *ngIf="editForm.get('shortEventName')!.hasError('required')">
                                            {{ 'entity.validation.required' | translate }}
                                        </mat-error>
                                        <mat-error *ngIf="editForm.get('shortEventName')!.hasError('maxlength')">
                                            {{ 'entity.validation.maxlength' | translate: { max: 40} }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{ 'motorsportsDatabaseApp.eventEdition.longEventName' | translate }}</mat-label>
                                        <input matInput type="text" class="form-control" formControlName="longEventName">
                                        <mat-error *ngIf="editForm.get('longEventName')!.hasError('longEventName')">
                                            {{ 'entity.validation.required' | translate }}
                                        </mat-error>
                                        <mat-error *ngIf="editForm.get('longEventName')!.hasError('maxlength')">
                                            {{ 'entity.validation.maxlength' | translate: { max: 100 } }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 mb-2">
                                    <mat-label>{{ 'motorsportsDatabaseApp.eventEdition.allowedCategories' | translate }}</mat-label>
                                    <div>
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{ 'motorsportsDatabaseApp.eventEdition.filterCategories' | translate }}</mat-label>
                                            <input matInput class="form-control"
                                                   formControlName="categoryFilterText">
                                        </mat-form-field>
                                        <span class="pointer" *ngIf="editForm.get('categoryFilterText')!.value?.length > 0" (click)="clearCategoriesFilter()">X</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                            <cdk-virtual-scroll-viewport itemSize="50" class="selection-list-viewport">
                                                <mat-selection-list
                                                    [compareWith]="compareCategories"
                                                    formControlName="allowedCategories"
                                                    color="primary">
                                                    <mat-list-option *ngFor="let category of categories | categoriesFilter : editForm.get('categoryFilterText')!.value" [value]="category">
                                                        {{ category.name }}
                                                    </mat-list-option>
                                                </mat-selection-list>
                                            </cdk-virtual-scroll-viewport>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                            <cdk-virtual-scroll-viewport itemSize="50" class="selection-list-viewport">
                                                <mat-list>
                                                    <mat-list-item *ngFor="let cat of editForm.get('allowedCategories')!.value">
                                                        <p mat-line>{{cat.name}}</p>
                                                    </mat-list-item>
                                                </mat-list>
                                            </cdk-virtual-scroll-viewport>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 mb-2">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                            <div class="row" *ngIf="!isRally() && !isRaid()">
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                                    <mat-checkbox class="example-margin" formControlName="multidriver" color="primary">
                                                        {{'motorsportsDatabaseApp.eventEdition.multidriver' | translate }}
                                                    </mat-checkbox>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="!isRally() && !isRaid()">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                                    <jhi-autocomplete
                                                        [editForm]="editForm"
                                                        elementId="layoutAutocomplete"
                                                        controlName="trackLayout"
                                                        label="motorsportsDatabaseApp.eventEdition.trackLayout"
                                                        [items]="layoutOptions"
                                                        [isRequired]="true"
                                                        imageAttr="layoutImageUrl"
                                                        [displayWithFunction]="displayFnLayouts"
                                                        [tooltipFunction]="getLayoutFullName" icon='icofont icofont-whistle'>
                                                    </jhi-autocomplete>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="isRally()">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>{{ 'motorsportsDatabaseApp.eventEdition.location' | translate }}</mat-label>
                                                        <input matInput type="text" class="form-control" formControlName="location" required>
                                                        <mat-error *ngIf="editForm.get('location')!.hasError('location')">
                                                            {{ 'entity.validation.required' | translate }}
                                                        </mat-error>
                                                        <mat-error *ngIf="editForm.get('location')!.hasError('maxlength')">
                                                            {{ 'entity.validation.maxlength' | translate: { max: 100 } }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                                    <jhi-autocomplete
                                                        [editForm]="editForm"
                                                        elementId="eventAutocomplete"
                                                        controlName="event"
                                                        label="motorsportsDatabaseApp.eventEdition.event"
                                                        [items]="eventOptions"
                                                        [isRequired]="true"
                                                        [displayWithFunction]="displayFnEvents"
                                                        [tooltipFunction]="getEventName" icon='icofont icofont-racing-flag-alt'>
                                                    </jhi-autocomplete>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                            <mat-label>{{ 'motorsportsDatabaseApp.eventEdition.poster' | translate }}</mat-label>
                                            <jhi-file-upload
                                                [editForm]="editForm"
                                                controlName="poster"
                                                controlNameContentType="posterContentType"
                                                imageUrl="posterUrl"
                                                [isImage]="true"
                                                acceptedMimeType="image/*"></jhi-file-upload>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                </button>
                                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
