<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">{{ 'motorsportsDatabaseApp.calendar.title' | translate }}</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-12 p-l-30">
                                <div class="m-b-25">
                                    <mat-form-field>
                                        <mat-select placeholder="{{ 'home.selectTimeZone' | translate }}" [(ngModel)]="timezone" (change)="changeTimezone()">
                                            <mat-option *ngFor="let item of timezones" [value]="item.zoneName" [matTooltip]="item.zoneName + ' ' + item.gmtOffset">
                                                {{item.countryName}} ({{item.zoneName}} {{item.gmtOffset}})
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="m-b-25">
                                    <mat-form-field>
                                        <mat-select placeholder="{{ 'motorsportsDatabaseApp.calendar.filterSeries' | translate }}" [formControl]="filter" multiple (selectionChange)="filterSessions()">
                                            <mat-select-trigger>
                                                {{filter.value ? filter.value[0] : ''}}
                                                <span *ngIf="filter.value?.length > 1">
                                (+{{filter.value.length - 1}} {{filter.value?.length === 2 ? 'other' : 'others'}})
                              </span>
                                            </mat-select-trigger>
                                            <mat-option *ngFor="let aSeries of series" [value]="aSeries">{{aSeries}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <!-- p>My Calendars</p>
                                <div class="filter-container">
                                    <ul>
                                        <li *ngFor="let filter of filters">
                                            <mat-checkbox [checked]="filter.checked" [value]="filter.value" color="primary"
                                                          (change)="changeCategory($event, filter)">
                                                {{filter.value}}
                                            </mat-checkbox>
                                        </li>
                                    </ul>
                                </div -->
                            </div>
                            <div class="col-md-10 col-sm-12">
                                <div class="panel-body">
                                    <full-calendar #calendar [options]="calendarOptions"></full-calendar>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
