<h1 mat-dialog-title>{{ data.event.event.title }}</h1>
<mat-dialog-content>
    <div class="ui-grid-row">
        <div class="ui-grid-col-12" align="center">
            <img *ngIf="data.event.event.extendedProps.seriesLogoUrl" [src]="data.event.event.extendedProps.seriesLogoUrl[0]"
                 style="max-width: 100%; max-height: 250px;" alt="series logo"/>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-2"><label>{{'motorsportsDatabaseApp.calendar.start' | translate}}</label></div>
        <div class="ui-grid-col-10"><span>{{data.event.event.start | localizedDate: 'DDDD, T' }}</span></div>
    </div>
    <div class="ui-grid-row" *ngIf="!data.event.event.extendedProps.rally && !data.event.event.extendedProps.raid">
        <div class="ui-grid-col-2"><label>{{'motorsportsDatabaseApp.calendar.end' | translate}}</label></div>
        <div class="ui-grid-col-10"><span>{{data.event.event.end | localizedDate: 'DDDD, T' }}</span></div>
    </div>
    <div class="ui-grid-row" *ngIf="data.event.event.extendedProps.rally">
        <div class="ui-grid-col-2"><label>{{'motorsportsDatabaseApp.calendar.distance' | translate}}</label></div>
        <div class="ui-grid-col-10"><span>{{data.event.event.extendedProps.duration }} {{ 'motorsportsDatabaseApp.eventEdition.enumerations.kilometers' | translate }}</span></div>
    </div>
    <div class="ui-grid-row" *ngIf="data.event.event.extendedProps.raid">
        <div class="ui-grid-col-2"><label>{{'motorsportsDatabaseApp.calendar.distance' | translate}}</label></div>
        <div class="ui-grid-col-10"><span>{{data.event.event.extendedProps.duration }} / {{data.event.event.extendedProps.totalDuration }} {{ 'motorsportsDatabaseApp.eventEdition.enumerations.kilometers' | translate }}</span></div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="close()">{{'motorsportsDatabaseApp.eventEdition.reschedule.cancel' | translate }}</button>
    <button mat-button (click)="navigateToEvent(data.event.event)" cdkFocusInitial>{{'motorsportsDatabaseApp.calendar.details' | translate}}</button>
</mat-dialog-actions>

