<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">{{ racetrack.name }}</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <dl class="row-md jh-entity-details">
                            <dd>
                                <img *ngIf="racetrack.logoUrl" [src]="racetrack.logoUrl" class="img-fluid" alt="racetrack logo"/>
                            </dd>
                            <dd>
                                <span *ngIf="racetrack.countryCode"><img src="/images/flags64/{{racetrack.countryCode}}.png"/></span>
                                <span>{{racetrack.location}}</span>
                            </dd>
                        </dl>
                        <button type="submit"
                                (click)="previousState()"
                                class="btn btn-info">
                            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                        </button>

                        <button type="button"
                                [routerLink]="['/racetrack', racetrack.id, 'edit']"
                                class="btn btn-primary">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{ "motorsportsDatabaseApp.racetrackLayout.home.title" | translate }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-warning" *ngIf="racetrackLayouts?.length === 0">
                            <span jhiTranslate="motorsportsDatabaseApp.racetrack.home.notFound">No racetracks found</span>
                        </div>
                        <div class="table-responsive" [hidden]="racetrackLayouts?.length === 0">
                            <table mat-table class="table table-hover" [dataSource]="racetrackLayouts">

                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef>{{ 'motorsportsDatabaseApp.racetrackLayout.name' | translate }}</th>
                                    <td mat-cell *matCellDef="let layout">{{ layout.name }}</td>
                                </ng-container>

                                <ng-container matColumnDef="length">
                                    <th mat-header-cell *matHeaderCellDef>{{ 'motorsportsDatabaseApp.racetrackLayout.length' | translate }}</th>
                                    <td mat-cell *matCellDef="let layout">{{ layout.length | racetrackLengthMask }}</td>
                                </ng-container>

                                <ng-container matColumnDef="yearFirstUse">
                                    <th mat-header-cell *matHeaderCellDef>{{ 'motorsportsDatabaseApp.racetrackLayout.yearFirstUse' | translate }}</th>
                                    <td mat-cell *matCellDef="let layout">{{ layout.yearFirstUse }}</td>
                                </ng-container>

                                <ng-container matColumnDef="layoutImage">
                                    <th mat-header-cell *matHeaderCellDef>{{ 'motorsportsDatabaseApp.racetrackLayout.layoutImage' | translate }}</th>
                                    <td mat-cell *matCellDef="let layout">
                                        <img *ngIf="layout?.layoutImageUrl" [src]="layout.layoutImageUrl" style="max-height: 30px;" alt="racetrack layout"/>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="active">
                                    <th mat-header-cell *matHeaderCellDef>{{ 'motorsportsDatabaseApp.racetrackLayout.active' | translate }}</th>
                                    <td mat-cell *matCellDef="let layout"><i [ngClass]="layout.active ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'"></i></td>
                                </ng-container>

                                <ng-container matColumnDef="buttons">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let racetrack">
                                        <div class="btn-group">
                                            <button type="submit"
                                                    [routerLink]="['/racetrack-layout', racetrack.id, 'view' ]"
                                                    class="btn btn-info btn-xs">
                                                <fa-icon [icon]="'eye'"></fa-icon>
                                            </button>
                                            <button type="submit"
                                                    *jhiHasAnyAuthority="['ROLE_ADMIN']"
                                                    [routerLink]="['/racetrack-layout', racetrack.id, 'edit']"
                                                    class="btn btn-primary btn-xs">
                                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            </button>
                                            <button type="submit"
                                                    *jhiHasAnyAuthority="['ROLE_ADMIN']"
                                                    [routerLink]="['/racetrack-layout', { outlets: { popup: racetrack.id + '/delete'} }]"
                                                    replaceUrl="true"
                                                    queryParamsHandling="merge"
                                                    class="btn btn-danger btn-xs">
                                                <fa-icon [icon]="'times'"></fa-icon>
                                            </button>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>

                        <button class="btn btn-primary float-right create-racetrack-layout" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                                [routerLink]="['/racetrack-layout/new/', racetrack.id]">
                            <span class="fa fa-plus"></span>
                            <span class="hidden-sm-down"  jhiTranslate="motorsportsDatabaseApp.racetrackLayout.home.createLabel">
                                Add new Layout
                            </span>
                        </button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
