
<jhi-alert-error></jhi-alert-error>
<jhi-alert></jhi-alert>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <form name="searchForm" class="form-inline">
                    <div class="input-group w-100 mt-3">
                        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'motorsportsDatabaseApp.racetrack.home.search' | translate }}">
                        <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                            <fa-icon [icon]="'search'"></fa-icon>
                        </button>
                        <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                            <fa-icon [icon]="'trash-alt'"></fa-icon>
                        </button>
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-driver" [routerLink]="['/racetrack/new']">
                            <fa-icon [icon]="'plus'"></fa-icon>
                            <span class="hidden-sm-down"  jhiTranslate="motorsportsDatabaseApp.racetrack.home.createLabel">
                                Create a new racetrack
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title "><span jhiTranslate="motorsportsDatabaseApp.racetrack.home.title">Racetracks</span></h4>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-warning" *ngIf="racetrack?.length === 0">
                            <span jhiTranslate="motorsportsDatabaseApp.racetrack.home.notFound">No racetracks found</span>
                        </div>
                        <div class="table-responsive" *ngIf="racetracks?.length > 0">
                            <table class="table table-hover" aria-describedby="page-heading">
                                <thead>
                                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                                    <th scope="col" jhiSortBy="name"><span jhiTranslate="motorsportsDatabaseApp.racetrack.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                    <th scope="col" jhiSortBy="location"><span jhiTranslate="motorsportsDatabaseApp.racetrack.location">Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                    <th scope="col"><span jhiTranslate="motorsportsDatabaseApp.racetrack.logo">Logo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let racetrack of racetracks ;trackBy: trackId">
                                    <td>{{racetrack.name}}</td>
                                    <td><img *ngIf="racetrack?.countryCode" src="/images/flags/{{racetrack.countryCode}}.png"/> {{racetrack.location}}</td>
                                    <td>
                                        <img *ngIf="racetrack.logoUrl" [src]="racetrack.logoUrl" style="max-height: 40px;" alt="racetrack logo"/>
                                    </td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <button type="submit"
                                                    [routerLink]="['/racetrack', racetrack.id, 'view' ]"
                                                    class="btn btn-info btn-xs">
                                                <fa-icon [icon]="'eye'"></fa-icon>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="['/racetrack', racetrack.id, 'edit']"
                                                    class="btn btn-primary btn-xs">
                                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="['/racetrack', { outlets: { popup: racetrack.id + '/delete'} }]"
                                                    replaceUrl="true"
                                                    queryParamsHandling="merge"
                                                    class="btn btn-danger btn-xs">
                                                <fa-icon [icon]="'times'"></fa-icon>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div [hidden]="racetracks?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    </div>
</div>
