<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{ editForm.get('name').value }}</h4>
                        <p class="card-category">{{ 'motorsportsDatabaseApp.racetrack.home.createOrEditLabel' | translate }}</p>
                    </div>
                    <div class="card-body">
                        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                            <jhi-alert-error></jhi-alert-error>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="{{ 'motorsportsDatabaseApp.racetrack.name' | translate }}" type="text"
                                                       class="form-control" name="name" id="field_name" formControlName="name">
                                                <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                                                    <small class="form-text text-danger"
                                                           *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                                                        This field is required.
                                                    </small>
                                                    <small class="form-text text-danger"
                                                           *ngIf="editForm.get('name').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                                                        This field cannot be longer than 100 characters.
                                                    </small>
                                                </div>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-7">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="{{ 'motorsportsDatabaseApp.racetrack.location' | translate }}" type="text"
                                                       class="form-control" name="location" id="field_location" formControlName="location">
                                                <div *ngIf="editForm.get('location').invalid && (editForm.get('location').dirty || editForm.get('location').touched)">
                                                    <small class="form-text text-danger"
                                                           *ngIf="editForm.get('location').errors.required" jhiTranslate="entity.validation.required">
                                                        This field is required.
                                                    </small>
                                                    <small class="form-text text-danger"
                                                           *ngIf="editForm.get('location').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                                                        This field cannot be longer than 100 characters.
                                                    </small>
                                                </div>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-5">
                                            <mat-form-field class="example-full-width">
                                                <input matInput class="form-control"
                                                       [matAutocomplete]="auto" formControlName="country"
                                                       placeholder="{{ 'motorsportsDatabaseApp.racetrack.country' | translate }}"/>
                                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                                    <mat-option *ngFor="let country of (options | async)" [value]="country">
                                                        <img aria-hidden src="/images/flags/{{country.countryCode}}.png">
                                                        <span>{{ country.countryName }}</span>
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="{{ 'motorsportsDatabaseApp.racetrack.latitude' | translate }}" type="decimal"
                                                       class="form-control" name="latitude" id="field_latitude" formControlName="latitude">
                                                <div *ngIf="editForm.get('latitude').invalid && (editForm.get('latitude').dirty || editForm.get('latitude').touched)">
                                                    <small class="form-text text-danger"
                                                           [hidden]="!editForm.controls.latitude?.errors?.number" jhiTranslate="entity.validation.number">
                                                        This field should be a number.
                                                    </small>
                                                </div>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="{{ 'motorsportsDatabaseApp.racetrack.longitude' | translate }}" type="decimal"
                                                       class="form-control" name="longitude" id="field_longitude" formControlName="longitude">
                                                <div *ngIf="editForm.get('longitude').invalid && (editForm.get('longitude').dirty || editForm.get('longitude').touched)">
                                                    <small class="form-text text-danger"
                                                           [hidden]="!editForm.controls.longitude?.errors?.number" jhiTranslate="entity.validation.number">
                                                        This field should be a number.
                                                    </small>
                                                </div>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.racetrack.logo" for="field_logo">Logo</label>
                                    <div>
                                        <img [src]="editForm.get('logoUrl').value" class="img-fluid" *ngIf="!editForm.get('logo').value && editForm.get('logoUrl').value != null" alt="racetrack logo"/>
                                        <img [src]="'data:' + editForm.get('logoContentType').value + ';base64,' + editForm.get('logo').value" class="img-fluid" *ngIf="editForm.get('logo').value" alt="racetrack logo"/>
                                        <div *ngIf="editForm.get('logoUrl').value" class="form-text text-danger clearfix">
                                            <button type="button" (click)="resetLogo()"
                                                    class="btn btn-secondary btn-xs pull-right">
                                                <span class="fa fa-times"></span>
                                            </button>
                                        </div>
                                        <input type="file" id="file_logo" (change)="setFileData($event, 'logo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                                    </div>
                                    <input type="hidden" class="form-control" name="logo" id="field_logo" formControlName="logo"/>
                                    <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType" formControlName="logoContentType" />
                                </div>
                            </div>
                            <div>
                                <button mat-raised-button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                </button>
                                <button mat-raised-button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
