<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRacetrackLabel" jhiTranslate="motorsportsDatabaseApp.racetrack.home.createOrEditLabel">Create or edit a Racetrack</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.racetrack.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="racetrack.name" required maxlength="100" />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="row">
        	<div class="col-lg-7 col-md-7">
		        <div class="form-group">
		            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.racetrack.location" for="field_location">Location</label>
		            <input type="text" class="form-control" name="location" id="field_location"
		                [(ngModel)]="racetrack.location"
		            required maxlength="100" />
		            <div [hidden]="!(editForm.controls.location?.dirty && editForm.controls.location?.invalid)">
		                <small class="form-text text-danger"
		                   [hidden]="!editForm.controls.location?.errors?.required" jhiTranslate="entity.validation.required">
		                   This field is required.
		                </small>
		                <small class="form-text text-danger"
		                   [hidden]="!editForm.controls.location?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
		                   This field cannot be longer than 100 characters.
		                </small>
		            </div>
		        </div>
		    </div>
		    <div class="col-lg-5 col-md-5">
		    	<div class="form-group">
		    		<ng-template #countryTemplate let-r="result">
					  <img src="{{r.flagImg}}"/>&nbsp;{{r.countryName}}
					</ng-template>
		            <label jhiTranslate="motorsportsDatabaseApp.racetrack.country" for="field_country">Country</label>
		            <input id="field_country" type="text" name="field_country" class="form-control" [inputFormatter]="inputFormatter"
		            	[(ngModel)]="country" [ngbTypeahead]="search" [focusFirst]="false" [resultTemplate]="countryTemplate" placeholder="Country search" required/>
		        </div>
		    </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.racetrack.logo" for="field_logo">Logo</label>
            <div>
                <img [src]="racetrack.logoUrl" style="max-height: 100px;" *ngIf="!racetrack.logo && racetrack.logoUrl" alt="racetrack logo"/>
                <img [src]="'data:' + racetrack.logoContentType + ';base64,' + racetrack.logo" style="max-height: 100px;" *ngIf="racetrack.logo" alt="racetrack logo"/>
                <div *ngIf="racetrack.logoUrl || racetrack.logo" class="form-text text-danger clearfix">
                    <button type="button" (click)="racetrack.logoUrl=null; racetrack.logo=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_logo" (change)="setFileData($event, racetrack, 'logo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="logo" id="field_logo"
                [(ngModel)]="racetrack.logo"  />
            <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType"
                [(ngModel)]="racetrack.logoContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
