.map {
  height: 100%;
  padding: 20px;
}

.layouts-container {
  max-height: 375px;
  overflow: auto;
}

.mat-column-date {
  flex: 0 0 120px;
}

.mat-column-eventName {
  flex: 0 0 40%;
}

.mat-column-prevEventName {
  flex: 0 0 60%;
}
