<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">{{ racetrack.name }}</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <dl class="row-md jh-entity-details">
                            <dd>
                                <img *ngIf="racetrack.logoUrl" [src]="racetrack.logoUrl" class="img-fluid" alt="racetrack logo"/>
                            </dd>
                            <dd>
                                <span *ngIf="racetrack.countryCode"><img src="/images/flags64/{{racetrack.countryCode}}.png"/></span>
                                <span>{{racetrack.location}}</span>
                            </dd>
                        </dl>
                        <button type="submit"
                                (click)="previousState()"
                                class="btn btn-info">
                            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                        </button>

                        <button type="button"
                                [routerLink]="['/racetrack', racetrack.id, 'edit']"
                                class="btn btn-primary">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{ "motorsportsDatabaseApp.racetrackLayout.home.title" | translate }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-warning" *ngIf="racetrackLayouts?.length === 0">
                            <span jhiTranslate="motorsportsDatabaseApp.racetrack.home.notFound">No racetracks found</span>
                        </div>
                        <div class="table-responsive" *ngIf="racetrackLayouts?.length > 0">
                            <table class="table table-hover" aria-describedby="page-heading">
                                <thead>
                                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                                    <th scope="col" jhiSortBy="name"><span jhiTranslate="motorsportsDatabaseApp.racetrackLayout.name">Name</span></th>
                                    <th scope="col" jhiSortBy="name"><span jhiTranslate="motorsportsDatabaseApp.racetrackLayout.length">Length</span></th>
                                    <th scope="col"><span jhiTranslate="motorsportsDatabaseApp.racetrackLayout.yearFirstUse">Year First Use</span></th>
                                    <th scope="col"><span jhiTranslate="motorsportsDatabaseApp.racetrackLayout.layoutImage">Layout</span></th>
                                    <th scope="col"><span jhiTranslate="motorsportsDatabaseApp.racetrackLayout.active">Active</span></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tr *ngFor="let racetrackLayout of racetrackLayouts ;trackBy: trackId">
                                    <td>{{racetrackLayout.name}}</td>
                                    <td>{{racetrackLayout.length | racetrackLengthMask }}</td>
                                    <td>{{racetrackLayout.yearFirstUse}}</td>
                                    <td><img *ngIf="racetrackLayout.layoutImageUrl" [src]="racetrackLayout.layoutImageUrl" style="max-height: 30px;" alt="racetrack layout"/></td>
                                    <td><i [ngClass]="racetrackLayout.active ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'"></i>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <button type="submit"
                                                    [routerLink]="['/racetrack-layout', racetrackLayout.id, 'view' ]"
                                                    class="btn btn-info btn-xs">
                                                <fa-icon [icon]="'eye'"></fa-icon>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="['/racetrack-layout', racetrackLayout.id, 'edit']"
                                                    class="btn btn-primary btn-xs">
                                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="['/racetrack-layout', { outlets: { popup: racetrackLayout.id + '/delete'} }]"
                                                    replaceUrl="true"
                                                    queryParamsHandling="merge"
                                                    class="btn btn-danger btn-xs">
                                                <fa-icon [icon]="'times'"></fa-icon>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tbody>
                            </table>
                        </div>

                        <button class="btn btn-primary float-right create-racetrack-layout" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                                [routerLink]="['/', { outlets: { popup: 'racetrack/' + racetrack.id + '/racetrack-layout-new'   } }]">
                            <span class="fa fa-plus"></span>
                            <span class="hidden-sm-down"  jhiTranslate="motorsportsDatabaseApp.racetrackLayout.home.createLabel">
                                Add new Layout
                            </span>
                        </button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
