<div class="main-content">
    <div class="container-fluid">
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <div class="row">
            <div class="col-sm-12">
                <form name="searchForm" class="form-inline">
                    <div class="input-group w-100 mt-3">
                        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch"
                               placeholder="{{ 'motorsportsDatabaseApp.driver.home.search' | translate }}"
                               (keyup)="search(currentSearch)" (keydown.enter)="$event.preventDefault()">
                        <button class="input-group-append btn btn-danger" (click)="clearSearch()" *ngIf="currentSearch">
                            <fa-icon [icon]="'trash-alt'"></fa-icon>
                        </button>
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-driver" [routerLink]="['/driver/new']">
                            <fa-icon [icon]="'plus'"></fa-icon>
                            <span class="hidden-sm-down"  jhiTranslate="motorsportsDatabaseApp.driver.home.createLabel">
                                Create a new Driver
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title "><span jhiTranslate="motorsportsDatabaseApp.driver.home.title">Drivers</span></h4>
                    </div>
                    <div class="card-body">
                        <mat-spinner [hidden]="!isLoading"></mat-spinner>
                        <div class="alert alert-warning" id="no-result" [hidden]="dataSource!.data!.length != 0 || isLoading">
                            <span jhiTranslate="motorsportsDatabaseApp.driver.home.notFound">No drivers found</span>
                        </div>
                        <div class="table-responsive" [hidden]="dataSource!.data!.length === 0 || isLoading">
                            <mat-table class="table table-hover" [dataSource]="dataSource"
                                   matSort matSortActive="surname" matSortDisableClear matSortDirection="asc"
                                       (matSortChange)="sortChanged($event)">

                                <ng-container matColumnDef="flag">
                                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                    <mat-cell *matCellDef="let driver">
                                        <img *ngIf="driver?.nationality" src="/images/flags/{{driver?.nationality.countryCode}}.png"/>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>{{ 'motorsportsDatabaseApp.driver.name' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let driver">{{ driver.name }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="surname">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>{{ 'motorsportsDatabaseApp.driver.surname' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let driver">{{ driver.surname }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="birthDate">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>{{ 'motorsportsDatabaseApp.driver.birthDate' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let driver">{{ driver.birthDate | localizedDate }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="birthPlace">
                                    <mat-header-cell *matHeaderCellDef>{{ 'motorsportsDatabaseApp.driver.birthPlace' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let driver">{{ driver.birthPlace }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="deathDate">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>{{ 'motorsportsDatabaseApp.driver.deathDate' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let driver">{{ driver.deathDate | localizedDate }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="deathPlace">
                                    <mat-header-cell *matHeaderCellDef>{{ 'motorsportsDatabaseApp.driver.deathPlace' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let driver">{{ driver.deathPlace }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="portrait">
                                    <mat-header-cell *matHeaderCellDef>{{ 'motorsportsDatabaseApp.driver.portrait' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let driver">
                                        <img [src]="driver!.getDriverFaceImageUrl()" style="max-height: 30px;" alt="driver image"/>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="buttons">
                                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                    <mat-cell *matCellDef="let driver">
                                        <div class="btn-group">
                                            <button type="submit"
                                                    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                                                    [routerLink]="['/driver', driver.id, 'edit']"
                                                    (click)="$event.stopPropagation()"
                                                    class="btn btn-primary btn-xs">
                                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            </button>
                                            <button type="submit"
                                                    *jhiHasAnyAuthority="['ROLE_ADMIN']"
                                                    (click)="delete($event, driver)"
                                                    class="btn btn-danger btn-xs">
                                                <fa-icon [icon]="'times'"></fa-icon>
                                            </button>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;" class="pointer"
                                    [routerLink]="['/driver', row.id, 'view' ]"></mat-row>
                            </mat-table>
                            <mat-paginator [length]="totalItems"
                                           [pageSizeOptions]="[5, 10, 20]"
                                           [pageSize]="10"
                                           showFirstLastButtons
                                           (page)="pageChanged($event)"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
