<div>
  <h2 id="page-heading" data-cy="SeriesHeading">
    <span jhiTranslate="motorsportsDatabaseApp.series.home.title">Series</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="motorsportsDatabaseApp.series.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-series"
        [routerLink]="['/series/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="motorsportsDatabaseApp.series.home.createLabel"> Create a new Series </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'motorsportsDatabaseApp.series.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="series?.length === 0">
    <span jhiTranslate="motorsportsDatabaseApp.series.home.notFound">No series found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="series && series.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="motorsportsDatabaseApp.series.name">Name</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="shortname">
            <span jhiTranslate="motorsportsDatabaseApp.series.shortname">Shortname</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="organizer">
            <span jhiTranslate="motorsportsDatabaseApp.series.organizer">Organizer</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="logo">
            <span jhiTranslate="motorsportsDatabaseApp.series.logo">Logo</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let series of series; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/series', series.id, 'view']">{{ series.id }}</a>
          </td>
          <td>{{ series.name }}</td>
          <td>{{ series.shortname }}</td>
          <td>{{ series.organizer }}</td>
          <td>
            <a *ngIf="series.logo" (click)="openFile(series.logo, series.logoContentType)">
              <img [src]="'data:' + series.logoContentType + ';base64,' + series.logo" style="max-height: 30px" alt="series image" />
            </a>
            <span *ngIf="series.logo">{{ series.logoContentType }}, {{ byteSize(series.logo) }}</span>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/series', series.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/series', series.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(series)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
