<div class="main-content">
    <div class="container-fluid">
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <div class="row">
            <div class="col-sm-12">
                <form name="searchForm" class="form-inline">
                    <div class="input-group w-100 mt-3">
                        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch"
                               placeholder="{{ 'motorsportsDatabaseApp.series.home.search' | translate }}"
                               (keyup)="search(currentSearch)">
                        <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                            <fa-icon [icon]="'trash-alt'"></fa-icon>
                        </button>
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-series" [routerLink]="['/series/new']">
                            <fa-icon [icon]="'plus'"></fa-icon>
                            <span class="hidden-sm-down"  jhiTranslate="motorsportsDatabaseApp.series.home.createLabel">
                                Create a new series
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title "><span jhiTranslate="motorsportsDatabaseApp.series.home.title">Categories</span></h4>
                    </div>
                    <div class="card-body">
                        <mat-spinner [hidden]="!isLoading"></mat-spinner>
                        <div class="alert alert-warning" id="no-result" [hidden]="dataSource!.data!.length != 0 || isLoading">
                            <span jhiTranslate="motorsportsDatabaseApp.series.home.notFound">No series found</span>
                        </div>
                        <div class="table-responsive" [hidden]="dataSource!.data!.length === 0">
                            <mat-table class="table table-hover" [dataSource]="dataSource"
                                   matSort matSortActive="name" matSortDisableClear matSortDirection="asc">

                                <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'motorsportsDatabaseApp.series.name' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let series">{{ series.name }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="shortname">
                                    <mat-header-cell *matHeaderCellDef>{{ 'motorsportsDatabaseApp.series.shortname' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let series">{{ series.shortname }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="organizer">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>{{ 'motorsportsDatabaseApp.series.organizer' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let series">{{ series.organizer }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="logo">
                                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                    <mat-cell *matCellDef="let series">
                                        <img *ngIf="series?.logoUrl" [src]="series.logoUrl" style="max-height: 50px;" alt="series logo"/>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="buttons">
                                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                    <mat-cell *matCellDef="let series">
                                        <div class="btn-group">
                                            <button type="submit"
                                                    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                                                    [routerLink]="['/series', series.id, 'edit']"
                                                    (click)="$event.stopPropagation()"
                                                    class="btn btn-primary btn-sm">
                                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            </button>
                                            <button type="submit"
                                                    *jhiHasAnyAuthority="['ROLE_ADMIN']"
                                                    (click)="delete($event, series)"
                                                    class="btn btn-danger btn-sm">
                                                <fa-icon [icon]="'times'"></fa-icon>
                                            </button>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;" class="pointer"
                                    [routerLink]="['/series', row.id, 'view' ]"></mat-row>
                            </mat-table>
                            <mat-paginator [length]="totalItems"
                                           [pageSizeOptions]="[5, 10, 20]"
                                           [pageSize]="10"
                                           showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
