<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <ul class="breadcrumb breadcrumb-style ">
                            <li class="breadcrumb-item">
                                <h4 class="fw-bold">{{ 'motorsportsDatabaseApp.pointsSystem.home.title' | translate }}</h4>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <form class="register-form m-4" name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                    <div class="card">
                        <div class="body">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{ 'motorsportsDatabaseApp.pointsSystem.name' | translate }}</mat-label>
                                        <input matInput type="text" class="form-control" formControlName="name">
                                        <mat-error *ngIf="editForm.get('name')!.hasError('required')">
                                            {{ 'entity.validation.required' | translate }}
                                        </mat-error>
                                        <mat-error *ngIf="editForm.get('name')!.hasError('maxlength')">
                                            {{ 'entity.validation.maxlength' | translate: { max: 50} }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{ 'motorsportsDatabaseApp.pointsSystem.description' | translate }}</mat-label>
                                        <input matInput type="text" class="form-control" formControlName="description">
                                        <mat-error *ngIf="editForm.get('description')!.hasError('maxlength')">
                                            {{ 'entity.validation.maxlength' | translate: { max: 100} }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                                    <mat-checkbox class="example-margin" formControlName="active" color="primary">
                                        {{'motorsportsDatabaseApp.pointsSystem.active' | translate}}
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{ 'motorsportsDatabaseApp.pointsSystem.points' | translate }}</mat-label>
                                        <input matInput type="text" class="form-control" formControlName="points">
                                        <mat-error *ngIf="editForm.get('points')!.hasError('required')">
                                            {{ 'entity.validation.required' | translate }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{ 'motorsportsDatabaseApp.pointsSystem.pointsMostLeadLaps' | translate }}</mat-label>
                                        <input matInput type="number" class="form-control" formControlName="pointsMostLeadLaps">
                                        <mat-error *ngIf="editForm.get('pointsMostLeadLaps')!.hasError('number')">
                                            {{ 'entity.validation.number' | translate }}
                                        </mat-error>
                                        <mat-error *ngIf="editForm.get('pointsMostLeadLaps')!.hasError('max')">
                                            {{ 'entity.validation.max' | translate: {max:10} }}
                                        </mat-error>
                                        <mat-error *ngIf="editForm.get('pointsMostLeadLaps')!.hasError('min')">
                                            {{ 'entity.validation.min' | translate: {min:0}  }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{ 'motorsportsDatabaseApp.pointsSystem.pointsFastLap' | translate }}</mat-label>
                                        <input matInput type="number" class="form-control" formControlName="pointsFastLap">
                                        <mat-error *ngIf="editForm.get('pointsFastLap')!.hasError('number')">
                                            {{ 'entity.validation.number' | translate }}
                                        </mat-error>
                                        <mat-error *ngIf="editForm.get('pointsFastLap')!.hasError('max')">
                                            {{ 'entity.validation.max' | translate: {max:10} }}
                                        </mat-error>
                                        <mat-error *ngIf="editForm.get('pointsFastLap')!.hasError('min')">
                                            {{ 'entity.validation.min' | translate: {min:0}  }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{ 'motorsportsDatabaseApp.pointsSystem.pointsPole' | translate }}</mat-label>
                                        <input matInput type="number" class="form-control" formControlName="pointsPole">
                                        <mat-error *ngIf="editForm.get('pointsPole')!.hasError('number')">
                                            {{ 'entity.validation.number' | translate }}
                                        </mat-error>
                                        <mat-error *ngIf="editForm.get('pointsPole')!.hasError('max')">
                                            {{ 'entity.validation.max' | translate: {max:10} }}
                                        </mat-error>
                                        <mat-error *ngIf="editForm.get('pointsPole')!.hasError('min')">
                                            {{ 'entity.validation.min' | translate: {min:0}  }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{ 'motorsportsDatabaseApp.pointsSystem.pointsLeadLap' | translate }}</mat-label>
                                        <input matInput type="number" class="form-control" formControlName="pointsLeadLap">
                                        <mat-error *ngIf="editForm.get('pointsLeadLap')!.hasError('number')">
                                            {{ 'entity.validation.number' | translate }}
                                        </mat-error>
                                        <mat-error *ngIf="editForm.get('pointsLeadLap')!.hasError('max')">
                                            {{ 'entity.validation.max' | translate: {max:10} }}
                                        </mat-error>
                                        <mat-error *ngIf="editForm.get('pointsLeadLap')!.hasError('min')">
                                            {{ 'entity.validation.min' | translate: {min:0}  }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row" *ngIf="editForm.get('pointsFastLap')?.value > 0">
                                <div class="form-group col-lg-6 col-md-6 col-sm-12 mb-2">
                                    <div class="card">
                                        <div class="card-header">
                                            <span jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsFastLapAwardedIf"></span>
                                        </div>
                                        <div class="card-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="form-group col-lg-4 col-md-4 mb-2">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>{{ 'motorsportsDatabaseApp.pointsSystem.maxFinishinPositionFL' | translate }}</mat-label>
                                                            <input matInput type="number" class="form-control" formControlName="maxPosFastLap">
                                                            <mat-error *ngIf="editForm.get('maxPosFastLap')!.hasError('number')">
                                                                {{ 'entity.validation.number' | translate }}
                                                            </mat-error>
                                                            <mat-error *ngIf="editForm.get('maxPosFastLap')!.hasError('max')">
                                                                {{ 'entity.validation.max' | translate: {max:100} }}
                                                            </mat-error>
                                                            <mat-error *ngIf="editForm.get('maxPosFastLap')!.hasError('min')">
                                                                {{ 'entity.validation.min' | translate: {min:0}  }}
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="form-group col-lg-4 col-md-4">
                                                        <label jhiTranslate="motorsportsDatabaseApp.pointsSystem.pitlaneStartAllowed">Pitlane start allowed</label>
                                                        <i [ngClass]="editForm.get('pitlaneStartAllowed')?.value ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'"
                                                           (click)="switchPitlaneStart()"></i>
                                                    </div>
                                                    <div class="form-group col-lg-4 col-md-4">
                                                        <label jhiTranslate="motorsportsDatabaseApp.pointsSystem.alwaysAssignFastLap">Assign fast lap points to any driver</label>
                                                        <i [ngClass]="editForm.get('alwaysAssignFastLap')?.value ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'"
                                                           (click)="switchAlwaysAssignFastLap()"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motorsportsDatabaseApp.pointsSystem.pointsRacePctCompletion1' | translate }}" type="number"
                                               class="form-control" name="racePctCompleted" id="field_racePctCompletion" formControlName="racePctCompleted">
                                        <div *ngIf="editForm.get('racePctCompleted')?.invalid">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('racePctCompleted')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 100 }">
                                                Maximum value exceeded
                                            </small>
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('racePctCompleted')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                                                Minimum value exceeded
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motorsportsDatabaseApp.pointsSystem.pointsRacePctCompletion2' | translate }}" type="number"
                                               class="form-control" name="pctTotalPoints" id="field_totalPointsPct" formControlName="pctTotalPoints">
                                        <div *ngIf="editForm.get('pctTotalPoints')?.invalid">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('pctTotalPoints')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 100 }">
                                                Maximum value exceeded
                                            </small>
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('pctTotalPoints')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                                                Minimum value exceeded
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                                    <label jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsRacePctCompletion3">% of points assigned</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <button class="msr-3" [disabled]="!editForm.valid || isSaving" mat-raised-button color="primary">
                                        <span jhiTranslate="entity.action.save">Save</span>
                                        <mat-icon matPrefix>save</mat-icon>
                                    </button>

                                    <button type="button" mat-button id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                                        <span jhiTranslate="entity.action.cancel">Cancel</span>
                                        <mat-icon matPrefix>cancel</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
