<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">{{'motorsportsDatabaseApp.subscriptions.title' | translate }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h4>
                                    {{'motorsportsDatabaseApp.subscriptions.description' | translate }}
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="currentFilter" placeholder="Filter">
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <button mat-button (click)="save()" class="btn btn-info float-right">
                                    <fa-icon [icon]="'save'"></fa-icon>
                                </button>
                            </div>
                        </div>
                        <div class="row" [formGroup]="editForm">
                            <div class="col-12 form-group" formArrayName="seriesSubscriptions">
                                <mat-list>
                                    <ng-container *ngFor="let subscription of editForm.get('seriesSubscriptions')['controls']; let i=index">
                                        <mat-list-item [formGroupName]="i" *ngIf="isShown(subscription.value.editionName)">
                                            <div class="col-3">
                                                {{ subscription.value.editionName }}
                                            </div>
                                            <div *ngIf="!subscription.value.editionName.toLowerCase().includes('rally')" class="col-4">
                                                <mat-slide-toggle formControlName="practiceSessions">{{'motorsportsDatabaseApp.subscriptions.sessions.freePractice' | translate }}</mat-slide-toggle>
                                                <mat-slide-toggle formControlName="qualiSessions">{{'motorsportsDatabaseApp.subscriptions.sessions.qualifying' | translate }}</mat-slide-toggle>
                                                <mat-slide-toggle formControlName="races">{{'motorsportsDatabaseApp.subscriptions.sessions.races' | translate }}</mat-slide-toggle>
                                            </div>
                                            <div *ngIf="subscription.value.editionName.toLowerCase().includes('rally')" class="col-4">
                                            </div>
                                            <div class="col-4">
                                                <mat-slide-toggle formControlName="fifteenMinWarning">{{'motorsportsDatabaseApp.subscriptions.warnings.fifteenMins' | translate }}</mat-slide-toggle>
                                                <mat-slide-toggle formControlName="oneHourWarning">{{'motorsportsDatabaseApp.subscriptions.warnings.oneHour' | translate }}</mat-slide-toggle>
                                                <mat-slide-toggle formControlName="threeHoursWarning">{{'motorsportsDatabaseApp.subscriptions.warnings.threeHours' | translate }}</mat-slide-toggle>
                                            </div>
                                        </mat-list-item>
                                    </ng-container>
                                </mat-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
