<section class="content">
    <div class="container-fluid">
        <div class="block-header mt-n3">
            <div class="row">
                <div class="col-12">
                    <ul class="breadcrumb breadcrumb-style">
                        <li class="breadcrumb-item bcrumb-2">
                            <a routerLink="/"><fa-icon [icon]="['fas', 'arrow-alt-circle-right']" size="2x"></fa-icon></a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a routerLink="/category">{{ 'motorsportsDatabaseApp.category.home.title' | translate }}</a>
                        </li>
                        <li class="breadcrumb-item active">{{ category!.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="m-b-20">
                        <div class="contact-grid">
                            <div class="profile-header bg-dark">
                                <div class="user-name">{{ category!.name }}</div>
                            </div>

                            <button mat-mini-fab type="submit" color="primary"
                                    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                                    [routerLink]="['/category', category?.id, 'edit']">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row jh-entity-details">
                            <div class="col-md-10">
                                <dt><span jhiTranslate="motorsportsDatabaseApp.category.shortname">Shortname</span></dt>
                                <dd>
                                    <span>{{category!.shortname}}</span>
                                </dd>
                            </div>
                        </div>
                        <div class="row jh-entity-details">
                            <div class="col-md-12">
                                <dt><span jhiTranslate="motorsportsDatabaseApp.category.categoryColor">Category color</span></dt>
                                <dd>
                                    <span>{{category!.categoryColor}}</span>
                                </dd>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
