<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fuelProvider">
            <h2>{{fuelProvider.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="motorsportsDatabaseApp.fuelProvider.logo">Logo</span></dt>
                <dd>
                    <div *ngIf="fuelProvider.logoUrl">
                        <img [src]="fuelProvider.logoUrl" style="max-height: 200px;" alt="fuel provider logo"/>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                    [routerLink]="['/fuel-provider', fuelProvider.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
