
<div *ngIf="fuelProvider">
    <h2><span jhiTranslate="motorsportsDatabaseApp.fuelProvider.detail.title">Fuel Provider</span> {{fuelProvider.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="motorsportsDatabaseApp.fuelProvider.name">Name</span></dt>
        <dd>
            <span>{{fuelProvider.name}}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.fuelProvider.logo">Logo</span></dt>
        <dd>
            <div *ngIf="fuelProvider.logoUrl">
                 <img [src]="fuelProvider.logoUrl" style="max-height: 200px;" alt="fuel provider logo"/>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'fuel-provider/'+ fuelProvider.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
