<section class="content">
    <div class="container-fluid">
        <div class="block-header mt-n3">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item bcrumb-2">
                            <a routerLink="/"><fa-icon [icon]="['fas', 'arrow-alt-circle-right']" size="2x"></fa-icon></a>
                        </li>
                        <li class="breadcrumb-item active">{{ 'motorsportsDatabaseApp.category.home.title' | translate }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <form class="register-form m-4" name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                    <div class="card">
                        <div class="body">
                            <jhi-alert-error></jhi-alert-error>
                            <div class="row">
                                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{ 'motorsportsDatabaseApp.category.name' | translate }}</mat-label>
                                        <input matInput type="text" class="form-control" formControlName="name"/>
                                        <mat-error *ngIf="editForm.get('name')!.hasError('required')">
                                            {{ 'entity.validation.required' | translate }}
                                        </mat-error>
                                        <mat-error *ngIf="editForm.get('name')!.hasError('maxlength')">
                                            {{ 'entity.validation.maxlength' | translate: { max: 40 } }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{ 'motorsportsDatabaseApp.category.shortname' | translate }}</mat-label>
                                        <input matInput type="text" class="form-control" formControlName="shortname"/>
                                        <mat-error *ngIf="editForm.get('name')!.hasError('required')">
                                            {{ 'entity.validation.required' | translate }}
                                        </mat-error>
                                        <mat-error *ngIf="editForm.get('name')!.hasError('maxlength')">
                                            {{ 'entity.validation.maxlength' | translate: { max: 10 } }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{ 'motorsportsDatabaseApp.category.relevance' | translate }}</mat-label>
                                        <input matInput type="number" formControlName="relevance"/>
                                        <mat-error *ngIf="editForm.get('relevance')?.hasError('max')">
                                            {{ 'entity.validation.max' | translate: '{ max: 1000 }' }}
                                        </mat-error>
                                        <mat-error *ngIf="editForm.get('relevance')?.hasError('min')">
                                            {{ 'entity.validation.min' | translate: '{ min: 100 }' }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{ 'motorsportsDatabaseApp.category.categoryColor' | translate }}</mat-label>
                                        <input matInput placeholder="{{ 'motorsportsDatabaseApp.category.categoryColor' | translate }}" type="color"
                                               class="form-control" name="name" id="field_categoryColor" formControlName="categoryColor">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{ 'motorsportsDatabaseApp.category.categoryFrontColor' | translate }}</mat-label>
                                        <input matInput placeholder="{{ 'motorsportsDatabaseApp.category.categoryFrontColor' | translate }}" type="color"
                                               class="form-control" name="name" id="field_categoryFrontColor" formControlName="categoryFrontColor">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <button class="msr-3" [disabled]="!editForm.valid || isSaving" mat-raised-button color="primary">
                                        <span jhiTranslate="entity.action.save">Save</span>
                                        <mat-icon matPrefix>save</mat-icon>
                                    </button>

                                    <button type="button" mat-button id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                                        <span jhiTranslate="entity.action.cancel">Cancel</span>
                                        <mat-icon matPrefix>cancel</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
