<div class="responsive_table">
    <div class="materialTableHeader">
        <div class="row">
            <div class="col-8">
                <ul class="header-buttons-left ml-0">
                    <li class="dropdown">
                        <h2>
                            <strong><span jhiTranslate="motorsportsDatabaseApp.racetrackLayout.home.title">Racetrack Layouts</span></strong>
                        </h2>
                    </li>
                </ul>
            </div>
            <div class="col-4" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']">
                <ul class="header-buttons">
                    <li>
                        <div class="icon-button-demo">
                            <button mat-mini-fab type="button"
                                    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                                    color="primary"
                                    [routerLink]="['/racetrack', racetrack!.id, 'layout', 'new']">
                                <mat-icon class="col-white">add</mat-icon>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-spinner [hidden]="!isLoading"></mat-spinner>
            <div class="alert alert-warning" id="no-result" [hidden]="dataSource!.data!.length != 0 || isLoading">
                <span jhiTranslate="motorsportsDatabaseApp.racetrackLayout.home.notFound">No racetrackLayouts found</span>
            </div>
            <div class="table-responsive" [hidden]="dataSource!.data!.length === 0 || isLoading">
                <table mat-table class="table table-hover body" [dataSource]="dataSource">
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef>{{ 'motorsportsDatabaseApp.racetrackLayout.name' | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let layout">{{ layout.name }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="length">
                        <mat-header-cell *matHeaderCellDef>{{ 'motorsportsDatabaseApp.racetrackLayout.length' | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let layout">{{ layout.length | racetrackLengthMask }}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="yearFirstUse">
                        <mat-header-cell *matHeaderCellDef>{{ 'motorsportsDatabaseApp.racetrackLayout.yearFirstUse' | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let layout">{{ layout.yearFirstUse }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="layoutImage">
                        <mat-header-cell *matHeaderCellDef>{{ 'motorsportsDatabaseApp.racetrackLayout.layoutImage' | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let layout">
                            <img *ngIf="layout?.layoutImageUrl" [src]="layout.layoutImageUrl"
                                 style="max-height: 30px;" alt="racetrack layout"/>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="active">
                        <mat-header-cell *matHeaderCellDef>{{ 'motorsportsDatabaseApp.racetrackLayout.active' | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let layout"><i
                            [ngClass]="layout.active ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'"></i>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="buttons">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let layout">
                            <div class="btn-group">
                                <button mat-mini-fab type="submit"
                                        color="primary"
                                        *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                                        (click)="editLayout(layout)">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                </button>
                                <button mat-mini-fab type="submit"
                                        color="warn"
                                        *jhiHasAnyAuthority="['ROLE_ADMIN']"
                                        (click)="delete($event, layout)">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                </button>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="pointer"
                             [routerLink]="['/racetrack', row.racetrack.id, 'layout', row.id ]"></mat-row>
                </table>
            </div>
        </div>
    </div>
</div>
