<div>
  <h2 id="page-heading" data-cy="RacetrackLayoutHeading">
    <span jhiTranslate="motorsportsDatabaseApp.racetrackLayout.home.title">Racetrack Layouts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="motorsportsDatabaseApp.racetrackLayout.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-racetrack-layout"
        [routerLink]="['/racetrack-layout/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="motorsportsDatabaseApp.racetrackLayout.home.createLabel">
          Create a new Racetrack Layout
        </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'motorsportsDatabaseApp.racetrackLayout.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="racetrackLayouts?.length === 0">
    <span jhiTranslate="motorsportsDatabaseApp.racetrackLayout.home.notFound">No racetrackLayouts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="racetrackLayouts && racetrackLayouts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="motorsportsDatabaseApp.racetrackLayout.name">Name</span></th>
          <th scope="col"><span jhiTranslate="motorsportsDatabaseApp.racetrackLayout.length">Length</span></th>
          <th scope="col"><span jhiTranslate="motorsportsDatabaseApp.racetrackLayout.yearFirstUse">Year First Use</span></th>
          <th scope="col"><span jhiTranslate="motorsportsDatabaseApp.racetrackLayout.layoutImage">Layout Image</span></th>
          <th scope="col"><span jhiTranslate="motorsportsDatabaseApp.racetrackLayout.active">Active</span></th>
          <th scope="col"><span jhiTranslate="motorsportsDatabaseApp.racetrackLayout.racetrack">Racetrack</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let racetrackLayout of racetrackLayouts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/racetrack-layout', racetrackLayout.id, 'view']">{{ racetrackLayout.id }}</a>
          </td>
          <td>{{ racetrackLayout.name }}</td>
          <td>{{ racetrackLayout.length }}</td>
          <td>{{ racetrackLayout.yearFirstUse }}</td>
          <td>
            <a *ngIf="racetrackLayout.layoutImage" (click)="openFile(racetrackLayout.layoutImage, racetrackLayout.layoutImageContentType)">
              <img
                [src]="'data:' + racetrackLayout.layoutImageContentType + ';base64,' + racetrackLayout.layoutImage"
                style="max-height: 30px"
                alt="racetrackLayout image"
              />
            </a>
            <span *ngIf="racetrackLayout.layoutImage"
              >{{ racetrackLayout.layoutImageContentType }}, {{ byteSize(racetrackLayout.layoutImage) }}</span
            >
          </td>
          <td>{{ racetrackLayout.active }}</td>
          <td>
            <div *ngIf="racetrackLayout.racetrack">
              <a [routerLink]="['/racetrack', racetrackLayout.racetrack?.id, 'view']">{{ racetrackLayout.racetrack?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/racetrack-layout', racetrackLayout.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/racetrack-layout', racetrackLayout.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(racetrackLayout)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
