<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false">
        <div>
            <div class="logo">
                <a routerLink="/" class="simple-text">
                    <div class="logo-img">
                        <img src="/content/images/logo.png" class="img-fluid"/>
                    </div>
                </a>
            </div>
        </div>
        <mat-nav-list>
            <jhi-sidebar></jhi-sidebar>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span class="fill-space"></span>
            <jhi-navbar></jhi-navbar>
        </mat-toolbar>
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
        <jhi-footer></jhi-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
