<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="/images/lateral-background-1.jpg">
        <jhi-sidebar></jhi-sidebar>
        <div class="sidebar-background" style="background-image: url(/images/lateral-background-1.jpg)"></div>
    </div>
    <div class="main-panel">
        <jhi-navbar></jhi-navbar>
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
        <jhi-footer></jhi-footer>
    </div>
</div>
