<jhi-page-ribbon></jhi-page-ribbon>
<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="container-fluid" id="main">
    <div class="row">
    	<button class="navbar-toggler hidden-sm-up" type="button" (click)="isSidebarCollapsed = !isSidebarCollapsed" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
   			<i class="fa fa-bars"></i>
   		</button>
    	<div class="col-lg-2 col-md-2" *ngIf="isAuthenticated()">
	  		<div [ngbCollapse]="isSidebarCollapsed" class="collapse navbar-toggleable-xs" id="sidebar">
        		<div class="col-md-3 col-lg-2" id="exCollapsingNavbar2" role="navigation">
		            <ul class="navbar-nav ml-auto">
		            	<li uiSrefActive="active">
				            <a class="dropdown-item" routerLink="driver">
				                <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
				                <span jhiTranslate="global.menu.entities.driver">Driver</span>
				            </a>
				        </li>
				        <li uiSrefActive="active">
				            <a class="dropdown-item" routerLink="racetrack">
				                <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
				                <span jhiTranslate="global.menu.entities.racetrack">Racetrack</span>
				            </a>
				        </li>
				        <li uiSrefActive="active">
				            <a class="dropdown-item" routerLink="team">
				                <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
				                <span jhiTranslate="global.menu.entities.team">Team</span>
				            </a>
				        </li>
				        <li uiSrefActive="active">
		                    <a class="dropdown-item" routerLink="engine">
		                        <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
		                        <span jhiTranslate="global.menu.entities.engine">Engine</span>
		                    </a>
		                </li>
		                <li uiSrefActive="active">
		                    <a class="dropdown-item" routerLink="chassis">
		                        <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
		                        <span jhiTranslate="global.menu.entities.chassis">Chassis</span>
		                    </a>
		                </li>
				        <li uiSrefActive="active">
				            <a class="dropdown-item" routerLink="tyre-provider">
				                <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
				                <span jhiTranslate="global.menu.entities.tyreProvider">Tyre Provider</span>
				            </a>
				        </li>
				        <li uiSrefActive="active">
		                    <a class="dropdown-item" routerLink="fuel-provider">
		                        <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
		                        <span jhiTranslate="global.menu.entities.fuelProvider">Fuel Provider</span>
		                    </a>
		                </li>
		                <li uiSrefActive="active">
		                    <a class="dropdown-item" routerLink="event">
		                        <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
		                        <span jhiTranslate="global.menu.entities.event">Event</span>
		                    </a>
		                </li>
		                <li uiSrefActive="active">
		                    <a class="dropdown-item" routerLink="series">
		                        <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
		                        <span jhiTranslate="global.menu.entities.series">Series</span>
		                    </a>
		                </li>
		                <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']" uiSrefActive="active">
		                    <a class="dropdown-item" routerLink="category">
		                        <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
		                        <span jhiTranslate="global.menu.entities.category">Category</span>
		                    </a>
		                </li>
		           	</ul>
        		</div>
        	</div>
		</div>
        <div class="col-lg-10 col-md-10 card jh-card">
	        <router-outlet></router-outlet>
	        <router-outlet name="popup"></router-outlet>
	    </div>
	</div>
</div>
<jhi-footer></jhi-footer>