<div class="main-content">
    <div class="container-fluid">
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <div class="row">
            <div class="col-sm-12">
                <form name="searchForm" class="form-inline">
                    <div class="input-group w-100 mt-3">
                        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'motorsportsDatabaseApp.category.home.search' | translate }}">
                        <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                            <fa-icon [icon]="'search'"></fa-icon>
                        </button>
                        <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                            <fa-icon [icon]="'trash-alt'"></fa-icon>
                        </button>
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-category" [routerLink]="['/category/new']">
                            <fa-icon [icon]="'plus'"></fa-icon>
                            <span class="hidden-sm-down"  jhiTranslate="motorsportsDatabaseApp.category.home.createLabel">
                                Create a new category
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title "><span jhiTranslate="motorsportsDatabaseApp.category.home.title">Categories</span></h4>
                    </div>
                    <div class="card-body">
                        <mat-spinner [hidden]="!isLoading"></mat-spinner>
                        <div class="alert alert-warning" id="no-result" *ngIf="categories?.length === 0 && !isLoading">
                            <span jhiTranslate="motorsportsDatabaseApp.category.home.notFound">No categories found</span>
                        </div>
                        <div class="table-responsive" *ngIf="categories && categories.length > 0">
                            <mat-table class="table table-hover" [dataSource]="categories"
                                   matSort matSortActive="name" matSortDisableClear matSortDirection="asc">

                                <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'motorsportsDatabaseApp.category.name' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let category">{{ category.name }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="shortname">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>{{ 'motorsportsDatabaseApp.category.shortname' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let category">
                                        <span *ngIf="!category.categoryColor">{{ category.shortname }}</span>
                                        <span *ngIf="category.categoryColor" class="badge" [style.background]="category.categoryColor" [style.color]="'#FFFFFF'"><h4><strong>{{ category.shortname }}</strong></h4></span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="logo">
                                    <mat-header-cell *matHeaderCellDef>{{ 'motorsportsDatabaseApp.category.logo' | translate }}</mat-header-cell>
                                    <mat-cell *matCellDef="let category">
                                        <img *ngIf="category?.logoUrl" [src]="category.logoUrl" style="max-height: 30px;" alt="category logo"/>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="buttons">
                                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                    <mat-cell *matCellDef="let category">
                                        <div class="btn-group">
                                            <button type="submit"
                                                    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                                                    [routerLink]="['/category', category.id, 'edit']"
                                                    (click)="$event.stopPropagation()"
                                                    class="btn btn-primary btn-xs">
                                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            </button>
                                            <button type="submit"
                                                    *jhiHasAnyAuthority="['ROLE_ADMIN']"
                                                    (click)="delete($event, category)"
                                                    class="btn btn-danger btn-xs">
                                                <fa-icon [icon]="'times'"></fa-icon>
                                            </button>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;" class="pointer"
                                    [routerLink]="['/category', row.id, 'view' ]"></mat-row>
                            </mat-table>
                            <mat-paginator [length]="totalItems"
                                           [pageSizeOptions]="[5, 10, 20]"
                                           [pageSize]="10"
                                           (page)="pageChanged($event)"
                                           showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
