<section class="content">
    <div class="container-fluid">
        <div class="block-header mt-n3">
            <div class="row">
                <div class="col-12">
                    <ul class="breadcrumb breadcrumb-style">
                        <li class="breadcrumb-item bcrumb-2">
                            <a routerLink="/"><fa-icon [icon]="['fas', 'arrow-alt-circle-right']" size="2x"></fa-icon></a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a routerLink="/points-system">{{ 'motorsportsDatabaseApp.pointsSystem.home.title' | translate }}</a>
                        </li>
                        <li class="breadcrumb-item active">{{ pointsSystem!.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="m-b-20">
                        <div class="contact-grid">
                            <div class="profile-header bg-dark">
                                <div class="user-name">{{ pointsSystem!.name }}</div>
                            </div>

                            <button mat-mini-fab type="submit" color="primary"
                                    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                                    [routerLink]="['/points-system', pointsSystem?.id, 'edit']">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row jh-entity-details">
                            <div class="col-md-10">
                                <dt><span jhiTranslate="motorsportsDatabaseApp.pointsSystem.description">Description</span></dt>
                                <dd>
                                    <span>{{pointsSystem!.description}}</span>
                                </dd>
                            </div>
                            <div class="col-md-2">
                                <dt><span jhiTranslate="motorsportsDatabaseApp.pointsSystem.active">Active</span></dt>
                                <dd>
                                    <span><i [ngClass]="pointsSystem!.active ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'"></i></span>
                                </dd>
                            </div>
                        </div>
                        <div class="row jh-entity-details">
                            <div class="col-md-12">
                                <dt><span jhiTranslate="motorsportsDatabaseApp.pointsSystem.points">Points</span></dt>
                                <dd>
                                    <span>{{pointsSystem!.points}}</span>
                                </dd>
                            </div>
                        </div>
                        <div class="row jh-entity-details">
                            <div class="col-md-3">
                                <dt><span jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsMostLeadLaps">Points Most Lead Laps</span></dt>
                                <dd>
                                    <span>{{pointsSystem!.pointsMostLeadLaps}}</span>
                                </dd>
                            </div>
                            <div class="col-md-3">
                                <dt><span jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsFastLap">Points Fast Lap</span></dt>
                                <dd>
                                    <span>{{pointsSystem!.pointsFastLap}}</span>
                                </dd>
                            </div>
                            <div class="col-md-3">
                                <dt><span jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsPole">Points Pole</span></dt>
                                <dd>
                                    <span>{{pointsSystem!.pointsPole}}</span>
                                </dd>
                            </div>
                            <div class="col-md-3">
                                <dt><span jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsLeadLap">Points Lead Lap</span></dt>
                                <dd>
                                    <span>{{pointsSystem!.pointsLeadLap}}</span>
                                </dd>
                            </div>
                        </div>
                        <div class="row jh-entity-details" *ngIf="pointsSystem!.pointsFastLap > 0">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <span jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsFastLapAwardedIf"></span>
                                    </div>
                                    <div class="card-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="form-group col-lg-4 col-md-4">
                                                    <dt><span jhiTranslate="motorsportsDatabaseApp.pointsSystem.maxFinishinPositionFL">Max Finishing position for Fast Lap Point</span></dt>
                                                    <dd>
                                                        <span>{{pointsSystem!.maxPosFastLap}}</span>
                                                    </dd>
                                                </div>
                                                <div class="form-group col-lg-4 col-md-4">
                                                    <dt><span jhiTranslate="motorsportsDatabaseApp.pointsSystem.pitlaneStartAllowed">Points awarded if starting from pitlane</span></dt>
                                                    <dd>
                                                        <span><i [ngClass]="pointsSystem!.pitlaneStartAllowed ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'"></i></span>
                                                    </dd>
                                                </div>
                                                <div class="form-group col-lg-4 col-md-4">
                                                    <dt><span jhiTranslate="motorsportsDatabaseApp.pointsSystem.alwaysAssignFastLap">Assign fast lap points to any driver</span></dt>
                                                    <dd>
                                                        <span><i [ngClass]="pointsSystem!.alwaysAssignFastLap ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'"></i></span>
                                                    </dd>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row jh-entity-details" *ngIf="pointsSystem!.racePctCompleted > 0">
                            <div class="col-md-12">
                                <p jhiTranslate="motorsportsDatabaseApp.pointsSystem.racePctCompletion"
                                   [translateValues]="{racePct: pointsSystem!.racePctCompleted, pointsPct: pointsSystem!.pctTotalPoints}">Percent of points awarded if only percent of race completed</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
