<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="pointsSystem">
      <h2 data-cy="pointsSystemDetailsHeading">
        <span jhiTranslate="motorsportsDatabaseApp.pointsSystem.detail.title">Points System</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ pointsSystem.id }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.pointsSystem.name">Name</span></dt>
        <dd>
          <span>{{ pointsSystem.name }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.pointsSystem.description">Description</span></dt>
        <dd>
          <span>{{ pointsSystem.description }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.pointsSystem.points">Points</span></dt>
        <dd>
          <span>{{ pointsSystem.points }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsMostLeadLaps">Points Most Lead Laps</span></dt>
        <dd>
          <span>{{ pointsSystem.pointsMostLeadLaps }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsFastLap">Points Fast Lap</span></dt>
        <dd>
          <span>{{ pointsSystem.pointsFastLap }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsPole">Points Pole</span></dt>
        <dd>
          <span>{{ pointsSystem.pointsPole }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.pointsSystem.pointsLeadLap">Points Lead Lap</span></dt>
        <dd>
          <span>{{ pointsSystem.pointsLeadLap }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/points-system', pointsSystem.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
