tr.odd {
  background-color: rgba(0, 0, 0, 0.05);
}

td.retired {
  background-color: #efcfff;
}

td.disqualified {
  background-color: #000000;
  color: #ffffff;
}

td.winner {
  background-color: #ffffbf;
}

td.second {
  background-color: #dfdfdf;
}

td.third {
  background-color: #ffdf9f;
}

.container-scroll {
  overflow-x: auto;
}
.container-scroll > .row {
  width: 133.33333333%; /* = 100% * 4/3 */
}
