<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{ editForm.get('manufacturer')?.value }} {{ editForm.get('name')?.value }}</h4>
                        <p class="card-category">{{ 'motorsportsDatabaseApp.engine.home.createOrEditLabel' | translate }}</p>
                    </div>
                    <div class="card-body">
                        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motorsportsDatabaseApp.engine.manufacturer' | translate }}" type="text"
                                               class="form-control" name="manufacturer" id="field_manufacturer" formControlName="manufacturer">
                                        <div *ngIf="editForm.get('manufacturer')?.invalid && (editForm.get('manufacturer')?.dirty || editForm.get('manufacturer')?.touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('manufacturer')?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('manufacturer')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                                                This field cannot be longer than 50 characters.
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motorsportsDatabaseApp.engine.name' | translate }}" type="text"
                                               class="form-control" name="name" id="field_name" formControlName="name">
                                        <div *ngIf="editForm.get('name')?.invalid && (editForm.get('name')?.dirty || editForm.get('name')?.touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('name')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                                                This field cannot be longer than 50 characters.
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motorsportsDatabaseApp.engine.debutYear' | translate }}" type="text"
                                               class="form-control" name="debutYear" id="field_debutYear" formControlName="debutYear">
                                        <div *ngIf="editForm.get('debutYear')?.invalid && (editForm.get('debutYear')?.dirty || editForm.get('debutYear')?.touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('debutYear')?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.debutYear?.errors?.number" jhiTranslate="entity.validation.number">
                                                This field should be a number.
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motorsportsDatabaseApp.engine.capacity' | translate }}" type="text"
                                               class="form-control" name="capacity" id="field_capacity" formControlName="capacity">
                                        <div *ngIf="editForm.get('capacity')?.invalid && (editForm.get('capacity')?.dirty || editForm.get('capacity')?.touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('capacity')?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.get('capacity')?.errors?.number" jhiTranslate="entity.validation.number">
                                                This field should be a number.
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motorsportsDatabaseApp.engine.architecture' | translate }}" type="text"
                                               class="form-control" name="architecture" id="field_architecture" formControlName="architecture">
                                        <div *ngIf="editForm.get('architecture')?.invalid && (editForm.get('architecture')?.dirty || editForm.get('architecture')?.touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('architecture')?.errors?.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('architecture')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 10 }">
                                                This field cannot be longer than 10 characters.
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label jhiTranslate="motorsportsDatabaseApp.engine.petrolEngine">Petrol Engine</label>
                                    <i [ngClass]="editForm.get('petrolEngine')?.value ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'" (click)="switchPetrolEngine()"></i>
                                </div>
                                <div class="col-md-2">
                                    <label jhiTranslate="motorsportsDatabaseApp.engine.dieselEngine">Diesel Engine</label>
                                    <i [ngClass]="editForm.get('dieselEngine')?.value ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'" (click)="switchDieselEngine()"></i>
                                </div>
                                <div class="col-md-2">
                                    <label jhiTranslate="motorsportsDatabaseApp.engine.electricEngine">Electric Engine</label>
                                    <i [ngClass]="editForm.get('electricEngine')?.value ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'" (click)="switchElectricEngine()"></i>
                                </div>
                                <div class="col-md-2">
                                    <label jhiTranslate="motorsportsDatabaseApp.engine.otherEngine">Other Engine</label>
                                    <i [ngClass]="editForm.get('otherEngine')?.value ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'" (click)="switchOtherEngine()"></i>
                                </div>
                                <div class="col-md-2">
                                    <label jhiTranslate="motorsportsDatabaseApp.engine.turbo">Turbo</label>
                                    <i [ngClass]="editForm.get('turbo')?.value ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'" (click)="switchTurbo()"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput id="field_derivedFrom" type="text" name="derivedFrom" class="form-control"
                                               [matAutocomplete]="auto" formControlName="derivedFrom"
                                               placeholder="{{ 'motorsportsDatabaseApp.engine.derivedFrom' | translate }}"/>
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                            <mat-option *ngIf="isLoading" class="is-loading"><mat-progress-bar mode="indeterminate"></mat-progress-bar></mat-option>
                                            <mat-option *ngFor="let option of (options | async)" [value]="option">
                                                <span>{{ option.manufacturer }} {{ option.name }}</span>
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <label jhiTranslate="motorsportsDatabaseApp.engine.rebranded">Rebranded</label> <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="tooltip" title="{{ 'motorsportsDatabaseApp.engine.rebrandedTooltip' | translate }}"></i>
                                    <i [ngClass]="editForm.get('rebranded')?.value ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'" (click)="switchRebranded()"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.engine.image" for="field_image">Image</label>
                                    <div>
                                        <img [src]="editForm.get('imageUrl')?.value" style="max-height: 100px;" *ngIf="!editForm.get('image')?.value && editForm.get('imageUrl')?.value != null" alt="engine image"/>
                                        <img [src]="'data:' + editForm.get('imageContentType')?.value + ';base64,' + editForm.get('image')?.value" style="max-height: 100px;" *ngIf="editForm.get('image')?.value" alt="engine image"/>
                                        <div *ngIf="editForm.get('image')?.value" class="form-text text-danger clearfix">
                                            <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-sm pull-right">
                                                <span class="fa fa-times"></span>
                                            </button>
                                        </div>
                                        <input type="file" id="file_image" (change)="setFileData($event, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                                    </div>
                                    <input type="hidden" class="form-control" name="image" id="field_image" formControlName="image"/>
                                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType" formControlName="imageContentType" />
                                </div>
                            </div>
                            <div>
                                <button mat-raised-button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                </button>
                                <button mat-raised-button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
