<section class="content">
    <div class="container-fluid">
        <div class="block-header mt-n3">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item bcrumb-2">
                            <a routerLink="/"><fa-icon [icon]="['fas', 'arrow-alt-circle-right']" size="2x"></fa-icon></a>
                        </li>
                        <li class="breadcrumb-item active">{{ 'motorsportsDatabaseApp.racetrack.home.title' | translate }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="responsive_table">
            <mat-tab-group mat-stretch-tabs dynamicHeight="yes" [selectedIndex]="selectedTabIndex"
                           (selectedIndexChange)="onTabChange($event)">
                <mat-tab label="{{'motorsportsDatabaseApp.racetrack.home.map' | translate }}">
                    <div class="materialTableHeader">
                        <div class="row">
                            <div class="col-8">
                                <ul class="header-buttons-left ml-0">
                                    <li class="dropdown m-l-20">
                                        <label><i class="material-icons search-icon">search</i></label>
                                        <input type="text" #filter class="browser-default search-field" [(ngModel)]="currentSearch" name="currentSearch"
                                               placeholder="{{ 'motorsportsDatabaseApp.racetrack.home.search' | translate }}"
                                               (keyup)="searchMap(currentSearch)" (keydown.enter)="$event.preventDefault()">
                                        <button mat-mini-fab class="input-group-append btn btn-danger" (click)="clearSearchMap()" *ngIf="currentSearch">
                                            <fa-icon [icon]="'trash-alt'"></fa-icon>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <ul class="header-buttons">
                                    <li>
                                        <div class="icon-button-demo">
                                            <button mat-mini-fab *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']" color="primary" [routerLink]="['/event/new']">
                                                <mat-icon class="col-white">add</mat-icon>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="map-frame mt-2" style="height: 700px;"
                         leaflet
                         [leafletOptions]="mapOptions"
                         (leafletMapReady)="onMapReady($event)">
                    </div>
                </mat-tab>
                <mat-tab label="{{'motorsportsDatabaseApp.racetrack.home.list' | translate }}">
                    <div class="responsive_table">
                        <div class="materialTableHeader">
                            <div class="row">
                                <div class="col-8">
                                    <ul class="header-buttons-left ml-0">
                                        <li class="dropdown m-l-20">
                                            <label><i class="material-icons search-icon">search</i></label>
                                            <input type="text" #filter class="browser-default search-field" [(ngModel)]="currentSearch" name="currentSearch"
                                                   placeholder="{{ 'motorsportsDatabaseApp.event.home.search' | translate }}"
                                                   (keyup)="search(currentSearch)" (keydown.enter)="$event.preventDefault()">
                                            <button mat-mini-fab class="input-group-append btn btn-danger" (click)="clearSearch()" *ngIf="currentSearch">
                                                <fa-icon [icon]="'trash-alt'"></fa-icon>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <ul class="header-buttons">
                                        <li>
                                            <div class="icon-button-demo">
                                                <button mat-mini-fab *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']" color="primary" [routerLink]="['/racetrack/new']">
                                                    <mat-icon class="col-white">add</mat-icon>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-spinner [hidden]="!isLoading"></mat-spinner>
                                <div class="alert alert-warning" id="no-result" [hidden]="dataSource!.data!.length != 0 || isLoading">
                                    <span jhiTranslate="motorsportsDatabaseApp.racetrack.home.notFound">No racetracks found</span>
                                </div>
                                <div [hidden]="dataSource!.data!.length === 0 || isLoading">
                                    <mat-table class="table-responsive table-hover body" [dataSource]="dataSource"
                                               matSort matSortActive="name" matSortDisableClear matSortDirection="asc"
                                               (matSortChange)="sortChanged($event)">

                                        <ng-container matColumnDef="name">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'motorsportsDatabaseApp.racetrack.name' | translate }}</mat-header-cell>
                                            <mat-cell *matCellDef="let racetrack">{{ racetrack.name }}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="location">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'motorsportsDatabaseApp.racetrack.location' | translate }}</mat-header-cell>
                                            <mat-cell *matCellDef="let racetrack">{{ racetrack.location }}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="logo">
                                            <mat-header-cell *matHeaderCellDef>{{ 'motorsportsDatabaseApp.racetrack.logo' | translate }}</mat-header-cell>
                                            <mat-cell *matCellDef="let racetrack">
                                                <img *ngIf="racetrack?.logoUrl" [src]="racetrack.logoUrl" style="max-height: 30px;" alt="racetrack logo"/>
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="buttons">
                                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                            <mat-cell *matCellDef="let racetrack">
                                                <div class="btn-group">
                                                    <button mat-mini-fab type="submit"
                                                            color="primary"
                                                            *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                                                            [routerLink]="['/racetrack', racetrack.id, 'edit']"
                                                            (click)="$event.stopPropagation()">
                                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                                    </button>
                                                    <button mat-mini-fab type="submit"
                                                            color="warn"
                                                            *jhiHasAnyAuthority="['ROLE_ADMIN']"
                                                            (click)="delete($event, racetrack)">
                                                        <fa-icon [icon]="'times'"></fa-icon>
                                                    </button>
                                                </div>
                                            </mat-cell>
                                        </ng-container>

                                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumns;" class="pointer"
                                                 [routerLink]="['/racetrack', row.id ]"></mat-row>
                                    </mat-table>
                                    <mat-paginator [length]="totalItems"
                                                   [pageSizeOptions]="[5, 10, 20]"
                                                   [pageSize]="10"
                                                   showFirstLastButtons
                                                   (page)="pageChanged($event)"></mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>
