<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title" id-="audits-page-heading">
                            <span jhiTranslate="health.title">Health Checks</span>
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="healthCheck" class="table table-hover" aria-describedby="health-page-heading">
                                <thead>
                                <tr>
                                    <th scope="col" jhiTranslate="health.table.service">Service Name</th>
                                    <th scope="col" class="text-center" jhiTranslate="health.table.status">Status</th>
                                    <th scope="col" class="text-center" jhiTranslate="health.details.details">Details</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let health of healthData">
                                    <td>{{'health.indicator.' + baseName(health.name) | translate}} {{subSystemName(health.name)}}</td>
                                    <td class="text-center">
                                        <span class="badge" [ngClass]="getBadgeClass(health.status)" jhiTranslate="{{'health.status.' + health.status}}">
                                            {{health.status}}
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <a class="hand" (click)="showHealth(health)" *ngIf="health.details || health.error">
                                            <fa-icon [icon]="'eye'"></fa-icon>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-primary float-right" (click)="refresh()">
                                <fa-icon [icon]="'sync'"></fa-icon> <span jhiTranslate="health.refresh.button">Refresh</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
