<nav #navbar class="navbar active">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" onClick="return false;" class="navbar-toggle collapsed"
               (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-expanded="false"></a>
            <a href="#" onClick="return false;" class="bars" (click)="mobileMenuSidebarOpen($event,'overlay-open')"></a>
            <a class="navbar-brand" routerLink="/">
                <img src="images/logo48x48.png" alt="msdb logo" />
                <span class="logo-name">MSDB</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed">
            <ul class="pull-left collapse-menu-icon">
                <li>
                    <button mat-icon-button (click)="callSidemenuCollapse()" class="sidemenu-collapse">
                        <mat-icon>menu</mat-icon>
                    </button>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- Full Screen Button -->
                <li class="fullscreen">
                    <button mat-icon-button (click)="callFullscreen()" class=" nav-notification-icons">
                        <mat-icon>fullscreen</mat-icon>
                    </button>
                </li>
                <!-- #END# Full Screen Button -->
                <!-- Calendar Button -->
                <li class="nav-item">
                    <a routerLink="/calendar" routerLinkActive="active" role="button">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </a>
                </li>
                <!-- #END# Calendar Button -->
                <!-- Agenda Button -->
                <li class="nav-item">
                    <a routerLink="/agenda" routerLinkActive="active" role="button">
                        <fa-icon icon="tasks"></fa-icon>
                    </a>
                </li>
                <!-- #END# Agenda Button -->
                <!-- #START# Imports -->
                <li *jhiHasAnyAuthority="'ROLE_ADMIN'" class="nav-item user_profile" ngbDropdown>
                    <a href="#" onClick="return false;" ngbDropdownToggle role="button">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                    </a>
                    <div ngbDropdownMenu class="notification-dropdown pullDown">
                        <div class="noti-list" style="position: relative; max-width: 600px;">
                            <ul class="menu">
                                <li class="body">
                                    <ul class="user_dw_menu">
                                        <li ngbDropdownItem>
                                            <a href="javascript:void(0);" (click)="router.navigate(['/import/drivers']);">
                                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                                <span jhiTranslate="global.menu.imports.drivers">Import drivers</span>
                                            </a>
                                        </li>
                                        <li ngbDropdownItem>
                                            <a href="javascript:void(0);" (click)="router.navigate(['/import/racetracks']);" role="button">
                                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                                <span jhiTranslate="global.menu.imports.racetracks">Import racetracks</span>
                                            </a>
                                        </li>
                                        <li ngbDropdownItem>
                                            <a href="javascript:void(0);" (click)="router.navigate(['/import/teams']);" role="button">
                                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                                <span jhiTranslate="global.menu.imports.teams">Import teams</span>
                                            </a>
                                        </li>
                                        <li ngbDropdownItem>
                                            <a href="javascript:void(0);" (click)="router.navigate(['/import/engines']);" role="button">
                                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                                <span jhiTranslate="global.menu.imports.engines">Import engines</span>
                                            </a>
                                        </li>
                                        <li ngbDropdownItem>
                                            <a href="javascript:void(0);" (click)="router.navigate(['/import/events']);" role="button">
                                                <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                                                <span jhiTranslate="global.menu.imports.events">Import events</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- #END# Imports -->
                <!-- #START# Admin -->
                <li *jhiHasAnyAuthority="'ROLE_ADMIN'" class="nav-item user_profile" ngbDropdown>
                    <a href="#" onClick="return false;" ngbDropdownToggle role="button">
                        <fa-icon icon="user-plus"></fa-icon>
                    </a>
                    <div ngbDropdownMenu class="notification-dropdown pullDown" style="width: 280px;">
                        <div class="noti-list" style="position: relative;">
                            <ul class="menu">
                                <li class="body">
                                    <ul class="user_dw_menu">
                                        <li ngbDropdownItem>
                                            <a href="javascript:void(0);" (click)="router.navigate(['/admin/metrics']);">
                                                <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
                                                <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                                            </a>
                                        </li>
                                        <li ngbDropdownItem>
                                            <a href="javascript:void(0);" (click)="router.navigate(['/admin/health']);">
                                                <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
                                                <span jhiTranslate="global.menu.admin.health">Health</span>
                                            </a>
                                        </li>
                                        <li ngbDropdownItem>
                                            <a href="javascript:void(0);" (click)="router.navigate(['/admin/configuration']);">
                                                <fa-icon icon="list" [fixedWidth]="true"></fa-icon>
                                                <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                                            </a>
                                        </li>
                                        <li ngbDropdownItem>
                                            <a href="javascript:void(0);" (click)="router.navigate(['/admin/logs']);">
                                                <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                                                <span jhiTranslate="global.menu.admin.logs">Logs</span>
                                            </a>
                                        </li>
                                        <li ngbDropdownItem *ngIf="openAPIEnabled">
                                            <a href="javascript:void(0);" (click)="router.navigate(['/admin/docs']);">
                                                <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                                                <span jhiTranslate="global.menu.admin.apidocs">API</span>
                                            </a>
                                        </li>
                                        <li ngbDropdownItem>
                                            <a href="javascript:void(0);" (click)="router.navigate(['/admin/rebuildIndexes']);">
                                                <fa-icon icon="search" [fixedWidth]="true"></fa-icon>
                                                <span jhiTranslate="global.menu.admin.rebuildIndexes">Rebuild search indexes</span>
                                            </a>
                                        </li>
                                        <li ngbDropdownItem>
                                            <a href="javascript:void(0);" (click)="router.navigate(['/admin/rebuildStatistics']);">
                                                <i class="icofont icofont-chart-bar-graph"></i>
                                                <span jhiTranslate="global.menu.admin.rebuildStatistics">Rebuild statistics</span>
                                            </a>
                                        </li>
                                        <li ngbDropdownItem>
                                            <a href="javascript:void(0);" (click)="router.navigate(['/admin/rebuildSessionsNotifications']);">
                                                <i class="icofont icofont-chart-bar-graph"></i>
                                                <span jhiTranslate="global.menu.admin.rebuildNotificationsSessions">Rebuild notif sessions</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- #END# Admin -->
                <!-- #START# Language -->
                <li class="nav-item user_profile" ngbDropdown>
                    <a href="#" onClick="return false;" ngbDropdownToggle role="button">
                        <i class="fa fa-language" aria-hidden="true"></i>
                    </a>
                    <div ngbDropdownMenu class="notification-dropdown pullDown" style="width: 280px;">
                        <div class="noti-list" style="position: relative;">
                            <ul class="menu">
                                <li class="body">
                                    <ul class="user_dw_menu">
                                        <li ngbDropdownItem *ngFor="let lang of languages" class="nav-itme">
                                            <a href="javascript:void(0);" (click)="changeLanguage(lang);">
                                                {{ lang | findLanguageFromKey }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- #END# Language -->
                <!-- #START# Account -->
                <li class="nav-item user_profile" ngbDropdown>
                    <a href="#" onClick="return false;" ngbDropdownToggle role="button">
                        <span *ngIf="!getImageUrl()">
                            <fa-icon icon="user"></fa-icon>
                            <span *ngIf="isAuthenticated()">{{ userFullName }}</span>
                        </span>
                        <span *ngIf="getImageUrl()">
                            <img [src]="getImageUrl()" class="rounded-circle" width="32" height="32" alt="User">
                        </span>
                    </a>
                    <div ngbDropdownMenu class="notification-dropdown pullDown" style="width: 280px;">
                        <div class="noti-list" style="position: relative;">
                            <ul class="menu">
                                <li class="body">
                                    <ul class="user_dw_menu" [ngSwitch]="isAuthenticated()">
                                        <li ngbDropdownItem class="nav-itme" *ngSwitchCase="true">
                                            <a href="javascript:void(0);" (click)="router.navigate(['/subscriptions']);">
                                                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                                <span jhiTranslate="global.menu.account.subscriptions">Subscriptions</span>
                                            </a>
                                        </li>
                                        <li ngbDropdownItem class="nav-itme" *ngSwitchCase="true">
                                            <a href="javascript:void(0);" (click)="logout()">
                                                <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                                                <span jhiTranslate="global.menu.account.logout">Sign out</span>
                                            </a>
                                        </li>
                                        <li ngbDropdownItem class="nav-itme" *ngSwitchCase="false">
                                            <a href="javascript:void(0);" (click)="login()">
                                                <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                                                <span jhiTranslate="global.menu.account.login">Sign in</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- #END# Account -->
            </ul>
        </div>
    </div>
</nav>
