<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="team">
      <h2 data-cy="teamDetailsHeading"><span jhiTranslate="motorsportsDatabaseApp.team.detail.title">Team</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ team.id }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.team.name">Name</span></dt>
        <dd>
          <span>{{ team.name }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.team.description">Description</span></dt>
        <dd>
          <span>{{ team.description }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.team.hqLocation">Hq Location</span></dt>
        <dd>
          <span>{{ team.hqLocation }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.team.logo">Logo</span></dt>
        <dd>
          <div *ngIf="team.logo">
            <a (click)="openFile(team.logo, team.logoContentType)">
              <img [src]="'data:' + team.logoContentType + ';base64,' + team.logo" style="max-width: 100%" alt="team image" />
            </a>
            {{ team.logoContentType }}, {{ byteSize(team.logo) }}
          </div>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.team.participations">Participations</span></dt>
        <dd>
          <span *ngFor="let participations of team.participations; let last = last">
            <a [routerLink]="['/event-entry', participations?.id, 'view']">{{ participations.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/team', team.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
