<section class="content">
    <div class="container-fluid">
        <div class="block-header mt-n3">
            <div class="row">
                <div class="col-12">
                    <ul class="breadcrumb breadcrumb-style">
                        <li class="breadcrumb-item bcrumb-2">
                            <a routerLink="/"><fa-icon [icon]="['fas', 'arrow-alt-circle-right']" size="2x"></fa-icon></a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a routerLink="/team">{{ 'motorsportsDatabaseApp.team.home.title' | translate }}</a>
                        </li>
                        <li class="breadcrumb-item active">{{ team!.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="m-b-20">
                        <div class="contact-grid">
                            <div class="profile-header bg-dark">
                                <div class="user-name">{{ team!.name }}</div>
                            </div>
                            <img [src]="team!.logoUrl" class="user-img img-fluid" alt="team image"/>

                            <div class="row">
                                <div *ngIf="team!.description" class="col-8">
                                    <span jhiTranslate="motorsportsDatabaseApp.team.description">Description: </span>
                                </div>
                                <div *ngIf="team!.hqLocation" class="col-4">
                                    <span jhiTranslate="motorsportsDatabaseApp.team.hqLocation">HQ Location: </span>
                                </div>
                            </div>
                            <div class="row">
                                <div *ngIf="team!.description" class="col-8">
                                    <span >{{ team!.description }}</span>
                                </div>
                                <div *ngIf="team!.hqLocation" class="col-4">
                                    <span >{{ team!.hqLocation }}</span>
                                </div>
                            </div>

                            <button mat-mini-fab type="submit" color="primary"
                                    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                                    [routerLink]="['/team', team?.id, 'edit']">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <mat-tab-group>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon msr-2">analytics</mat-icon>
                                {{ 'motorsportsDatabaseApp.stats.home.title' | translate }}
                            </ng-template>
                            <div class="p-4">
                                <jhi-statistics [id]="team?.id!" [statsType]="'teams'">Statistics...</jhi-statistics>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</section>

