<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <ul class="breadcrumb breadcrumb-style ">
                            <li class="breadcrumb-item">
                                <h4 class="fw-bold">{{ 'motorsportsDatabaseApp.team.home.title' | translate }}</h4>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <form class="register-form m-4" name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                    <div class="card">
                        <div class="body">
                            <div class="row">
                                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 mb-2">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>{{ 'motorsportsDatabaseApp.team.name' | translate }}</mat-label>
                                                <input matInput type="text" class="form-control" formControlName="name">
                                                <mat-error *ngIf="editForm.get('name')!.hasError('required')">
                                                    {{ 'entity.validation.required' | translate }}
                                                </mat-error>
                                                <mat-error *ngIf="editForm.get('name')!.hasError('maxlength')">
                                                    {{ 'entity.validation.maxlength' | translate: { max: 40} }}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 mb-2">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>{{ 'motorsportsDatabaseApp.team.hqLocation' | translate }}</mat-label>
                                                <input matInput type="text" class="form-control" formControlName="hqLocation">
                                                <mat-error *ngIf="editForm.get('hqLocation')!.hasError('required')">
                                                    {{ 'entity.validation.required' | translate }}
                                                </mat-error>
                                                <mat-error *ngIf="editForm.get('hqLocation')!.hasError('maxlength')">
                                                    {{ 'entity.validation.maxlength' | translate: { max: 100 } }}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>{{ 'motorsportsDatabaseApp.team.description' | translate }}</mat-label>
                                                <input matInput type="text" class="form-control" formControlName="description">
                                                <mat-error *ngIf="editForm.get('description')!.hasError('required')">
                                                    {{ 'entity.validation.required' | translate }}
                                                </mat-error>
                                                <mat-error *ngIf="editForm.get('description')!.hasError('maxlength')">
                                                    {{ 'entity.validation.maxlength' | translate: { max: 100 } }}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                            <button class="msr-3" [disabled]="!editForm.valid || isSaving" mat-raised-button color="primary">
                                                <span jhiTranslate="entity.action.save">Save</span>
                                                <mat-icon matPrefix>save</mat-icon>
                                            </button>

                                            <button type="button" mat-button id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                                                <span jhiTranslate="entity.action.cancel">Cancel</span>
                                                <mat-icon matPrefix>cancel</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                            <mat-label>{{ 'motorsportsDatabaseApp.team.logo' | translate }}</mat-label>
                                            <jhi-file-upload
                                                [editForm]="editForm"
                                                controlName="logo"
                                                controlNameContentType="logoContentType"
                                                imageUrl="logoUrl"
                                                [isImage]="true"
                                                acceptedMimeType="image/*"></jhi-file-upload>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
