
<div *ngIf="seriesEdition">
    <h2>{{seriesEdition.editionName}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    
    <ngb-tabset>
	  <ngb-tab title="{{'motorsportsDatabaseApp.series.seriesEdition.detail.info' | translate}}">
	    <template ngbTabContent>
		    <div class="row">
				<div class="col-lg-4 col-md-4">
				    <dl class="row-md jh-entity-details">
		        <dt><span jhiTranslate="motorsportsDatabaseApp.series.seriesEdition.period">Period</span></dt>
		        <dd>
		            <span>{{seriesEdition.period}}</span>
		        </dd>
		        <div class="row">
		        	<div class="col-lg-4 col-md-4">
				        <dt><span jhiTranslate="motorsportsDatabaseApp.series.seriesEdition.singleChassis">Single Chassis</span></dt>
				        <dd>
				            <span><i [ngClass]="seriesEdition.singleChassis ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'"></i></span>
				        </dd>
			        </div>
			        <div class="col-lg-4 col-md-4">
				        <dt><span jhiTranslate="motorsportsDatabaseApp.series.seriesEdition.singleEngine">Single Engine</span></dt>
				        <dd>
				            <span><i [ngClass]="seriesEdition.singleEngine ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'"></i></span>
				        </dd>
			        </div>
			        <div class="col-lg-4 col-md-4">
				        <dt><span jhiTranslate="motorsportsDatabaseApp.series.seriesEdition.singleTyre">Single Tyre</span></dt>
				        <dd>
				            <span><i [ngClass]="seriesEdition.singleTyre ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'"></i></span>
				        </dd>
			        </div>
		        </div>
		        <dt><span jhiTranslate="motorsportsDatabaseApp.series.seriesEdition.allowedCategories">Allowed Categories</span></dt>
				<dd>
		            <ul class="list-unstyled">
		                <li *ngFor="let category of seriesEdition.allowedCategories">
		                    <span>{{category.name}} ({{category.shortname}})</span>
		                </li>
		            </ul>
		        </dd>
		    </dl>
		 </div>
		 <div class="col-lg-8 col-md-8">
		 	<dt><span jhiTranslate="motorsportsDatabaseApp.series.seriesEdition.calendar.title">Events</span></dt>
			<dd>
	            <div class="table-responsive" *ngIf="seriesEdition.events">
			        <table class="table table-striped">
			            <thead>
			            <tr>
			            <th><span jhiTranslate="motorsportsDatabaseApp.series.seriesEdition.eventDate">Date</span></th>
			            <th><span jhiTranslate="motorsportsDatabaseApp.series.seriesEdition.event">Event</span></th>
			            <th><span jhiTranslate="motorsportsDatabaseApp.series.seriesEdition.winner">Winner</span></th>
			            <th></th>
			            </tr>
			            </thead>
			            <tbody>
			            <tr *ngFor="let event of seriesEdition.events">
			            	<td>{{event.eventDate | dDate:'shortDate' }}</td>
			            	<td><a [routerLink]="['/event-edition', event.id]">{{event.longEventName}}</a></td>
			            	<td *ngIf="!event.winners || event.winners[0]?.length === 0">-</td>
			            	<td *ngIf="event.winners && event.winners[0]?.length === 1">
			            		<span *ngIf="event.winners[0][0].winners.length === 1">{{event.winners[0][0].winners[0].drivers}}</span>
			            		<span *ngIf="event.winners[0][0].winners.length > 1">
			            			<div *ngFor="let winner of event.winners[0][0].winners">
				                        <span class="tag tag-info">{{winner.category}}: {{ winner.drivers }}</span>
				                    </div>
			            		</span>
			            	</td>
			            	<td *ngIf="event.winners && event.winners[0]?.length > 1">
			            		<div *ngFor="let session of event.winners[0]">
			            			<strong>{{session.session}}:</strong>
			                        <span *ngIf="session.winners.length === 1">{{session.winners[0].drivers}}</span>
				            		<span *ngIf="session.winners.length > 1">
				            			<div *ngFor="let winner of session.winners">
					                        <span class="tag tag-info"><strong>{{winner.category}}:</strong> {{ winner.drivers }}</span>
					                    </div>
					            	</td>
					            	<td>
					            		<button type="submit"
				                        		 *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
				                                (click)="removeEvent(event.id)"
				                                class="btn btn-danger btn-sm">
				                            <span class="fa fa-remove"></span>
				                        </button>
					            	</td>
					            </tr>
					        	</tbody>
					        </table>
					     </div>
					     <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
				        	class="btn btn-primary float-right" [routerLink]="['/', { outlets: { popup: seriesEdition.id + '/calendar' } }]">
				            <span class="fa fa-calendar"></span>&nbsp;<span jhiTranslate="entity.action.add"> Add</span>
				         </button>
				 </div>
			</div>
		
		    <button type="button"
		            [routerLink]="['/', { outlets: { popup: 'series-edition/'+ seriesEdition.id + '/edit'} }]"
		            replaceUrl="true"
		            class="btn btn-primary">
		        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
		    </button>
    	</template>
     </ngb-tab>
	     <ngb-tab title="{{'motorsportsDatabaseApp.series.seriesEdition.detail.standings' | translate}}">
	     	<template ngbTabContent>
			<div class="row">
				<div class="card-deck col-md-12">
					<div class="card col-md-4">
						<div class="card-block">
							<h4 class="card-title">{{'motorsportsDatabaseApp.series.seriesEdition.detail.driversStandings' | translate}}</h4>
							<p class="card-text">
							<table class="table table-sm">
								<thead>
									<tr>
										<th></th>
										<th>{{'motorsportsDatabaseApp.series.seriesEdition.detail.driver' | translate}}</th>
										<th>{{'motorsportsDatabaseApp.series.seriesEdition.detail.points' | translate}}</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let driver of driversStandings; let i = index">
										<td>{{i + 1}}</td>
										<td>{{driver.driverName}}</td>
										<td>{{driver.points}}</td>
									</tr>
								</tbody>
							</table>
							<p>
						</div>
					</div>
					<div class="card col-md-4" *ngIf="seriesEdition.teamsStandings">
						<div class="card-block">
							<h4 class="card-title">{{'motorsportsDatabaseApp.series.seriesEdition.detail.teamsStandings' | translate}}</h4>
							<p class="card-text">
							<table class="table table-sm">
								<thead>
									<tr>
										<th></th>
										<th>{{'motorsportsDatabaseApp.series.seriesEdition.detail.team' | translate}}</th>
										<th>{{'motorsportsDatabaseApp.series.seriesEdition.detail.points' | translate}}</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let team of teamsStandings; let i = index">
										<td>{{i + 1}}</td>
										<td>{{team.teamName}}</td>
										<td>{{team.points}}</td>
									</tr>
								</tbody>
							</table>
							<p>
						</div>
					</div>
					<div class="card col-md-4" *ngIf="seriesEdition.manufacturersStandings">
					</div>
				</div>
			</div>
			</template> 
		</ngb-tab>
    </ngb-tabset>
    
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
