<div class="main-content">
    <div class="container-fluid">
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">{{ seriesEdition.editionName }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 text-right">
                                <mat-button-toggle-group #viewType="matButtonToggleGroup" value="grid">
                                    <mat-button-toggle value="grid" aria-label="Grid view">
                                        <mat-icon>view_module</mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle value="list" aria-label="List view">
                                        <mat-icon>list</mat-icon>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                        <div class="row" *ngIf="viewType.value === 'grid'">
                            <div *ngTemplateOutlet="gridViewTemplate"></div>
                        </div>
                        <div class="row" *ngIf="viewType.value === 'list'">
                            <div *ngTemplateOutlet="listViewTemplate"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button mat-button type="button" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                [routerLink]="['/event', seriesEdition.id, 'edit']"
                class="btn btn-primary">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>
        <button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>
    </div>
</div>

<ng-template #gridViewTemplate>
    <div class="col-md-3 col-sm-6 col-12" *ngFor="let event of seriesEdition.events">
        <mat-card jhiMaterialElevation>
            <div class="poster">
                <img [src]="getPosterUrl(event.eventEditionPosterUrl)" class="poster img-fluid">
                <div class="overlay">
                    <div class="container">
                        <div *ngTemplateOutlet="winnersTemplate; context:{event: event, thumbSize: 240}"></div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <button mat-button type="button"
                                    [routerLink]="['/event/edition', event.eventEditionId, 'view-ed']"
                                    class="btn btn-primary">
                                <fa-icon [icon]="'eye'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.view"> view</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <mat-card-content>
                <h5 class="card-subtitle">{{ event.eventEditionName }}</h5>
            </mat-card-content>
        </mat-card>
    </div>
</ng-template>

<ng-template #listViewTemplate>
    <div class="col-12">
        <div class="table-responsive">
            <table mat-table class="table table-hover" [dataSource]="seriesEdition.events">

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>{{ 'motorsportsDatabaseApp.series.seriesEdition.eventDate' | translate }}</th>
                    <td mat-cell *matCellDef="let event">{{ event.eventEditionDate | localizedDate }}</td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>{{ 'motorsportsDatabaseApp.series.seriesEdition.event' | translate }}</th>
                    <td mat-cell *matCellDef="let event">{{ event.eventEditionName }}</td>
                </ng-container>

                <ng-container matColumnDef="poster">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let event">
                        <img [src]="getPosterUrl(event.eventEditionPosterUrl)" class="poster-table img-fluid">
                    </td>
                </ng-container>

                <ng-container matColumnDef="winners">
                    <th mat-header-cell *matHeaderCellDef>{{ 'motorsportsDatabaseApp.series.seriesEdition.winner' | translate }}</th>
                    <td mat-cell *matCellDef="let event">
                        <div *ngTemplateOutlet="winnersTemplate; context:{event: event, thumbSize: 120}"></div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="buttons">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let event">
                        <button mat-button type="button"
                                [routerLink]="['/event/edition', event.eventEditionId, 'view-ed']"
                                class="btn btn-primary">
                            <fa-icon [icon]="'eye'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.view"> view</span>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</ng-template>

<ng-template #winnersTemplate let-event="event" let-thumbSize="thumbSize">
    <div class="row justify-content-center">
        <ng-container *ngIf="event.winners?.length === 0">
            -
        </ng-container>
        <ng-container *ngIf="event.winners?.length === 1">
            <ng-container *ngIf="event.winners[0].winners[0].drivers.length === 1">
                <div class="col-12" *ngFor="let driver of event.winners[0].winners[0].drivers">
                    <figure class="figure">
                        <img [src]="getFaceUrl(driver.portraitUrl, event.winners[0].winners[0].drivers.length, thumbSize)"
                             alt="{{ driver.driverName }}" class="img-fluid"/>
                        <figcaption class="text-center"><strong>{{driver.driverName}}</strong></figcaption>
                    </figure>
                </div>
            </ng-container>
            <ng-container *ngIf="event.winners[0].winners[0].drivers.length > 1">
                <div *ngFor="let winner of event.winners[0].winners" class="col-12">
                    <strong>{{winner.category}}:</strong> {{ concatDriverNames(winner.drivers) }}
                </div>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="event.winners?.length > 1">
            <div *ngFor="let session of event.winners" class="col-12">
                <strong>{{session.session}}:</strong>
                <span *ngIf="session.winners.length === 1">{{ concatDriverNames(session.winners[0].drivers) }}</span>
                <span *ngIf="session.winners.length > 1">
                    <div *ngFor="let winner of session.winners">
                        <p class="tag tag-info"><strong>{{winner.category}}:</strong> {{ concatDriverNames(winner.drivers) }}</p>
                    </div>
                </span>
            </div>
        </ng-container>
    </div>
</ng-template>
