<form name="selectDriversForm" (ngSubmit)="save()">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="motorsportsDatabaseApp.series.seriesEdition.teamsChampions.edit">Select teams</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p jhiTranslate="motorsportsDatabaseApp.series.seriesEdition.driversChampions.selectTeams">Select teams that are champions of this series</p>
        <div *ngFor="let team of teams">
        	<input type="checkbox" name="item-{{team.teamId}}"
		       #myItem
		      (change)="onCheckboxSelect(team.teamId, $event)"
		     >{{team.teamName}} - {{team.points}}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="selectedIds.length === 0 || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>