<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySeriesEditionLabel" jhiTranslate="motorsportsDatabaseApp.series.seriesEdition.home.createOrEditLabel">Create or edit a Series Edition</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
        	<div class="col-lg-6 col-md-6">
		        <div class="form-group">
		            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.series.seriesEdition.period" for="field_period">Period</label>
		            <input type="text" class="form-control" name="period" id="field_period"
		                [(ngModel)]="seriesEdition.period"
		            required maxlength="10" />
		            <div [hidden]="!(editForm.controls.period?.dirty && editForm.controls.period?.invalid)">
		                <small class="form-text text-danger"
		                   [hidden]="!editForm.controls.period?.errors?.required" jhiTranslate="entity.validation.required">
		                   This field is required.
		                </small>
		                <small class="form-text text-danger"
		                   [hidden]="!editForm.controls.period?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 10 }">
		                   This field cannot be longer than 10 characters.
		                </small>
		            </div>
		        </div>
		   	</div>
		   	<div class="col-lg-6 col-md-6">
		        <div class="form-group">
		            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.series.seriesEdition.numEvents" for="field_numEvents">Number Events</label>
		            <input type="number" class="form-control" name="numEvents" id="field_numEvents" [(ngModel)]="seriesEdition.numEvents" required/>
		            <div [hidden]="!(editForm.controls.numEvents?.dirty && editForm.controls.numEvents?.invalid)">
		                <small class="form-text text-danger"
		                    [hidden]="!editForm.controls.capacity?.errors?.number" jhiTranslate="entity.validation.number">
		                    This field should be a number.
		                </small>
		            </div>
		        </div>
		    </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.series.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name" required
                [(ngModel)]="seriesEdition.editionName" required maxlength="150" />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.period?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 150 }">
                   This field cannot be longer than 150 characters.
                </small>
            </div>
        </div>
        <div class="row">
        	<div class="col-lg-4 col-md-4">
		        <div class="form-group">
		            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.series.seriesEdition.singleChassis" for="field_singleChassis">Single Chassis</label>
		            <i [ngClass]="seriesEdition.singleChassis ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'" (click)="seriesEdition.singleChassis = !seriesEdition.singleChassis;"></i>
		        </div>
	        </div>
	        <div class="col-lg-4 col-md-4">
		        <div class="form-group">
		            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.series.seriesEdition.singleEngine" for="field_singleEngine">Single Engine</label>
		            <i [ngClass]="seriesEdition.singleEngine ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'" (click)="seriesEdition.singleEngine = !seriesEdition.singleEngine;"></i>
		        </div>
	        </div>
	        <div class="col-lg-4 col-md-4">
		        <div class="form-group">
		            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.series.seriesEdition.singleTyre" for="field_singleTyre">Single Tyre</label>
		            <i [ngClass]="seriesEdition.singleTyre ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'" (click)="seriesEdition.singleTyre = !seriesEdition.singleTyre;"></i>
		        </div>
	        </div>
        </div>
        
        <div class="form-group">
            <label jhiTranslate="motorsportsDatabaseApp.series.seriesEdition.allowedCategories" for="field_allowedCategories">Allowed Categories</label>
            <div class="row">
		        <div class="dual-list col-md-5">
		            <div class="well text-right">
		                <select class="form-control" multiple id="field_allowedCategories" name="allowedCategories">
			            	<option *ngFor="let category of seriesEdition.allowedCategories" [value]="category.id">{{category.name}}</option>
			            </select>
		            </div>
		        </div>
		        <div class="list-arrows col-md-1 text-center">
		            <a class="btn btn-default btn-sm move-left" (click)="addCategories()">
		                <span class="fa fa-chevron-left"></span>
		            </a>
		            <a class="btn btn-default btn-sm move-right" (click)="removeCategories()">
		                <span class="fa fa-chevron-right"></span>
		            </a>
		        </div>
		        <div class="dual-list list-right col-md-5">
		            <div class="well">
		                <select class="form-control" multiple id="field_availableCategories" name="availableCategories">
			                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
			            </select>
		            </div>
		        </div>
			</div>
        </div>
        <div class="form-group">
            <label jhiTranslate="motorsportsDatabaseApp.series.seriesEdition.pointsSystems" for="field_pointsSystems">Points Systems</label>
            <div class="row">
		        <div class="dual-list col-md-5">
		            <div class="well text-right">
		                <select class="form-control" multiple id="field_pointsSystems" name="pointsSystems">
			            	<option *ngFor="let pointsSystem of seriesEdition.pointsSystems" [value]="pointsSystem.id">{{pointsSystem.name}}</option>
			            </select>
		            </div>
		        </div>
		        <div class="list-arrows col-md-1 text-center">
		            <a class="btn btn-default btn-sm move-left" (click)="addPointsSystem()">
		                <span class="fa fa-chevron-left"></span>
		            </a>
		            <a class="btn btn-default btn-sm move-right" (click)="removePointsSystem()">
		                <span class="fa fa-chevron-right"></span>
		            </a>
		        </div>
		        <div class="dual-list list-right col-md-5">
		            <div class="well">
		                <select class="form-control" multiple id="field_availablePointsSystems" name="availablePointsSystem">
			                <option *ngFor="let pointsSystem of pointsSystems" [value]="pointsSystem.id">{{pointsSystem.name}}</option>
			            </select>
		            </div>
		        </div>
			</div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
