<div>
    <h2>
        <span jhiTranslate="motorsportsDatabaseApp.seriesEdition.home.title">Series Editions</span>
        <button class="btn btn-primary float-right create-series-edition" [routerLink]="['/', { outlets: { popup: ['series-edition-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="motorsportsDatabaseApp.seriesEdition.home.createLabel">
            Create new Series Edition
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'motorsportsDatabaseApp.seriesEdition.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="seriesEditions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="period"><span jhiTranslate="motorsportsDatabaseApp.seriesEdition.period">Period</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="singleChassis"><span jhiTranslate="motorsportsDatabaseApp.seriesEdition.singleChassis">Single Chassis</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="singleEngine"><span jhiTranslate="motorsportsDatabaseApp.seriesEdition.singleEngine">Single Engine</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="singleTyre"><span jhiTranslate="motorsportsDatabaseApp.seriesEdition.singleTyre">Single Tyre</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="allowedCategories.id"><span jhiTranslate="motorsportsDatabaseApp.seriesEdition.allowedCategories">Allowed Categories</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="series.id"><span jhiTranslate="motorsportsDatabaseApp.seriesEdition.series">Series</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let seriesEdition of seriesEditions ;trackBy: trackId">
                <td><a [routerLink]="['../series-edition', seriesEdition.id ]">{{seriesEdition.id}}</a></td>
                <td>{{seriesEdition.period}}</td>
                <td>{{seriesEdition.singleChassis}}</td>
                <td>{{seriesEdition.singleEngine}}</td>
                <td>{{seriesEdition.singleTyre}}</td>
                <td>
                    <div *ngIf="seriesEdition.allowedCategories">
                        <a [routerLink]="['../category', seriesEdition.allowedCategories?.id ]" >{{seriesEdition.allowedCategories?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="seriesEdition.series">
                        <a [routerLink]="['../series', seriesEdition.series?.id ]" >{{seriesEdition.series?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../series-edition', seriesEdition.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'series-edition/'+ seriesEdition.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'series-edition/'+ seriesEdition.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="seriesEditions && seriesEditions.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
