<form name="calendarForm" [formGroup]="myForm" role="form" novalidate (ngSubmit)="save()" #calendarForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title" id="sessionEditionCalendarLabel" jhiTranslate="motorsportsDatabaseApp.series.seriesEdition.calendar.editLabel">Edit series calendar</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
       	<div class="form-group">
        	<div class="row">
        		<div class="col-lg-12 col-md-12">
			        <div class="form-group">
			            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.series.seriesEdition.calendar.searchEvent" for="field_event">Search event</label>
			            <ng2-completer id="field_event" name="eventEdition" formControlName="eventSearch" [datasource]="dataService" [minSearchLength]="3" 
            					(selected)="onEventSelected($event)" [inputClass]="form-control" [pause]="300"></ng2-completer>
			        </div>
		        </div>
		    </div>
        </div>       	
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="button" (click)="save()" [disabled]="calendarForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>