<nav class="navbar navbar-dark navbar-expand-md jh-navbar">
    <div class="jh-logo-container float-left">
        <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
            <i class="fa fa-bars"></i>
        </a>
        <a class="navbar-brand logo float-left" routerLink="/" (click)="collapseNavbar()">
            <span class="logo-img"></span>
            <span jhiTranslate="global.title" class="navbar-title">MotorsportsDatabase</span> <span class="navbar-version">{{version}}</span>
        </a>
    </div>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.home">Home</span>
                    </span>
                </a>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="elementsnavBarDropdown">
                    <span>
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.browseDB">Browse DB</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li uiSrefActive="active">
			            <a class="dropdown-item" routerLink="driver">
			                <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
			                <span jhiTranslate="global.menu.entities.driver">Driver</span>
			            </a>
			        </li>
			        <li uiSrefActive="active">
			            <a class="dropdown-item" routerLink="racetrack">
			                <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
			                <span jhiTranslate="global.menu.entities.racetrack">Racetrack</span>
			            </a>
			        </li>
			        <li uiSrefActive="active">
			            <a class="dropdown-item" routerLink="team">
			                <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
			                <span jhiTranslate="global.menu.entities.team">Team</span>
			            </a>
			        </li>
			        <li uiSrefActive="active">
	                    <a class="dropdown-item" routerLink="engine">
	                        <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
	                        <span jhiTranslate="global.menu.entities.engine">Engine</span>
	                    </a>
	                </li>
	                <li uiSrefActive="active">
	                    <a class="dropdown-item" routerLink="chassis">
	                        <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
	                        <span jhiTranslate="global.menu.entities.chassis">Chassis</span>
	                    </a>
	                </li>
			        <li uiSrefActive="active">
			            <a class="dropdown-item" routerLink="tyre-provider">
			                <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
			                <span jhiTranslate="global.menu.entities.tyreProvider">Tyre Provider</span>
			            </a>
			        </li>
			        <li uiSrefActive="active">
	                    <a class="dropdown-item" routerLink="fuel-provider">
	                        <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
	                        <span jhiTranslate="global.menu.entities.fuelProvider">Fuel Provider</span>
	                    </a>
	                </li>
	                <li uiSrefActive="active">
	                    <a class="dropdown-item" routerLink="event">
	                        <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
	                        <span jhiTranslate="global.menu.entities.event">Event</span>
	                    </a>
	                </li>
	                <li uiSrefActive="active">
	                    <a class="dropdown-item" routerLink="series">
	                        <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
	                        <span jhiTranslate="global.menu.entities.series">Series</span>
	                    </a>
	                </li>
	                <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']" uiSrefActive="active">
	                    <a class="dropdown-item" routerLink="category">
	                        <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
	                        <span jhiTranslate="global.menu.entities.category">Category</span>
	                    </a>
	                </li>
	                <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']" uiSrefActive="active">
			            <a class="dropdown-item" routerLink="points-system">
			                <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i>
			                <span jhiTranslate="global.menu.entities.pointsSystem">Points System</span>
			            </a>
			        </li>
                </ul>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="calendar" routerLinkActive="active" (click)="collapseNavbar()">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span jhiTranslate="global.menu.calendar">Calendar</span>
                </a>
            </li>
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <li *jhiHasAnyAuthority="['ROLE_EDITOR','ROLE_ADMIN']" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="import-menu">
                    <span>
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.imports.main">Imports</span>
                        <b class="caret"></b>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="import/drivers" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.imports.drivers">Import drivers</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="import/racetracks" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.imports.racetracks">Import racetracks</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="import/teams" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.imports.teams">Import teams</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="import/engines" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.imports.engines">Import engines</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="import/events" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.imports.events">Import events</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.admin.main">Administration</span>
                        <b class="caret"></b>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-metrics" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-tachometer" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-health" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-heart" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.health">Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-list" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="audits" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-bell" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="logs" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-tasks" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.logs">Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="docs" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    <li *ngIf="!inProduction">
                        <a class="dropdown-item" href='./h2-console' target="_tab" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-hdd-o" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.database">Database</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="rebuildIndexes" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.rebuildIndexes">Rebuild search indexes</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="rebuildStatistics" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.rebuildStatistics">Rebuild statistics</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown" *ngIf="languages.length > 1">
                    <span>
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                  <span *ngIf="!getImageUrl()">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span jhiTranslate="global.menu.account.main">
                      Account
                    </span>
                  </span>
                  <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right ml-auto" ngbDropdownMenu>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user-plus" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
