<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-team-heading" jhiTranslate="motorsportsDatabaseApp.team.home.createOrEditLabel">Create or edit a Team</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!team.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="team.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.team.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="team.name" required maxlength="40"/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 40 }">
                        This field cannot be longer than 40 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.team.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="team.description" maxlength="100"/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.team.hqLocation" for="field_hqLocation">Hq Location</label>
                    <input type="text" class="form-control" name="hqLocation" id="field_hqLocation"
                        [(ngModel)]="team.hqLocation" maxlength="100"/>
                    <div [hidden]="!(editForm.controls.hqLocation?.dirty && editForm.controls.hqLocation?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.hqLocation?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.team.logo" for="field_logo">Logo</label>
                    <div>
                        <img [src]="'data:' + team.logoContentType + ';base64,' + team.logo" style="max-height: 100px;" *ngIf="team.logo" alt="team image"/>
                        <div *ngIf="team.logo" class="form-text text-danger clearfix">
                            <span class="pull-left">{{team.logoContentType}}, {{byteSize(team.logo)}}</span>
                            <button type="button" (click)="clearInputImage('logo', 'logoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_logo" (change)="setFileData($event, team, 'logo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="logo" id="field_logo"
                        [(ngModel)]="team.logo" />
                    <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType"
                        [(ngModel)]="team.logoContentType" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="motorsportsDatabaseApp.team.participations" for="field_participations">Participations</label>
                    <select class="form-control" id="field_participations" multiple name="participations" [(ngModel)]="team.participations">
                        <option [ngValue]="getSelected(team.participations, eventEntryOption)" *ngFor="let eventEntryOption of evententries; trackBy: trackEventEntryById">{{eventEntryOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
