
<div *ngIf="team">
    <h2>{{team.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="motorsportsDatabaseApp.team.name">Name</span></dt>
        <dd>
            <span>{{team.name}}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.team.description">Description</span></dt>
        <dd>
            <span>{{team.description}}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.team.hqLocation">Hq Location</span></dt>
        <dd>
            <span>{{team.hqLocation}}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.team.logo">Logo</span></dt>
        <dd>
            <div *ngIf="team.logoUrl">
            	<img [src]="team.logoUrl" style="max-height: 200px;" alt="team logo"/>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
            [routerLink]="['/', { outlets: { popup: 'team/'+ team.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
