<div class="main-content">
    <div class="container-fluid">
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <dl>
                            <dd>
                                <div *ngIf="team.logoUrl">
                                    <img [src]="team.logoUrl" class="img-fluid" alt="team logo"/>
                                </div>
                            </dd>
                        </dl>
                        <dl class="row-md jh-entity-details">
                            <dt><span jhiTranslate="motorsportsDatabaseApp.team.description">Description</span></dt>
                            <dd>
                                <span>{{team.description}}</span>
                            </dd>
                            <dt><span jhiTranslate="motorsportsDatabaseApp.team.hqLocation">Hq Location</span></dt>
                            <dd>
                                <span>{{team.hqLocation}}</span>
                            </dd>
                        </dl>
                        <button type="button" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                                [routerLink]="['/team', team.id, 'edit']"
                                class="btn btn-primary">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">{{team.name}}</h3>
                    </div>
                    <div class="card-body">
                        <jhi-statistics [id]="team.id" [statsType]="'teams'">Statistics...</jhi-statistics>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>
    </div>
</div>
