<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <div *ngIf="driver.portraitUrl">
                                <img [src]="faceUrl" class="img-fluid" alt="driver image"/>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <dl class="row-md jh-entity-details">
                            <dt><span jhiTranslate="motorsportsDatabaseApp.driver.birthDate">Birth Date</span></dt>
                            <dd>
                                <span>{{driver.birthDate | date:'mediumDate'}}</span>
                            </dd>
                            <dt><span jhiTranslate="motorsportsDatabaseApp.driver.birthPlace">Birth Place</span></dt>
                            <dd>
                                <span>{{driver.birthPlace}}</span>
                            </dd>
                            <dt><span jhiTranslate="motorsportsDatabaseApp.driver.nationality">Nationality</span></dt>
                            <dd>
                                <span *ngIf="driver.nationality"><img src="/images/flags64/{{driver.nationality}}.png"/></span>
                            </dd>
                            <dt *ngIf="driver.deathDate"><span jhiTranslate="motorsportsDatabaseApp.driver.deathDate">Death Date</span></dt>
                            <dd *ngIf="driver.deathDate">
                                <span>{{driver.deathDate | date:'mediumDate'}}</span>
                            </dd>
                            <dt *ngIf="driver.deathDate"><span jhiTranslate="motorsportsDatabaseApp.driver.deathPlace">Death Place</span></dt>
                            <dd *ngIf="driver.deathDate">
                                <span>{{driver.deathPlace}}</span>
                            </dd>
                            <dt><span jhiTranslate="motorsportsDatabaseApp.driver.age">Age</span></dt>
                            <dd>
                                <span *ngIf="driver.age != 0">{{driver.age}}</span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h3 class="card-title">{{compositeName}}</h3>
                    </div>
                    <div class="card-body">
                        <jhi-statistics [id]="driver.id" [statsType]="'drivers'">Statistics...</jhi-statistics>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


