

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDriverLabel" jhiTranslate="motorsportsDatabaseApp.driver.home.createOrEditLabel">Create or edit a Driver</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.driver.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="driver.name"
            required maxlength="40" />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 40 }">
                   This field cannot be longer than 40 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.driver.surname" for="field_surname">Surname</label>
            <input type="text" class="form-control" name="surname" id="field_surname"
                [(ngModel)]="driver.surname"
            required maxlength="60" />
            <div [hidden]="!(editForm.controls.surname?.dirty && editForm.controls.surname?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.surname?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.surname?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 60 }">
                   This field cannot be longer than 60 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.driver.birthDate" for="field_birthDate">Birth Date</label>
            <div class="input-group">
                <input id="field_birthDate" type="text" class="form-control" name="birthDate" ngbDatepicker  #birthDateDp="ngbDatepicker" [(ngModel)]="driver.birthDate"
                placeholder="yyyy-mm-dd" required [minDate]="minDate" [maxDate]="startDate"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="birthDateDp.open()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.birthDate?.dirty && editForm.controls.birthDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.birthDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.driver.birthPlace" for="field_birthPlace">Birth Place</label>
            <input type="text" class="form-control" name="birthPlace" id="field_birthPlace"
                [(ngModel)]="driver.birthPlace"
            maxlength="75" />
            <div [hidden]="!(editForm.controls.birthPlace?.dirty && editForm.controls.birthPlace?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.birthPlace?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 75 }">
                   This field cannot be longer than 75 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.driver.deathDate" for="field_deathDate">Death Date</label>
            <div class="input-group">
                <input id="field_deathDate" type="text" class="form-control" name="deathDate" ngbDatepicker  #deathDateDp="ngbDatepicker" [(ngModel)]="driver.deathDate"
                placeholder="yyyy-mm-dd" [minDate]="minDate" [maxDate]="startDate"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="deathDateDp.open()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.driver.deathPlace" for="field_deathPlace">Death Place</label>
            <input type="text" class="form-control" name="deathPlace" id="field_deathPlace"
                [(ngModel)]="driver.deathPlace"
            maxlength="75" />
            <div [hidden]="!(editForm.controls.deathPlace?.dirty && editForm.controls.deathPlace?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.deathPlace?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 75 }">
                   This field cannot be longer than 75 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.driver.portrait" for="field_portrait">Portrait</label>
            <div>
                <img [src]="driver.portraitUrl" style="max-height: 100px;" *ngIf="!driver.portrait && driver.portraitUrl" alt="driver portrait"/>
                <img [src]="'data:' + driver.portraitContentType + ';base64,' + driver.portrait" style="max-height: 100px;" *ngIf="driver.portrait" alt="driver portrait"/>
                <div *ngIf="driver.portraitUrl || driver.portrait" class="form-text text-danger clearfix">
                    <button type="button" (click)="driver.portraitUrl=null; driver.portrait=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" (change)="setFileData($event, driver, 'portrait', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="portrait" id="field_portrait"
                [(ngModel)]="driver.portrait"
             />
            <input type="hidden" class="form-control" name="portraitContentType" id="field_portraitContentType"
                [(ngModel)]="driver.portraitContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
