<div>
    <h2>
        <span jhiTranslate="motorsportsDatabaseApp.driver.home.title">Drivers</span>
        <button class="btn btn-primary float-right jh-create-entity create-driver" [routerLink]="['/', { outlets: { popup: ['driver-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="motorsportsDatabaseApp.driver.home.createLabel">
            Create new Driver
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'motorsportsDatabaseApp.driver.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="drivers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="motorsportsDatabaseApp.driver.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="surname"><span jhiTranslate="motorsportsDatabaseApp.driver.surname">Surname</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="birthDate"><span jhiTranslate="motorsportsDatabaseApp.driver.birthDate">Birth Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="birthPlace"><span jhiTranslate="motorsportsDatabaseApp.driver.birthPlace">Birth Place</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="deathDate"><span jhiTranslate="motorsportsDatabaseApp.driver.deathDate">Death Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="deathPlace"><span jhiTranslate="motorsportsDatabaseApp.driver.deathPlace">Death Place</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="portrait"><span jhiTranslate="motorsportsDatabaseApp.driver.portrait">Portrait</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let driver of drivers ;trackBy: trackId">
                <td><a [routerLink]="['../driver', driver.id ]">{{driver.id}}</a></td>
                <td>{{driver.name}}</td>
                <td>{{driver.surname}}</td>
                <td>{{driver.birthDate | date:'mediumDate'}}</td>
                <td>{{driver.birthPlace}}</td>
                <td>{{driver.deathDate | date:'mediumDate'}}</td>
                <td>{{driver.deathPlace}}</td>
                <td>
                    <a *ngIf="driver.portrait" (click)="openFile(driver.portraitContentType, driver.portrait)">
                        <img [src]="'data:' + driver.portraitContentType + ';base64,' + driver.portrait" style="max-height: 30px;" alt="driver image"/>
                    </a>
                    <span *ngIf="driver.portrait">{{driver.portraitContentType}}, {{byteSize(driver.portrait)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../driver', driver.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'driver/'+ driver.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'driver/'+ driver.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="drivers && drivers.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
