<div class="main-content">
    <div class="container-fluid">
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <div class="row">
            <div class="col-sm-12">
                <form name="searchForm" class="form-inline">
                    <div class="input-group w-100 mt-3">
                        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'motorsportsDatabaseApp.driver.home.search' | translate }}">
                        <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                            <fa-icon [icon]="'search'"></fa-icon>
                        </button>
                        <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                            <fa-icon [icon]="'trash-alt'"></fa-icon>
                        </button>
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-driver" [routerLink]="['/driver/new']">
                            <fa-icon [icon]="'plus'"></fa-icon>
                            <span class="hidden-sm-down"  jhiTranslate="motorsportsDatabaseApp.driver.home.createLabel">
                                Create a new Driver
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title "><span jhiTranslate="motorsportsDatabaseApp.driver.home.title">Drivers</span></h4>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-warning" *ngIf="drivers?.length === 0">
                            <span jhiTranslate="motorsportsDatabaseApp.driver.home.notFound">No drivers found</span>
                        </div>
                        <div class="table-responsive" *ngIf="drivers?.length > 0">
                            <table class="table table-hover" aria-describedby="page-heading">
                                <thead>
                                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                                    <th></th>
                                    <th scope="col" jhiSortBy="name"><span jhiTranslate="motorsportsDatabaseApp.driver.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                    <th scope="col" jhiSortBy="surname"><span jhiTranslate="motorsportsDatabaseApp.driver.surname">Surname</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                    <th scope="col" jhiSortBy="birthDate"><span jhiTranslate="motorsportsDatabaseApp.driver.birthDate">Birth Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                    <th scope="col" jhiSortBy="birthPlace"><span jhiTranslate="motorsportsDatabaseApp.driver.birthPlace">Birth Place</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                    <th scope="col" jhiSortBy="deathDate"><span jhiTranslate="motorsportsDatabaseApp.driver.deathDate">Death Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                    <th scope="col" jhiSortBy="deathPlace"><span jhiTranslate="motorsportsDatabaseApp.driver.deathPlace">Death Place</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                                    <th scope="col" jhiSortBy="portrait"><span jhiTranslate="motorsportsDatabaseApp.driver.portrait">Portrait</span></th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let driver of drivers ;trackBy: trackId">
                                    <td><img *ngIf="driver?.nationality" src="/images/flags/{{driver?.nationality.countryCode}}.png"/></td>
                                    <td>{{driver.name}}</td>
                                    <td>{{driver.surname}}</td>
                                    <td>{{driver.birthDate | date:'longDate'}}</td>
                                    <td>{{driver.birthPlace}}</td>
                                    <td>{{driver.deathDate | date:'longDate'}}</td>
                                    <td>{{driver.deathPlace}}</td>
                                    <td>
                                        <img *ngIf="driver.portraitUrl" [src]="driver.portraitUrl" style="max-height: 30px;" alt="driver image"/>
                                    </td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <button type="submit"
                                                    [routerLink]="['/driver', driver.id, 'view' ]"
                                                    class="btn btn-info btn-xs">
                                                <fa-icon [icon]="'eye'"></fa-icon>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="['/driver', driver.id, 'edit']"
                                                    class="btn btn-primary btn-xs">
                                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            </button>
                                            <button type="submit"
                                                    [routerLink]="['/driver', { outlets: { popup: driver.id + '/delete'} }]"
                                                    replaceUrl="true"
                                                    queryParamsHandling="merge"
                                                    class="btn btn-danger btn-xs">
                                                <fa-icon [icon]="'times'"></fa-icon>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div [hidden]="drivers?.length === 0">
                            <div class="row justify-content-center">
                                <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                            </div>
                            <div class="row justify-content-center">
                                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
