<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Edit Profile</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                            <jhi-alert-error></jhi-alert-error>
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motorsportsDatabaseApp.driver.name' | translate }}" type="text"
                                               class="form-control" name="name" id="field_name" formControlName="name">
                                        <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('name').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 40 }">
                                                This field cannot be longer than 40 characters.
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-7">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motorsportsDatabaseApp.driver.surname' | translate }}" type="text"
                                               class="form-control" name="surname" id="field_surname" formControlName="surname">
                                        <div *ngIf="editForm.get('surname').invalid && (editForm.get('surname').dirty || editForm.get('surname').touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('surname').errors.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('surname').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 60 }">
                                                This field cannot be longer than 60 characters.
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input id="field_birthDate" name="birthDate" formControlName="birthDate" matInput [matDatepicker]="pickerBirthDate"
                                               placeholder="{{ 'motorsportsDatabaseApp.driver.birthDate' | translate }}">
                                        <mat-datepicker-toggle matSuffix [for]="pickerBirthDate"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerBirthDate></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-9">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" class="form-control" name="birthPlace" id="field_birthPlace"
                                               formControlName="birthPlace" placeholder="{{ 'motorsportsDatabaseApp.driver.birthPlace' | translate }}"/>
                                        <div *ngIf="editForm.get('birthPlace').invalid && (editForm.get('birthPlace').dirty || editForm.get('birthPlace').touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('birthPlace').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 75 }">
                                                This field cannot be longer than 75 characters.
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input id="field_deathDate" name="deathDate" formControlName="deathDate" matInput [matDatepicker]="pickerDeathDate"
                                               placeholder="{{ 'motorsportsDatabaseApp.driver.deathDate' | translate }}">
                                        <mat-datepicker-toggle matSuffix [for]="pickerDeathDate"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerDeathDate></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-9">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" class="form-control" name="deathPlace" id="field_deathPlace"
                                               formControlName="deathPlace" placeholder="{{ 'motorsportsDatabaseApp.driver.deathPlace' | translate }}"/>
                                        <div *ngIf="editForm.get('deathPlace').invalid && (editForm.get('deathPlace').dirty || editForm.get('deathPlace').touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('deathPlace').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 75 }">
                                                This field cannot be longer than 75 characters.
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.driver.portrait" for="field_portrait">Portrait</label>
                                    <div>
                                        <img [src]="'data:' + editForm.get('portraitContentType').value + ';base64,' + editForm.get('portrait').value" style="max-height: 100px;" *ngIf="editForm.get('portrait').value" alt="driver image"/>
                                        <div *ngIf="editForm.get('portrait').value" class="form-text text-danger clearfix">
                                            <span class="pull-left">{{editForm.get('portraitContentType').value}}, {{byteSize(editForm.get('portrait').value)}}</span>
                                            <button type="button" (click)="clearInputImage('portrait', 'portraitContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                                <fa-icon [icon]="'times'"></fa-icon>
                                            </button>
                                        </div>
                                        <input type="file" id="file_portrait" (change)="setFileData($event, 'portrait', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                                    </div>
                                    <input type="hidden" class="form-control" name="portrait" id="field_portrait" formControlName="portrait"/>
                                    <input type="hidden" class="form-control" name="portraitContentType" id="field_portraitContentType" formControlName="portraitContentType" />
                                </div>
                            </div>
                            <div>
                                <button mat-raised-button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                </button>
                                <button mat-raised-button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
