a.deco-none {
    color:#000000 !important;
    text-decoration:none;
}

.dual-list .list-group {
    margin-top: 8px;
}

.list-left li, .list-right li {
    cursor: pointer;
}

.list-arrows {
    padding-top: 10px;
}

.list-arrows a {
    margin-bottom: 20px;
}