
<div *ngIf="eventEdition">
    <h2>{{eventEdition.shortEventName}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
		<div class="col-lg-6 col-md-6">
		    <dl class="row-md jh-entity-details">
		        <dt><span jhiTranslate="motorsportsDatabaseApp.eventEdition.editionYear">Edition Year</span></dt>
		        <dd>
		            <span>{{eventEdition.editionYear}}</span>
		        </dd>
		        <dt><span jhiTranslate="motorsportsDatabaseApp.eventEdition.longEventName">Long Event Name</span></dt>
		        <dd>
		            <span>{{eventEdition.longEventName}}</span>
		        </dd>
		        <dt><span jhiTranslate="motorsportsDatabaseApp.eventEdition.eventDate">Event Date</span></dt>
		        <dd>
		            <span>{{eventEdition.eventDate | date:'mediumDate'}}</span>
		        </dd>
		        <dt><span jhiTranslate="motorsportsDatabaseApp.eventEdition.trackLayout">Track Layout</span></dt>
		        <dd>
		            <div *ngIf="eventEdition.trackLayout">
		                <a [routerLink]="['/racetrack-layout', eventEdition.trackLayout?.id]">
		                	{{eventEdition.trackLayout?.racetrack.name}} - {{eventEdition.trackLayout?.name}}
						</a>
		            </div>
		        </dd>
		        <dt><span jhiTranslate="motorsportsDatabaseApp.eventEdition.event">Event</span></dt>
		        <dd>
		            <div *ngIf="eventEdition.event">
		                <a [routerLink]="['/event', eventEdition.event?.id]">{{eventEdition.event?.name}}</a>
		            </div>
		        </dd>
		    </dl>
		</div>
		<div class="col-lg-6 col-md-6">
			<dt><span jhiTranslate="motorsportsDatabaseApp.eventEdition.allowedCategories">Allowed Categories</span></dt>
			<dd>
	            <ul class="list-unstyled">
	                <li *ngFor="let category of eventEdition.allowedCategories">
	                    <span>{{category.name}} ({{category.shortname}})</span>
	                </li>
	            </ul>
	        </dd>
		</div>
	</div>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'event-edition/'+ eventEdition.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
