#yearSelect .mat-select-value,
#yearSelect .mat-select-arrow {
  color: white;
  font-size: large;
}

.select-year-panel {
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

.navigation-arrows {
  cursor: pointer;
}
