

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEventEditionLabel" jhiTranslate="motorsportsDatabaseApp.eventEdition.home.createOrEditLabel">Create or edit a Event Edition</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
			<div class="col-lg-6 col-md-6">
		        <div class="form-group">
		            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.eventEdition.editionYear" for="field_editionYear">Edition Year</label>
		            <input type="number" class="form-control" name="editionYear" id="field_editionYear"
		                [(ngModel)]="eventEdition.editionYear"
		            required />
		            <div [hidden]="!(editForm.controls.editionYear?.dirty && editForm.controls.editionYear?.invalid)">
		                <small class="form-text text-danger"
		                   [hidden]="!editForm.controls.editionYear?.errors?.required" jhiTranslate="entity.validation.required">
		                   This field is required.
		                </small>
		                <small class="form-text text-danger"
		                    [hidden]="!editForm.controls.editionYear?.errors?.number" jhiTranslate="entity.validation.number">
		                    This field should be a number.
		                </small>
		            </div>
		        </div>
	        </div>
	        <div class="col-lg-6 col-md-6">
		        <div class="form-group">
		            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.eventEdition.eventDate" for="field_eventDate">Event Date</label>
		            <div class="input-group">
		                <input id="field_eventDate" type="text" class="form-control" name="eventDate" ngbDatepicker
		                	[minDate]="minDate" [maxDate]="maxDate" #eventDateDp="ngbDatepicker" [(ngModel)]="eventEdition.eventDate"
		                required/>
		                <span class="input-group-btn">
		                    <button type="button" class="btn btn-default" (click)="eventDateDp.open()"><i class="fa fa-calendar"></i></button>
		                </span>
		            </div>
		            <div [hidden]="!(editForm.controls.eventDate?.dirty && editForm.controls.eventDate?.invalid)">
		                <small class="form-text text-danger"
		                   [hidden]="!editForm.controls.eventDate?.errors?.required" jhiTranslate="entity.validation.required">
		                   This field is required.
		                </small>
		            </div>
		        </div>
	        </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.eventEdition.shortEventName" for="field_shortEventName">Short Event Name</label>
            <input type="text" class="form-control" name="shortEventName" id="field_shortEventName"
                [(ngModel)]="eventEdition.shortEventName"
            required maxlength="40" />
            <div [hidden]="!(editForm.controls.shortEventName?.dirty && editForm.controls.shortEventName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.shortEventName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.shortEventName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 40 }">
                   This field cannot be longer than 40 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.eventEdition.longEventName" for="field_longEventName">Long Event Name</label>
            <input type="text" class="form-control" name="longEventName" id="field_longEventName"
                [(ngModel)]="eventEdition.longEventName"
            required maxlength="100" />
            <div [hidden]="!(editForm.controls.longEventName?.dirty && editForm.controls.longEventName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.longEventName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.longEventName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="motorsportsDatabaseApp.eventEdition.allowedCategories" for="field_allowedCategories">Allowed Categories</label>
            <div class="row">
		        <div class="dual-list col-md-5">
		            <div class="well text-right">
		                <select class="form-control" multiple id="field_allowedCategories" name="allowedCategories">
			            	<option *ngFor="let category of eventEdition.allowedCategories" [value]="category.id">{{category.name}}</option>
			            </select>
		            </div>
		        </div>
		        <div class="list-arrows col-md-1 text-center">
		            <a class="btn btn-default btn-sm move-left" (click)="addCategories()">
		                <span class="fa fa-chevron-left"></span>
		            </a>
		            <a class="btn btn-default btn-sm move-right" (click)="removeCategories()">
		                <span class="fa fa-chevron-right"></span>
		            </a>
		        </div>
		        <div class="dual-list list-right col-md-5">
		            <div class="well">
		                <select class="form-control" multiple id="field_availableCategories" name="authority">
			                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
			            </select>
		            </div>
		        </div>
			</div>
        </div>
        <div class="form-group">
            <label jhiTranslate="motorsportsDatabaseApp.eventEdition.trackLayout" for="field_trackLayout">Track Layout</label>
            <ng2-completer id="field_trackLayout" name="trackLayout" [(ngModel)]="trackLayoutSearch" [datasource]="dataServiceLayout" [minSearchLength]="2" 
            	(selected)="onTrackLayoutSelected($event)" (highlighted)="onTrackLayoutSelected($event)" [pause]="300" [autoMatch]="true" 
            	[maxChars]="10" required></ng2-completer>
        </div>
        <div class="form-group">
            <label jhiTranslate="motorsportsDatabaseApp.eventEdition.event" for="field_event">Event</label>
            <ng2-completer id="field_event" name="event" [(ngModel)]="eventSearch" [datasource]="dataServiceEvent" [minSearchLength]="2" 
            	(selected)="onEventSelected($event)" (highlighted)="onEventSelected($event)" [pause]="300" [autoMatch]="true" 
            	[maxChars]="10" [disabled]="eventSelectorDisabled" required></ng2-completer>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
