<div>
    <jhi-alert></jhi-alert>
    <div class="row" *ngIf="!event">
        <div class="col-sm-12 no-padding-right">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'motorsportsDatabaseApp.eventEdition.home.search' | translate }}">
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="eventEditions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="motorsportsDatabaseApp.eventEdition.editionYear">Edition Year</span></th>
            <th><span jhiTranslate="motorsportsDatabaseApp.eventEdition.longEventName">Long Event Name</span></th>
            <th><span jhiTranslate="motorsportsDatabaseApp.eventEdition.eventDate">Event Date</span></th>
            <th><span jhiTranslate="motorsportsDatabaseApp.eventEdition.allowedCategories">Allowed Categories</span></th>
            <th><span jhiTranslate="motorsportsDatabaseApp.eventEdition.trackLayout">Track Layout</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let eventEdition of eventEditions ;trackBy: trackId">
                <td>{{eventEdition.editionYear}}</td>
                <td>{{eventEdition.longEventName}}</td>
                <td>{{eventEdition.eventDate | date:'shortDate'}}</td>
                <td>
                    <div *ngFor="let category of eventEdition.allowedCategories">
                        <span class="tag tag-info">{{ category.shortname }}</span>
                    </div>
                </td>
                <td>
                    <div *ngIf="eventEdition.trackLayout">
                        <a [routerLink]="['../racetrack', eventEdition.trackLayout.racetrack.id, 'racetrack-layout', eventEdition.trackLayout?.id ]" >
                        	{{eventEdition.trackLayout?.racetrack.name}} - {{eventEdition.trackLayout?.name}}
                        </a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" 
                                [routerLink]="['/event-edition', eventEdition.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']" 
                                [routerLink]="['/', { outlets: { popup: 'event-edition/'+ eventEdition.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN']" 
                                [routerLink]="['/', { outlets: { popup: 'event-edition/'+ eventEdition.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']" 
	    	class="btn btn-primary float-right create-event-edition" [routerLink]="['/', { outlets: { popup: ['event-edition-new'] } }]">
	        <span class="fa fa-plus"></span>
	        <span class="hidden-sm-down"  jhiTranslate="motorsportsDatabaseApp.eventEdition.home.createLabel">
	        Create new Event Edition
	        </span>
	    </button>
    </div>
        <div *ngIf="eventEditions && eventEditions.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
