<div>
    <div class="row">
        <div class="col-sm-12">
            <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-event" [routerLink]="['/event/edition/new-ed']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span class="hidden-sm-down"  jhiTranslate="motorsportsDatabaseApp.eventEdition.home.createLabel">
                        Create a new event edition
                    </span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title "><span jhiTranslate="motorsportsDatabaseApp.eventEdition.home.title">Event edition</span></h4>
                </div>
                <div class="card-body">
                    <mat-spinner [hidden]="!isLoadingResults"></mat-spinner>
                    <div class="alert alert-warning" [hidden]="eventEditions?.length > 0 || isLoadingResults">
                        <span jhiTranslate="motorsportsDatabaseApp.eventEdition.home.notFound">No event editions found</span>
                    </div>
                    <div class="table-responsive" [hidden]="eventEditions?.length === 0">
                        <table mat-table class="table table-hover" [dataSource]="eventEditions"
                               matSort matSortActive="editionYear" matSortDisableClear matSortDirection="desc">

                            <ng-container matColumnDef="editionYear">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'motorsportsDatabaseApp.eventEdition.editionYear' | translate }}</th>
                                <td mat-cell *matCellDef="let eventEdition">{{ eventEdition.editionYear }}</td>
                            </ng-container>

                            <ng-container matColumnDef="longEventName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'motorsportsDatabaseApp.eventEdition.longEventName' | translate }}</th>
                                <td mat-cell *matCellDef="let eventEdition">{{ eventEdition.longEventName }}</td>
                            </ng-container>

                            <ng-container matColumnDef="eventDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'motorsportsDatabaseApp.eventEdition.eventDate' | translate }}</th>
                                <td mat-cell *matCellDef="let eventEdition">{{ eventEdition.eventDate | date:'mediumDate' }}</td>
                            </ng-container>

                            <ng-container matColumnDef="allowedCategories">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'motorsportsDatabaseApp.eventEdition.allowedCategories' | translate }}</th>
                                <td mat-cell *matCellDef="let eventEdition">
                                    <div *ngFor="let category of eventEdition.allowedCategories">
                                        <span class="tag tag-info">{{ category.shortname }}</span>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="trackLayout">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'motorsportsDatabaseApp.eventEdition.trackLayout' | translate }}</th>
                                <td mat-cell *matCellDef="let eventEdition">
                                    <div *ngIf="eventEdition.trackLayout">
                                        <a [routerLink]="['/racetrack-layout', eventEdition.trackLayout?.id, 'view' ]" >
                                            {{eventEdition.trackLayout?.racetrack.name}}<br/>{{eventEdition.trackLayout?.name}}
                                        </a>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="buttons">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let eventEdition">
                                    <div class="btn-group">
                                        <button type="submit"
                                                *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                                                [routerLink]="['/event/edition', eventEdition.id, 'edit-ed']"
                                                (click)="$event.stopPropagation()"
                                                class="btn btn-primary btn-xs">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        </button>
                                        <button type="submit"
                                                *jhiHasAnyAuthority="['ROLE_ADMIN']"
                                                [routerLink]="['/event/edition', { outlets: { popup: eventEdition.id + '/delete-ed'} }]"
                                                (click)="$event.stopPropagation()"
                                                replaceUrl="true"
                                                queryParamsHandling="merge"
                                                class="btn btn-danger btn-xs">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                [routerLink]="['/event', 'edition', row.id, 'view-ed' ]"></tr>
                        </table>
                        <mat-paginator [length]="resultsLength"
                                       [pageSizeOptions]="[5, 10, 20]"
                                       [pageSize]="10"
                                       showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
