<div class="main-content">
    <div class="container-fluid">
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="row">
                            <div class="col-9">
                                <h3 class="card-title">{{eventEdition.longEventName}}</h3>
                            </div>
                            <div class="col-md-auto">
                                <div class="row" *ngIf="editions.length > 1">
                                    <fa-icon class="pointer" *ngIf="previousEditionId >= 0" [icon]="'angle-double-left'" size="2x" (click)="gotoPrevious()"></fa-icon>
                                    <div class="select-year-panel">
                                        <mat-select id="yearSelect" (selectionChange)="jumpToEdition($event.value)">
                                            <mat-option></mat-option>
                                            <mat-option *ngFor="let edition of editions" [value]="edition.id">{{edition.editionYear}}</mat-option>
                                        </mat-select>
                                    </div>
                                    <fa-icon class="pointer" *ngIf="nextEditionId >= 0" [icon]="'angle-double-right'" size="2x" (click)="gotoNext()"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <ng-template ngFor let-item [ngForOf]="eventEdition.seriesEditions" let-currentIndex="index">
                                    <span class="pointer" [routerLink]="['/series/edition', item.id, 'view']">
                                        <fa-icon [icon]="'angle-double-left'"></fa-icon> {{ item.editionName }}<br/>
                                    </span>
                                </ng-template>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="row" *ngIf="navigationIds !== null">
                                    <ng-template ngFor let-item [ngForOf]="navigationIds" let-currentIndex="index">
                                        <div class="col-md-auto" *ngIf="item.prevId">
                                            <span class="pointer" [routerLink]="['/event/edition', item.prevId, 'view-ed']">
                                                <fa-icon [icon]="'angle-double-left'"></fa-icon> {{ item.prevName }}
                                            </span>
                                        </div>
                                        <div class="col"></div>
                                        <div class="col-md-auto" *ngIf="item.nextId">
                                            <span class="pointer" [routerLink]="['/event/edition', item.nextId, 'view-ed']">
                                                {{item.nextName}}
                                                <fa-icon [icon]="'angle-double-right'" (click)="gotoNext()"></fa-icon>
                                            </span>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-tab-group dynamicHeight mat-stretch-tabs [(selectedIndex)]="index">
                                    <mat-tab label="{{'motorsportsDatabaseApp.eventEdition.info' | translate }}">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4">
                                                <dl class="row-md jh-entity-details">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6">
                                                            <dd *ngIf="eventEdition.status === 'SUSPENDED'">
                                                                <h1><span class="badge badge-warning">
                                                                    {{ 'motorsportsDatabaseApp.eventEdition.status.suspended' | translate }}
                                                                </span></h1>
                                                            </dd>
                                                            <dd *ngIf="eventEdition.status === 'CANCELLED'">
                                                                <h1><span class="badge badge-danger">
                                                                    {{ 'motorsportsDatabaseApp.eventEdition.status.cancelled' | translate }}
                                                                </span></h1>
                                                            </dd>
                                                            <dt><span jhiTranslate="motorsportsDatabaseApp.eventEdition.eventDate">Event Date</span></dt>
                                                            <dd>
                                                                <span>{{eventEdition.eventDate.toDate() | date:'mediumDate'}}</span>
                                                            </dd>
                                                            <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']">
                                                                <dt><span jhiTranslate="motorsportsDatabaseApp.eventEdition.shortEventName">Short Event Name</span></dt>
                                                                <dd>
                                                                    <span>{{eventEdition.shortEventName}}</span>
                                                                </dd>
                                                            </div>
                                                            <dt><span jhiTranslate="motorsportsDatabaseApp.eventEdition.event">Event</span></dt>
                                                            <dd>
                                                                <div *ngIf="eventEdition.event">
                                                                    <a [routerLink]="['/event', eventEdition.event?.id, 'view']">{{eventEdition.event?.name}}</a>
                                                                </div>
                                                            </dd>
                                                            <dt><span jhiTranslate="motorsportsDatabaseApp.eventEdition.allowedCategories">Allowed Categories</span></dt>
                                                            <dd>
                                                                <ul class="list-unstyled">
                                                                    <li *ngFor="let category of eventEdition.allowedCategories">
                                                                        <span>{{category.name}} ({{category.shortname}})</span>
                                                                    </li>
                                                                </ul>
                                                            </dd>
                                                            <dt *ngIf="!eventEdition.event.rally && !eventEdition.event.raid">
                                                                <span jhiTranslate="motorsportsDatabaseApp.eventEdition.trackLayout">Track Layout</span></dt>
                                                            <dd *ngIf="!eventEdition.event.rally && !eventEdition.event.raid">
                                                                <div *ngIf="eventEdition.trackLayout">
                                                                    <a [routerLink]="['/racetrack-layout', eventEdition.trackLayout?.id, 'view' ]" >
                                                                        {{eventEdition.trackLayout?.racetrack.name}} - {{eventEdition.trackLayout?.name}}
                                                                    </a>
                                                                    <div *ngIf="eventEdition.trackLayout.layoutImageUrl">
                                                                        <img #layoutImg [src]="eventEdition.trackLayout.layoutImageUrl" class="img-fluid" alt="layout image"
                                                                             (click)="openLayout()"
                                                                             (mouseover)="zoomIn(layoutImg)" (mouseleave)="zoomOut(layoutImg)"/>
                                                                    </div>
                                                                </div>
                                                            </dd>
                                                            <dt *ngIf="eventEdition.event.rally"><span jhiTranslate="motorsportsDatabaseApp.eventEdition.location">Location</span></dt>
                                                            <dd *ngIf="eventEdition.event.rally">
                                                                {{eventEdition.location}}
                                                            </dd>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6" *ngIf="eventEdition.posterUrl">
                                                            <dt><span jhiTranslate="motorsportsDatabaseApp.eventEdition.affiche">Official poster</span></dt>
                                                            <dd>
                                                                <img #afficheImg [src]="lightboxAlbum[posAffiche - 1].thumb" alt="affiche official poster" class="img-fluid"
                                                                     (click)="openAffiche()"
                                                                     (mouseover)="zoomIn(afficheImg)" (mouseleave)="zoomOut(afficheImg)"/>
                                                            </dd>
                                                        </div>
                                                    </div>
                                                </dl>
                                            </div>
                                            <div class="col-lg-8 col-md-8">
                                                <dt><span jhiTranslate="motorsportsDatabaseApp.eventEdition.sessions">Sessions</span></dt>
                                                <dd>
                                                    <jhi-event-session [eventEdition]="eventEdition" (showPoints)="updateShowPoints($event)" (sessions)="updateSessions($event)"></jhi-event-session>
                                                </dd>
                                            </div>
                                        </div>
                                    </mat-tab>
                                    <mat-tab label="{{'motorsportsDatabaseApp.eventEdition.entryList' | translate }}">
                                        <div>
                                            <jhi-event-entry [eventEdition]="eventEdition" (entries)="updateEntries($event)"></jhi-event-entry>
                                        </div>
                                    </mat-tab>
                                    <mat-tab label="{{'motorsportsDatabaseApp.eventEdition.results' | translate }}">
                                        <div>
                                            <mat-tab-group dynamicHeight mat-stretch-tabs *ngIf="index == 2" [selectedIndex]="0">
                                                <mat-tab *ngFor="let eventSession of eventSessions" label="{{ eventSession.name }}">
                                                    <ng-template matTabContent>
                                                        <jhi-event-entry-result [eventSession]="eventSession" [eventEdition]="eventEdition" [eventEntries]="eventEntries">Result...</jhi-event-entry-result>
                                                    </ng-template>
                                                </mat-tab>
                                            </mat-tab-group>
                                        </div>
                                    </mat-tab>
                                    <mat-tab label="{{'motorsportsDatabaseApp.eventEdition.driversTimes' | translate }}">
                                        <div class="table-responsive">
                                            <table mat-table class="table table-hover" [dataSource]="driversBestTimes">
                                                <ng-container *ngFor="let column of bestTimesColumns; let i = index" matColumnDef="{{ column }}">
                                                    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                                                    <td mat-cell *matCellDef="let row">
                                                        <div *ngIf="i === 0">
                                                            {{  row[i] }}
                                                        </div>
                                                        <div *ngIf="i !== 0">
                                                            {{  row[i] | timeMaskPipe }}
                                                        </div>
                                                    </td>
                                                </ng-container>
                                                <tr mat-header-row *matHeaderRowDef="bestTimesColumns; sticky: true"></tr>
                                                <tr mat-row *matRowDef="let row; columns: bestTimesColumns;"></tr>
                                            </table>
                                        </div>
                                    </mat-tab>
                                    <mat-tab *ngIf="hasLapsData" label="{{'motorsportsDatabaseApp.eventEdition.lapsAnalysis' | translate}}">
                                        <ng-template matTabContent>
                                            <jhi-laps-analysis [eventEdition]="eventEdition" [eventSessions]="eventSessions"
                                                [eventEntries]="eventEntries">Laps analysis..</jhi-laps-analysis>
                                        </ng-template>
                                    </mat-tab>
                                    <mat-tab *ngIf="showPoints" label="{{'motorsportsDatabaseApp.eventEdition.points' | translate}}">
                                        <div>
                                            <jhi-standings [eventEdition]="eventEdition">Standings...</jhi-standings>
                                        </div>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button mat-button type="button" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                (click)="editEdition()"
                class="btn btn-primary">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>
        <button mat-button type="button" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                (click)="rescheduleEventDialog()"
                class="btn btn-primary">
            <fa-icon [icon]="'calendar'"></fa-icon>&nbsp;<span jhiTranslate="motorsportsDatabaseApp.eventEdition.reschedule.reschedule"> Reschedule</span>
        </button>
        <button mat-button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                class="btn btn-primary" (click)="copyEntries()">
            <fa-icon [icon]="'clone'"></fa-icon>&nbsp;<span class="hidden-sm-down"  jhiTranslate="motorsportsDatabaseApp.eventEdition.copyEntries.copyLabel">
            Clone entries
            </span>
        </button>
        <button mat-button type="button" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                class="btn btn-warning" (click)="cloneEvent()">
            <fa-icon [icon]="'clone'"></fa-icon> <span jhiTranslate="motorsportsDatabaseApp.eventEdition.clone.clone"> Clone</span>
        </button>
        <button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>
    </div>
</div>
