<div>
    <h2>
        <span jhiTranslate="motorsportsDatabaseApp.eventEdition.home.title">Event Editions</span>
        <button class="btn btn-primary float-right jh-create-entity create-event-edition" [routerLink]="['/', { outlets: { popup: ['event-edition-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="motorsportsDatabaseApp.eventEdition.home.createLabel">
            Create new Event Edition
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'motorsportsDatabaseApp.eventEdition.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="eventEditions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="editionYear"><span jhiTranslate="motorsportsDatabaseApp.eventEdition.editionYear">Edition Year</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="shortEventName"><span jhiTranslate="motorsportsDatabaseApp.eventEdition.shortEventName">Short Event Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="longEventName"><span jhiTranslate="motorsportsDatabaseApp.eventEdition.longEventName">Long Event Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="eventDate"><span jhiTranslate="motorsportsDatabaseApp.eventEdition.eventDate">Event Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="allowedCategories.id"><span jhiTranslate="motorsportsDatabaseApp.eventEdition.allowedCategories">Allowed Categories</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="trackLayout.id"><span jhiTranslate="motorsportsDatabaseApp.eventEdition.trackLayout">Track Layout</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="event.id"><span jhiTranslate="motorsportsDatabaseApp.eventEdition.event">Event</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let eventEdition of eventEditions ;trackBy: trackId">
                <td><a [routerLink]="['../event-edition', eventEdition.id ]">{{eventEdition.id}}</a></td>
                <td>{{eventEdition.editionYear}}</td>
                <td>{{eventEdition.shortEventName}}</td>
                <td>{{eventEdition.longEventName}}</td>
                <td>{{eventEdition.eventDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="eventEdition.allowedCategories">
                        <a [routerLink]="['../category', eventEdition.allowedCategories?.id ]" >{{eventEdition.allowedCategories?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="eventEdition.trackLayout">
                        <a [routerLink]="['../racetrack-layout', eventEdition.trackLayout?.id ]" >{{eventEdition.trackLayout?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="eventEdition.event">
                        <a [routerLink]="['../event', eventEdition.event?.id ]" >{{eventEdition.event?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../event-edition', eventEdition.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event-edition/'+ eventEdition.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event-edition/'+ eventEdition.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="eventEditions && eventEditions.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
