a.deco-none {
    color:#000000 !important;
    text-decoration:none;
}

:host >>> .completer-dropdown {
    width: 80% !important;
    position: relative !important;
}

:host >>> .completer-image-holder {
    width: 110px !important;
}

:host >>> .completer-selected-row {
	width: 95% !important;
}

.dual-list .list-group {
    margin-top: 8px;
}

.list-left li, .list-right li {
    cursor: pointer;
}

.list-arrows {
    padding-top: 10px;
}

.list-arrows a {
    margin-bottom: 20px;
}