
<div *ngIf="eventEdition">
	<div class="row">
		<div class="col-lg-10 col-md-10">
    		<h2>{{eventEdition.longEventName}}</h2>
    	</div>
    	<div class="col-lg-2 col-md-2">
    		<h2>
    			<div class="row">
   				<a class="deco-none" *ngIf="eventEdition.previousEditionId" [routerLink]="['/event-edition', eventEdition.previousEditionId]"><i  class="fa fa-fw fa-angle-double-left" aria-hidden="true"></i></a>
   				<div class="col-xs-2">
   				<select class="form-control" id="field_jumpToEdition" name="jumpToEdition" (change)="jumpToEdition($event.target.value)">
   					<option></option>
	            	<option *ngFor="let edition of editions" [value]="edition.id">{{edition.editionYear}}</option>
	            </select>
	            </div>
   				<a class="deco-none" *ngIf="eventEdition.nextEditionId" [routerLink]="['/event-edition', eventEdition.nextEditionId]"><i  class="fa fa-fw fa-angle-double-right" aria-hidden="true"></i></a>
   				</div>
    		</h2>
    	</div>
    </div>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <a class="deco-none" *ngIf="eventEdition.seriesId" [routerLink]="['/series/series-edition', eventEdition.seriesId]"><i  class="fa fa-fw fa-angle-double-left" aria-hidden="true"></i> {{eventEdition.seriesName}}</a>
    <ngb-tabset>
	  <ngb-tab title="{{'motorsportsDatabaseApp.eventEdition.info' | translate}}">
	    <ng-template ngbTabContent>
		    <div class="row">
				<div class="col-lg-4 col-md-4">
				    <dl class="row-md jh-entity-details">
				        <dt><span jhiTranslate="motorsportsDatabaseApp.eventEdition.editionYear">Edition Year</span></dt>
				        <dd>
				            <span>{{eventEdition.editionYear}}</span>
				        </dd>
				        <dt><span jhiTranslate="motorsportsDatabaseApp.eventEdition.shortEventName">Short Event Name</span></dt>
				        <dd>
				            <span>{{eventEdition.shortEventName}}</span>
				        </dd>
				        <dt><span jhiTranslate="motorsportsDatabaseApp.eventEdition.eventDate">Event Date</span></dt>
				        <dd>
				            <span>{{eventEdition.eventDate | date:'mediumDate'}}</span>
				        </dd>
				        <dt><span jhiTranslate="motorsportsDatabaseApp.eventEdition.trackLayout">Track Layout</span></dt>
				        <dd>
				            <div *ngIf="eventEdition.trackLayout">
				                <a [routerLink]="['/racetrack', eventEdition.trackLayout.racetrack.id, 'racetrack-layout', eventEdition.trackLayout?.id ]" >
				                	{{eventEdition.trackLayout?.racetrack.name}} - {{eventEdition.trackLayout?.name}}
								</a>
								<div *ngIf="eventEdition.trackLayout.layoutImageUrl">
					            	<img [src]="eventEdition.trackLayout.layoutImageUrl" class="img-fluid" alt="layout image"/>
					            </div>
				            </div>
				        </dd>
				        <dt><span jhiTranslate="motorsportsDatabaseApp.eventEdition.event">Event</span></dt>
				        <dd>
				            <div *ngIf="eventEdition.event">
				                <a [routerLink]="['/event', eventEdition.event?.id]">{{eventEdition.event?.name}}</a>
				            </div>
				        </dd>
				    </dl>
				</div>
				<div class="col-lg-8 col-md-8">
					<dt><span jhiTranslate="motorsportsDatabaseApp.eventEdition.allowedCategories">Allowed Categories</span></dt>
					<dd>
			            <ul class="list-unstyled">
			                <li *ngFor="let category of eventEdition.allowedCategories">
			                    <span>{{category.name}} ({{category.shortname}})</span>
			                </li>
			            </ul>
			        </dd>
			        <dt><span jhiTranslate="motorsportsDatabaseApp.eventEdition.sessions">Sessions</span></dt>
					<dd>
			            <div class="table-responsive" *ngIf="eventEdition.sessions">
					        <table class="table table-striped">
					            <thead>
					            <tr>
					            <th><span jhiTranslate="motorsportsDatabaseApp.eventEdition.session.sessionStartTime">Session Start Time</span></th>
					            <th><span jhiTranslate="motorsportsDatabaseApp.eventEdition.session.shortname">Shortname</span></th>
					            <th><span jhiTranslate="motorsportsDatabaseApp.eventEdition.session.duration">Duration</span></th>
					            <th></th>
					            </tr>
					            </thead>
					            <tbody>
					            <tr *ngFor="let eventSession of eventEdition.sessions ;trackBy: trackId">
					                <td>{{eventSession.sessionStartTime.format("DD/MM/YYYY, HH:mm:ss")}}</td>
					                <td>{{eventSession.name}}</td>
					                <td>{{eventSession.duration}} {{'motorsportsDatabaseApp.eventEdition.enumerations.' + durationTypes[eventSession.durationType] | translate}} 
					                	<span *ngIf="eventSession.additionalLap">+ 1 {{'motorsportsDatabaseApp.eventEdition.session.lap' | translate}}</span>
					                </td>
					                <td class="text-right">
					                    <div class="btn-group flex-btn-group-container">
					                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
					                                [routerLink]="['/', { outlets: { popup: eventEdition.id + '/event-session/'+ eventSession.id + '/edit'} }]"
					                                replaceUrl="true"
					                                class="btn btn-primary btn-sm">
					                            <span class="fa fa-pencil"></span>
					                        </button>
					                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN']"
					                                [routerLink]="['/', { outlets: { popup: eventEdition.id + '/event-session/'+ eventSession.id + '/delete'} }]"
					                                replaceUrl="true"
					                                class="btn btn-danger btn-sm">
					                            <span class="fa fa-remove"></span>
					                        </button>
					                    </div>
					                </td>
					            </tr>
					            </tbody>
					        </table>
					    </div>			            
				        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
				        	class="btn btn-primary float-right create-event-session" [routerLink]="['/', { outlets: { popup: eventEdition.id + '/event-session-new' } }]">
				            <span class="fa fa-plus"></span>
				        </button>&nbsp;
				        <button type="button" *ngIf="!convertedTime && eventEdition.sessions"
				        	class="btn btn-outline-primary float-right create-event-session" (click)="convertToCurrentTZ()">
				            <span jhiTranslate="motorsportsDatabaseApp.eventEdition.yourTime">Your Time</span>
				        </button>
				        <button type="button" *ngIf="convertedTime && eventEdition.sessions"
				        	class="btn btn-outline-primary float-right create-event-session" (click)="convertToLocalTZ()">
				            <span jhiTranslate="motorsportsDatabaseApp.eventEdition.localTime">Local Time</span>
				        </button>
			        </dd>
				</div>
			</div>
		    <button type="button"
		            [routerLink]="['/', { outlets: { popup: 'event-edition/'+ eventEdition.id + '/edit'} }]"
		            replaceUrl="true"
		            class="btn btn-primary">
		        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
		    </button>
		</ng-template>
	</ngb-tab>
	<ngb-tab title="{{'motorsportsDatabaseApp.eventEdition.entryList' | translate}}">
	    <ng-template ngbTabContent>
	    	<jhi-event-entry [eventEdition]="eventEdition">Entries...</jhi-event-entry>
	    </ng-template>
	</ngb-tab>
	<ngb-tab title="{{'motorsportsDatabaseApp.eventEdition.results' | translate}}">
	    <ng-template ngbTabContent>
	    	<ng-container *ngTemplateOutlet="innerTabsetResults"></ng-container>
	    </ng-template>
	</ngb-tab>
	<ngb-tab *ngIf="showPoints" title="{{'motorsportsDatabaseApp.eventEdition.points' | translate}}">
		<ng-template ngbTabContent>
		    <jhi-standings [eventEditionId]="eventEdition.id" [seriesEditionId]="eventEdition.seriesId">Standings...</jhi-standings>
	    </ng-template>
	</ngb-tab>
	</ngb-tabset>
	<button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>

<ng-template #innerTabsetResults>
  <ngb-tabset>
  <ngb-tab *ngFor="let eventSession of eventEdition.sessions" title="{{eventSession.name}}">
    <ng-template ngbTabContent>
    	<jhi-event-entry-result [session]="eventSession" [edition]="eventEdition">Result...</jhi-event-entry-result>    	
    </ng-template>
  </ngb-tab>
</ngb-tabset>
</ng-template>