<h1 mat-dialog-title>{{'motorsportsDatabaseApp.eventEdition.reschedule.title' | translate }}</h1>
<div mat-dialog-content>
    <p>{{'motorsportsDatabaseApp.eventEdition.reschedule.question' | translate }}</p>
    <mat-form-field>
        <mat-label>{{'motorsportsDatabaseApp.eventEdition.reschedule.newDate' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="newDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
    </mat-form-field>
</div>
<mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">{{'motorsportsDatabaseApp.eventEdition.reschedule.cancel' | translate }}</button>
    <button mat-button (click)="confirmReschedule()" cdkFocusInitial>{{'motorsportsDatabaseApp.eventEdition.reschedule.confirm' | translate }}</button>
</mat-dialog-actions>
