<h2>
    <span jhiTranslate="motorsportsDatabaseApp.event.home.title">Events</span>
</h2>
<div class="table-responsive" *ngIf="resultEvents">
	<table class="table table-striped">
		<thead>
			<tr>
				<th><span jhiTranslate="home.drivers">Drivers</span></th>
				<th><span jhiTranslate="home.entryName">Entry Name</span></th>
				<th><span jhiTranslate="motorsportsDatabaseApp.series.seriesEdition.winner">Winner</span></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let event of resultEvents">
				<td>{{event.eventDate | dDate:'mediumDate'}}</td>
				<td><a [routerLink]="['/event-edition', event.id ]" >
                        	{{event.longEventName}}
                        </a></td>
				<td *ngIf="!event.winners || event.winners[0]?.length === 0">-</td>
            	<td *ngIf="event.winners && event.winners[0]?.length === 1">
            		<span *ngIf="event.winners[0][0].winners.length === 1">{{event.winners[0][0].winners[0].drivers}}</span>
            		<span *ngIf="event.winners[0][0].winners.length > 1">
            			<div *ngFor="let winner of event.winners[0][0].winners">
	                        <span class="tag tag-info">{{winner.category}}: {{ winner.drivers }}</span>
	                    </div>
            		</span>
            	</td>
            	<td *ngIf="event.winners && event.winners[0]?.length > 1">
            		<div *ngFor="let session of event.winners[0]">
            			<strong>{{session.session}}:</strong>
                        <span *ngIf="session.winners.length === 1">{{session.winners[0].drivers}}</span>
	            		<span *ngIf="session.winners.length > 1">
	            			<div *ngFor="let winner of session.winners">
		                        <span class="tag tag-info"><strong>{{winner.category}}:</strong> {{ winner.drivers }}</span>
		                    </div>
	            		</span>
                    </div>
            	</td>
			</tr>
		</tbody>
	</table>
</div>
<div *ngIf="resultEvents && resultEvents.length">
	<div class="row justify-content-center">
		<jhi-item-count [page]="page" [total]="queryCount"
			[itemsPerPage]="itemsPerPage"></jhi-item-count>
	</div>
	<div class="row justify-content-center">
		<ngb-pagination [collectionSize]="totalItems" [(page)]="page"
			(pageChange)="loadPage(page)"></ngb-pagination>
	</div>
</div>