/* ==========================================================================
Main page styles
========================================================================== */

.header img {
  float: left;
  width: 150px;
  height: 150px;
}

.header h1 {
  position: relative;
  top: 40px;
  left: 10px;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        
        background-size: contain;
    }
}

.cardScroll {
  height:450px;
  overflow-y: scroll;
}

.cardGreyText {
	color: #E0E0E0;
}
