<div class="row">
    <div class="col-md-12">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>
        </div>
        
        <div class="row mb-3">
             <div class="col-xl-3 col-lg-6">
                 <div class="card card-inverse card-success">
                     <div class="card-block bg-success">
                         <div class="rotate">
                         	<i class="icofont icofont-racer icofont-5x"></i>
                         </div>
                         <h6 class="text-uppercase">Drivers</h6>
                         <h1 class="display-1">{{homeData.drivers}}</h1>
                     </div>
                 </div>
             </div>
             <div class="col-xl-3 col-lg-6">
                 <div class="card card-inverse card-danger">
                     <div class="card-block bg-danger">
                         <div class="rotate">
                             <i class="icofont icofont-track icofont-5x"></i>
                         </div>
                         <h6 class="text-uppercase">Racetracks</h6>
                         <h1 class="display-1">{{homeData.racetracks}}</h1>
                     </div>
                 </div>
             </div>
             <div class="col-xl-3 col-lg-6">
                 <div class="card card-inverse card-info">
                     <div class="card-block bg-info">
                         <div class="rotate">
                             <i class="icofont icofont-racing-car icofont-5x"></i>
                         </div>
                         <h6 class="text-uppercase">Teams</h6>
                         <h1 class="display-1">{{homeData.teams}}</h1>
                     </div>
                 </div>
             </div>
             <div class="col-xl-3 col-lg-6">
                 <div class="card card-inverse card-warning">
                     <div class="card-block bg-warning">
                         <div class="rotate">
                             <i class="icofont icofont-trophy-alt icofont-5x"></i>
                         </div>
                         <h6 class="text-uppercase">Events</h6>
                         <h1 class="display-1">{{homeData.events}}</h1>
                     </div>
                 </div>
             </div>
         </div>
    </div>
</div>
