<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header"><h3>{{ 'home.upcomingEvents' | translate }}</h3></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-xs-12">
                                {{ 'home.selectTimeZone' | translate }}
                            </div>
                            <div class="col-md-9 col-xs-12">
                                <mat-select [(ngModel)]="timezone" (selectionChange)="changeTimezone()">
                                    <mat-option *ngFor="let item of timezones" [value]="item.zoneName">
                                        {{item.countryName}} ({{item.zoneName}} {{item.gmtOffset}})
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-xs-12">
                                {{ 'home.filterSessionTypes' | translate }}
                            </div>
                            <div class="col-md-9 col-xs-12">
                                <mat-checkbox [checked]="showRaces"
                                              (change)="filterBySessionType('races', $event.checked)">{{ 'home.races' | translate }}
                                </mat-checkbox>
                                <mat-checkbox [checked]="showQualiSessions"
                                              (change)="filterBySessionType('qualiSessions', $event.checked)">{{ 'home.qualiSessions' | translate }}
                                </mat-checkbox>
                                <mat-checkbox [checked]="showPracticeSessions"
                                              (change)="filterBySessionType('practiceSessions', $event.checked)">{{ 'home.practiceSessions' | translate }}
                                </mat-checkbox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card-block" *ngFor="let day of dates">
                                    <h5 class="card-title">{{ day }}</h5>
                                    <div class="card-body">
                                        <div class="row p-2" *ngFor="let session of filteredBySessionTypeCalendar | eventsDayFilter: day">
                                            <div class="col-2">
                                                <img *ngIf="session.seriesLogo" #layoutImg [src]="session.seriesLogo" class="img-fluid" alt="series logo" style="text-align: center">
                                            </div>
                                            <div class="col-10">
                                                <strong>
                                                    <span *ngIf="!session.raid">{{ session.sessionStartTime | localizedDate: 'HH:mm' }}</span>
                                                    <span *ngIf="session.sessionEndTime && !session.rally && !session.raid"> - {{ session.sessionEndTime | localizedDate: 'HH:mm'}}</span>
                                                    <span *ngIf="session.durationType === 5"> ({{ session.duration }}L)</span>
                                                    <span *ngIf="session.durationType === 4"> ({{ session.duration }}M)</span><span *ngIf="!session.raid">:</span>
                                                </strong>
                                                <span>
                                                <span *ngIf="session.seriesIds.length > 0">
                                                    <ng-template ngFor let-item [ngForOf]="session.seriesIds" let-currentIndex="index">
                                                      <a [routerLink]="['/series/edition', item, 'view' ]" >{{ session.seriesNames[currentIndex] }} </a>
                                                    </ng-template> -
                                                </span>
                                                <a [routerLink]="['/event/edition', session.eventEditionId, 'view-ed' ]" >{{ session.eventName }}, {{ session.sessionName }}</a>
                                                <span *ngIf="session.durationType === 3 && !session.raid"> ({{ session.duration }}KM)</span>
                                                <span *ngIf="session.raid"> - {{ session.duration }} / {{ session.totalDuration }} KM</span>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-block" *ngIf="noEvents">
                                    <span jhiTranslate="home.noUpcomingEvents"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
