<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 d-none d-lg-block">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="icofont icofont-racer"></i>
                        </div>
                        <p class="card-category">{{ 'home.drivers' | translate }}</p>
                        <h3 class="card-title">{{ homeData.drivers }}</h3>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 d-none d-lg-block">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="icofont icofont-whistle"></i>
                        </div>
                        <p class="card-category">{{ 'home.racetracks' | translate }}</p>
                        <h3 class="card-title">{{ homeData.racetracks }}</h3>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 d-none d-lg-block">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="icofont icofont-racing-car"></i>
                        </div>
                        <p class="card-category">{{ 'home.teams' | translate}}</p>
                        <h3 class="card-title">{{ homeData.teams }}</h3>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 d-none d-lg-block">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="icofont icofont-trophy-alt"></i>
                        </div>
                        <p class="card-category">{{ 'home.events' | translate }}</p>
                        <h3 class="card-title">{{ homeData.events }}</h3>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-7">
                <jhi-home-events></jhi-home-events>
            </div>
            <div class="col-xs-12 col-lg-5 d-none d-lg-block">
                <jhi-home-ephemeris></jhi-home-ephemeris>
            </div>
        </div>
    </div>
</div>
