#if ($rally || $raid)#if ($raid)La etapa #else El tramo cronometrado #end<b>$session.shortname - $session.name ($session.duration km)</b>#end#if (!$rally && !$raid)La sesión <b>$session.name</b>#end perteneciente a <b>$session.eventEdition.longEventName</b> empieza en #if ($minutesToStart == 15)15 minutos#end#if ($minutesToStart == 60)1 hora #end#if ($minutesToStart == 180)3 horas#end#if (!$rally && !$raid) en <b>$session.eventEdition.trackLayout.racetrack.name</b>#end#if ($logoUrl != $null)

<a href="$logoUrl">&#8205;</a>#end
