#if ($rally || $raid)#if ($raid)L'etapa #else El tram cronometrat #end<b>$session.shortname - $session.name ($session.duration km)</b>#end#if (!$rallyOrRaid)La sessió <b>$session.name</b>#end que pertany a <b>$session.eventEdition.longEventName</b> comença en #if ($minutesToStart == 15)15 minuts#end#if ($minutesToStart == 60)1 hora #end#if ($minutesToStart == 180)3 hores#end#if (!$rally && !$raid) a <b>$session.eventEdition.trackLayout.racetrack.name</b>#end#if ($logoUrl != $null)

<a href="$logoUrl">&#8205;</a>#end
