<div>
    <h2>
        <span>{{driverName}}</span>
        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
        	class="btn btn-primary float-right jh-create-entity create-driver-points-details" 
        	[routerLink]="['/', { outlets: { popup: eventEditionId + '/' + driverId + '/driver-points-details-new' } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="motorsportsDatabaseApp.driverPointsDetails.home.createLabel">
            Create new Driver Points Details
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="table-responsive" *ngIf="driverPointsDetails">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="motorsportsDatabaseApp.driverPointsDetails.points">Points</span></th>
            <th><span jhiTranslate="motorsportsDatabaseApp.driverPointsDetails.reason">Reason</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let driverPointsDetails of driverPointsDetails; trackBy: trackId">
                <td>{{driverPointsDetails.points}}</td>
                <td *ngIf="translatable(driverPointsDetails.reason)"><span translate="{{driverPointsDetails.reason}}"></span></td>
                <td *ngIf="!translatable(driverPointsDetails.reason)">
                	<span>{{driverPointsDetails.reason}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'driver-points-details/'+ driverPointsDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
