<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="tyreProvider">
      <h2 data-cy="tyreProviderDetailsHeading">
        <span jhiTranslate="motorsportsDatabaseApp.tyreProvider.detail.title">Tyre Provider</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ tyreProvider.id }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.tyreProvider.name">Name</span></dt>
        <dd>
          <span>{{ tyreProvider.name }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.tyreProvider.logo">Logo</span></dt>
        <dd>
          <div *ngIf="tyreProvider.logo">
            <a (click)="openFile(tyreProvider.logo, tyreProvider.logoContentType)">
              <img
                [src]="'data:' + tyreProvider.logoContentType + ';base64,' + tyreProvider.logo"
                style="max-width: 100%"
                alt="tyreProvider image"
              />
            </a>
            {{ tyreProvider.logoContentType }}, {{ byteSize(tyreProvider.logo) }}
          </div>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.tyreProvider.letterColor">Letter Color</span></dt>
        <dd>
          <span>{{ tyreProvider.letterColor }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.tyreProvider.backgroundColor">Background Color</span></dt>
        <dd>
          <span>{{ tyreProvider.backgroundColor }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/tyre-provider', tyreProvider.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
