
<div *ngIf="series">
    <h2>{{series.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    
    <ngb-tabset>
	  <ngb-tab title="{{'motorsportsDatabaseApp.series.seriesEdition.detail.info' | translate}}">
	    <template ngbTabContent>
	      <dl class="row-md jh-entity-details">
	        <dt><span jhiTranslate="motorsportsDatabaseApp.series.name">Name</span></dt>
	        <dd>
	            <span>{{series.name}}</span>
	        </dd>
	        <dt><span jhiTranslate="motorsportsDatabaseApp.series.shortname">Shortname</span></dt>
	        <dd>	
	            <span>{{series.shortname}}</span>
	        </dd>
	        <dt><span jhiTranslate="motorsportsDatabaseApp.series.organizer">Organizer</span></dt>
	        <dd>
	            <span>{{series.organizer}}</span>
	        </dd>
	        <dt><span jhiTranslate="motorsportsDatabaseApp.series.logo">Logo</span></dt>
	        <dd>
				<img *ngIf="series.logoUrl" [src]="series.logoUrl" style="max-width: 400px" alt="series logo"/>
			</dd>
		
		    <button type="button"
		            [routerLink]="['/', { outlets: { popup: 'series/'+ series.id + '/edit'} }]"
		            replaceUrl="true"
		            class="btn btn-primary">
		        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
		    </button>
	    </dl>
	    </template>
	  </ngb-tab>
	  <ngb-tab title="{{'motorsportsDatabaseApp.series.seriesEdition.detail.editions' | translate}}">
	  	<template ngbTabContent>
	  		<jhi-series-edition [series]="series">Editions...</jhi-series-edition>
	  	</template>
	  </ngb-tab>
	</ngb-tabset>
	<!-- button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button -->
</div>
