<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{ editForm.get('name').value }}</h4>
                        <p class="card-category">{{ 'motorsportsDatabaseApp.series.home.createOrEditLabel' | translate }}</p>
                    </div>
                    <div class="card-body">
                        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motorsportsDatabaseApp.series.name' | translate }}" type="text"
                                               class="form-control" name="name" id="field_name" formControlName="name">
                                        <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('name').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                                                This field cannot be longer than 50 characters.
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motorsportsDatabaseApp.series.shortname' | translate }}" type="text"
                                               class="form-control" name="shortname" id="field_shortname" formControlName="shortname">
                                        <div *ngIf="editForm.get('shortname').invalid && (editForm.get('shortname').dirty || editForm.get('shortname').touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('shortname').errors.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('shortname').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 10 }">
                                                This field cannot be longer than 50 characters.
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{ 'motorsportsDatabaseApp.series.organizer' | translate }}" type="text"
                                               class="form-control" name="organizer" id="field_organizer" formControlName="organizer">
                                        <div *ngIf="editForm.get('organizer').invalid && (editForm.get('organizer').dirty || editForm.get('organizer').touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('organizer').errors.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('organizer').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                                                This field cannot be longer than 50 characters.
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.series.logo" for="field_logo">Logo</label>
                                    <div>
                                        <img [src]="editForm.get('logoUrl').value" style="max-height: 100px;" *ngIf="!editForm.get('logo').value && editForm.get('logoUrl').value != null" alt="engine logo"/>
                                        <img [src]="'data:' + editForm.get('logoContentType').value + ';base64,' + editForm.get('logo').value" style="max-height: 100px;" *ngIf="editForm.get('logo').value" alt="engine logo"/>
                                        <div *ngIf="editForm.get('logo').value" class="form-text text-danger clearfix">
                                            <button type="button" (click)="clearInputImage('logo', 'logoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                                <span class="fa fa-times"></span>
                                            </button>
                                        </div>
                                        <input type="file" id="file_logo" (change)="setFileData($event, 'logo', true)" accept="logo/*" jhiTranslate="entity.action.addlogo"/>
                                    </div>
                                    <input type="hidden" class="form-control" name="logo" id="field_logo" formControlName="logo"/>
                                    <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType" formControlName="logoContentType" />
                                </div>
                            </div>
                            <div>
                                <button mat-raised-button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                </button>
                                <button mat-raised-button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
