<form *ngIf="chassis" name="deleteForm" (ngSubmit)="confirmDelete(chassis.id!)">
    <div class="modal-header">
        <h4 mat-dialog-title jhiTranslate="entity.delete.title">Confirm delete operation</h4>
        <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div mat-dialog-content>
            <p id="jhi-delete-chassis-heading" jhiTranslate="motorsportsDatabaseApp.chassis.delete.question"
               [translateValues]="{id: chassis.manufacturer + ' ' + chassis.name}">Are you sure you want to delete this chassis?</p>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button mat-button id="jhi-confirm-delete-driver" type="submit" class="btn btn-danger">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
        </button>
    </div>
</form>
