<div>
  <h2 id="page-heading" data-cy="TyreProviderHeading">
    <span jhiTranslate="motorsportsDatabaseApp.tyreProvider.home.title">Tyre Providers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="motorsportsDatabaseApp.tyreProvider.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tyre-provider"
        [routerLink]="['/tyre-provider/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="motorsportsDatabaseApp.tyreProvider.home.createLabel"> Create a new Tyre Provider </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'motorsportsDatabaseApp.tyreProvider.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="tyreProviders?.length === 0">
    <span jhiTranslate="motorsportsDatabaseApp.tyreProvider.home.notFound">No tyreProviders found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tyreProviders && tyreProviders.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="motorsportsDatabaseApp.tyreProvider.name">Name</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="logo">
            <span jhiTranslate="motorsportsDatabaseApp.tyreProvider.logo">Logo</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="letterColor">
            <span jhiTranslate="motorsportsDatabaseApp.tyreProvider.letterColor">Letter Color</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="backgroundColor">
            <span jhiTranslate="motorsportsDatabaseApp.tyreProvider.backgroundColor">Background Color</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tyreProvider of tyreProviders; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tyre-provider', tyreProvider.id, 'view']">{{ tyreProvider.id }}</a>
          </td>
          <td>{{ tyreProvider.name }}</td>
          <td>
            <a *ngIf="tyreProvider.logo" (click)="openFile(tyreProvider.logo, tyreProvider.logoContentType)">
              <img
                [src]="'data:' + tyreProvider.logoContentType + ';base64,' + tyreProvider.logo"
                style="max-height: 30px"
                alt="tyreProvider image"
              />
            </a>
            <span *ngIf="tyreProvider.logo">{{ tyreProvider.logoContentType }}, {{ byteSize(tyreProvider.logo) }}</span>
          </td>
          <td>{{ tyreProvider.letterColor }}</td>
          <td>{{ tyreProvider.backgroundColor }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tyre-provider', tyreProvider.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tyre-provider', tyreProvider.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tyreProvider)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="tyreProviders && tyreProviders.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
