<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style">
                        <li class="breadcrumb-item">
                            <h4 class="fw-bold">{{ 'motorsportsDatabaseApp.fuelProvider.home.title' | translate }}</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <form class="register-form m-4" name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                    <div class="card">
                        <div class="body">
                            <div class="row">
                                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>{{ 'motorsportsDatabaseApp.fuelProvider.name' | translate }}</mat-label>
                                        <input matInput type="text" class="form-control" formControlName="name">
                                        <mat-error *ngIf="editForm.get('name')!.hasError('required')">
                                            {{ 'entity.validation.required' | translate }}
                                        </mat-error>
                                        <mat-error *ngIf="editForm.get('name')!.hasError('maxlength')">
                                            {{ 'entity.validation.maxlength' | translate: { max: 50} }}
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-label>{{ 'motorsportsDatabaseApp.fuelProvider.logo' | translate }}</mat-label>
                                    <jhi-file-upload
                                        [editForm]="editForm"
                                        controlName="logo"
                                        controlNameContentType="logoContentType"
                                        imageUrl="logoUrl"
                                        [isImage]="true"
                                        acceptedMimeType="image/*"></jhi-file-upload>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <button class="msr-3" [disabled]="!editForm.valid || isSaving" mat-raised-button color="primary">
                                        <span jhiTranslate="entity.action.save">Save</span>
                                        <mat-icon matPrefix>save</mat-icon>
                                    </button>
                                    <button type="button" mat-button id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                                        <span jhiTranslate="entity.action.cancel">Cancel</span>
                                        <mat-icon matPrefix>cancel</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
