<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="engine">
      <h2 data-cy="engineDetailsHeading"><span jhiTranslate="motorsportsDatabaseApp.engine.detail.title">Engine</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ engine.id }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.engine.name">Name</span></dt>
        <dd>
          <span>{{ engine.name }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.engine.manufacturer">Manufacturer</span></dt>
        <dd>
          <span>{{ engine.manufacturer }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.engine.capacity">Capacity</span></dt>
        <dd>
          <span>{{ engine.capacity }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.engine.architecture">Architecture</span></dt>
        <dd>
          <span>{{ engine.architecture }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.engine.debutYear">Debut Year</span></dt>
        <dd>
          <span>{{ engine.debutYear }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.engine.petrolEngine">Petrol Engine</span></dt>
        <dd>
          <span>{{ engine.petrolEngine }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.engine.dieselEngine">Diesel Engine</span></dt>
        <dd>
          <span>{{ engine.dieselEngine }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.engine.electricEngine">Electric Engine</span></dt>
        <dd>
          <span>{{ engine.electricEngine }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.engine.turbo">Turbo</span></dt>
        <dd>
          <span>{{ engine.turbo }}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.engine.image">Image</span></dt>
        <dd>
          <div *ngIf="engine.image">
            <a (click)="openFile(engine.image, engine.imageContentType)">
              <img [src]="'data:' + engine.imageContentType + ';base64,' + engine.image" style="max-width: 100%" alt="engine image" />
            </a>
            {{ engine.imageContentType }}, {{ byteSize(engine.image) }}
          </div>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.engine.derivedFrom">Derived From</span></dt>
        <dd>
          <div *ngIf="engine.derivedFrom">
            <a [routerLink]="['/engine', engine.derivedFrom?.id, 'view']">{{ engine.derivedFrom?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/engine', engine.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
