<section class="content">
    <div class="container-fluid">
        <div class="block-header mt-n3">
            <div class="row">
                <div class="col-12">
                    <ul class="breadcrumb breadcrumb-style">
                        <li class="breadcrumb-item bcrumb-2">
                            <a routerLink="/"><fa-icon [icon]="['fas', 'arrow-alt-circle-right']" size="2x"></fa-icon></a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a routerLink="/engine">{{ 'motorsportsDatabaseApp.engine.home.title' | translate }}</a>
                        </li>
                        <li class="breadcrumb-item active">{{ engine!.manufacturer }} {{ engine!.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="m-b-20">
                        <div class="contact-grid">
                            <div class="profile-header bg-dark">
                                <div class="user-name">{{ engine!.manufacturer }} {{ engine!.name }}</div>
                            </div>
                            <jhi-popup-image *ngIf="engine!.imageUrl" extraClasses="img-fluid user-img"
                                             [imageUrl]="engine!.imageUrl" imageAlt="engine image">
                            </jhi-popup-image>

                            <div class="row">
                                <div class="col-md-4 col-12 align-center">
                                    <span jhiTranslate="motorsportsDatabaseApp.engine.capacity">Capacity </span>: <span>{{ engine?.capacity }}</span>
                                </div>
                                <div class="col-md-4 col-12 align-center">
                                    <span jhiTranslate="motorsportsDatabaseApp.engine.architecture">Architecture </span>: <span>{{ engine?.architecture }}</span>
                                </div>
                                <div class="col-md-4 col-12 align-center">
                                    <span jhiTranslate="motorsportsDatabaseApp.engine.debutYear">Debut year </span>: <span>{{ engine?.debutYear }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-12 align-center">
                                    <span jhiTranslate="motorsportsDatabaseApp.engine.petrolEngine">Petrol Engine</span>: <span><i [ngClass]="engine?.petrolEngine ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'"></i></span>
                                </div>
                                <div class="col-md-3 col-12 align-center">
                                    <span jhiTranslate="motorsportsDatabaseApp.engine.dieselEngine">Diesel Engine</span>: <span><i [ngClass]="engine?.dieselEngine ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'"></i></span>
                                </div>
                                <div class="col-md-3 col-12 align-center">
                                    <span jhiTranslate="motorsportsDatabaseApp.engine.electricEngine">Electric Engine</span>: <span><i [ngClass]="engine?.electricEngine ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'"></i></span>
                                </div>
                                <div class="col-md-3 col-12 align-center">
                                    <span jhiTranslate="motorsportsDatabaseApp.engine.otherEngine">Other Engine</span>: <span><i [ngClass]="engine?.otherEngine ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'"></i></span>
                                </div>
                            </div>
                            <div class="row">
                                <dl class="row-md jh-entity-details">
                                    <div *ngIf="engine?.derivedFrom">
                                        <dt><span jhiTranslate="motorsportsDatabaseApp.engine.derivedFrom">Derived From</span></dt>
                                        <dd>
                                            <div *ngIf="engine?.derivedFrom">
                                                <a [routerLink]="['/engine', engine?.derivedFrom?.id, 'view']">{{ engine?.derivedFrom?.manufacturer}} {{ engine?.derivedFrom?.name}}</a>
                                            </div>
                                        </dd>
                                        <dt><span jhiTranslate="motorsportsDatabaseApp.engine.rebranded">Rebranded</span>
                                            <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="tooltip" title="{{ 'motorsportsDatabaseApp.engine.rebrandedTooltip' | translate }}"></i></dt>
                                        <dd>
                                            <span><i [ngClass]="engine?.rebranded ? 'fa fa-fw fa-check-square-o' : 'fa fa-fw fa-square-o'"></i></span>
                                        </dd>
                                    </div>
                                </dl>

                                <dl class="row-md jh-entity-details" *ngIf="engine!.evolutions!.length > 0">
                                    <dt><span jhiTranslate="motorsportsDatabaseApp.engine.evolutions">Evolutions</span></dt>
                                    <dd>
                                        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                                            <!-- This is the tree node template for leaf nodes -->
                                            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                                                <!-- use a disabled button to provide padding for tree leaf -->
                                                <button mat-icon-button disabled>
                                                    <mat-icon class="mat-icon-rtl-mirror">chevron_right</mat-icon>
                                                </button>
                                                <a [routerLink]="['/engine', node.engine?.id, 'view']">{{ node.engine.manufacturer }} {{node.engine.name}}</a>
                                            </mat-tree-node>
                                            <!-- This is the tree node template for expandable nodes -->
                                            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                                                <button mat-icon-button matTreeNodeToggle
                                                        [attr.aria-label]="'toggle ' + node.name">
                                                    <mat-icon class="mat-icon-rtl-mirror">
                                                        {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                                                    </mat-icon>
                                                </button>
                                                <a [routerLink]="['/engine', node.engine?.id, 'view']">{{ node.engine?.manufacturer }} {{node.engine?.name}}</a>
                                            </mat-tree-node>
                                        </mat-tree>
                                    </dd>
                                </dl>
                            </div>

                            <button mat-mini-fab type="submit" color="primary"
                                    *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                                    [routerLink]="['/engine', engine?.id, 'edit']">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <mat-tab-group>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon msr-2">analytics</mat-icon>
                                {{ 'motorsportsDatabaseApp.stats.home.title' | translate }}
                            </ng-template>
                            <div class="p-4">
                                <jhi-statistics [id]="engine?.id!" [statsType]="'engines'">Statistics...</jhi-statistics>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</section>
