<div>
    <h2 id="page-heading">
        <span jhiTranslate="motorsportsDatabaseApp.racetrack.home.title">Racetracks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-racetrack" [routerLink]="['/racetrack/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="motorsportsDatabaseApp.racetrack.home.createLabel">
            Create a new Racetrack
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'motorsportsDatabaseApp.racetrack.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="racetracks?.length === 0">
        <span jhiTranslate="motorsportsDatabaseApp.racetrack.home.notFound">No racetracks found</span>
    </div>
    <div class="table-responsive" *ngIf="racetracks?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span jhiTranslate="motorsportsDatabaseApp.racetrack.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="location"><span jhiTranslate="motorsportsDatabaseApp.racetrack.location">Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="logo"><span jhiTranslate="motorsportsDatabaseApp.racetrack.logo">Logo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let racetrack of racetracks ;trackBy: trackId">
                <td><a [routerLink]="['/racetrack', racetrack.id, 'view' ]">{{racetrack.id}}</a></td>
                <td>{{racetrack.name}}</td>
                <td>{{racetrack.location}}</td>
                <td>
                    <a *ngIf="racetrack.logo" (click)="openFile(racetrack.logoContentType, racetrack.logo)">
                        <img [src]="'data:' + racetrack.logoContentType + ';base64,' + racetrack.logo" style="max-height: 30px;" alt="racetrack image"/>
                    </a>
                    <span *ngIf="racetrack.logo">{{racetrack.logoContentType}}, {{byteSize(racetrack.logo)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/racetrack', racetrack.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/racetrack', racetrack.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/racetrack', { outlets: { popup: racetrack.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="racetracks?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
