

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCarLabel" jhiTranslate="motorsportsDatabaseApp.car.home.createOrEditLabel">Create or edit a Car</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!car.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="car.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.car.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="car.name"
            required maxlength="50" />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.car.manufacturer" for="field_manufacturer">Manufacturer</label>
            <input type="text" class="form-control" name="manufacturer" id="field_manufacturer"
                [(ngModel)]="car.manufacturer"
            required maxlength="50" />
            <div [hidden]="!(editForm.controls.manufacturer?.dirty && editForm.controls.manufacturer?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.manufacturer?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.manufacturer?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.car.image" for="field_image">Image</label>
            <div>
                <img [src]="'data:' + car.imageContentType + ';base64,' + car.image" style="max-height: 100px;" *ngIf="car.image" alt="car image"/>
                <div *ngIf="car.image" class="form-text text-danger clearfix">
                    <span class="pull-left">{{car.imageContentType}}, {{byteSize(car.image)}}</span>
                    <button type="button" (click)="car.image=null;car.imageContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" (change)="setFileData($event, car, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                [(ngModel)]="car.image"
             />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                [(ngModel)]="car.imageContentType" />
        </div>

        <div class="form-group">
            <label jhiTranslate="motorsportsDatabaseApp.car.engine" for="field_engine">Engine</label>
            <select class="form-control" id="field_engine" name="engine" [(ngModel)]="car.engine" >
                <option [ngValue]="null"></option>
                <option [ngValue]="engineOption.id === car.engine?.id ? car.engine : engineOption" *ngFor="let engineOption of engines; trackBy: trackEngineById">{{engineOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="motorsportsDatabaseApp.car.chassis" for="field_chassis">Chassis</label>
            <select class="form-control" id="field_chassis" name="chassis" [(ngModel)]="car.chassis" >
                <option [ngValue]="null"></option>
                <option [ngValue]="chassisOption.id === car.chassis?.id ? car.chassis : chassisOption" *ngFor="let chassisOption of chassis; trackBy: trackChassisById">{{chassisOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="motorsportsDatabaseApp.car.tyreProvider" for="field_tyreProvider">Tyre Provider</label>
            <select class="form-control" id="field_tyreProvider" name="tyreProvider" [(ngModel)]="car.tyreProvider" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tyreProviderOption.id === car.tyreProvider?.id ? car.tyreProvider : tyreProviderOption" *ngFor="let tyreProviderOption of tyreproviders; trackBy: trackTyreProviderById">{{tyreProviderOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="motorsportsDatabaseApp.car.fuelProvider" for="field_fuelProvider">Fuel Provider</label>
            <select class="form-control" id="field_fuelProvider" name="fuelProvider" [(ngModel)]="car.fuelProvider" >
                <option [ngValue]="null"></option>
                <option [ngValue]="fuelProviderOption.id === car.fuelProvider?.id ? car.fuelProvider : fuelProviderOption" *ngFor="let fuelProviderOption of fuelproviders; trackBy: trackFuelProviderById">{{fuelProviderOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
