
<div *ngIf="car">
    <h2>{{car.manufacturer}} {{car.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="motorsportsDatabaseApp.car.name">Name</span></dt>
        <dd>
            <span>{{car.name}}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.car.manufacturer">Manufacturer</span></dt>
        <dd>
            <span>{{car.manufacturer}}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.car.image">Image</span></dt>
        <dd>
            <div *ngIf="car.imageUrl">
            	<img [src]="car.imageUrl" style="max-width: 200px;" alt="engine image"/>
            </div>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.car.engine">Engine</span></dt>
        <dd>
            <div *ngIf="car.engine">
                <a [routerLink]="['/engine', car.engine?.id]">{{car.engine?.manufacturer}} {{car.engine?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.car.chassis">Chassis</span></dt>
        <dd>
            <div *ngIf="car.chassis">
                <a [routerLink]="['/chassis', car.chassis?.id]">{{car.chassis?.manufacturer}} {{car.chassis?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'car/'+ car.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
