<div>
    <h2>
        <span jhiTranslate="motorsportsDatabaseApp.car.home.title">Cars</span>
        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
        	class="btn btn-primary float-right create-car" [routerLink]="['/', { outlets: { popup: ['car-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="motorsportsDatabaseApp.car.home.createLabel">
            Create new Car
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12 no-padding-right">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'motorsportsDatabaseApp.car.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cars">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="motorsportsDatabaseApp.car.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="manufacturer"><span jhiTranslate="motorsportsDatabaseApp.car.manufacturer">Manufacturer</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="engine.id"><span jhiTranslate="motorsportsDatabaseApp.car.engine">Engine</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="chassis.id"><span jhiTranslate="motorsportsDatabaseApp.car.chassis">Chassis</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let car of cars ;trackBy: trackId">
                <td><a [routerLink]="['../car', car.id ]">{{car.id}}</a></td>
                <td>{{car.name}}</td>
                <td>{{car.manufacturer}}</td>
                <td>
                    <div *ngIf="car.engine">
                        <a [routerLink]="['../engine', car.engine?.id ]" >{{car.engine?.manufacturer}} {{car.engine?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="car.chassis">
                        <a [routerLink]="['../chassis', car.chassis?.id ]" >{{car.chassis?.manufacturer}} {{car.chassis?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                                [routerLink]="['../car', car.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_EDITOR']"
                                [routerLink]="['/', { outlets: { popup: 'car/'+ car.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                        </button>
                        <button type="submit" *jhiHasAnyAuthority="['ROLE_ADMIN']"
                                [routerLink]="['/', { outlets: { popup: 'car/'+ car.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="cars && cars.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
