@import 'material-dashboard.scss';

.mat-header-cell {
  font-size: 16px;
  font-weight: 500;
}

.selection-list-viewport {
  height: 300px;
  width: 100%;
}

#yearSelect .mat-select-value,
#yearSelect .mat-select-arrow {
  color: white;
  font-size: large;
}

.pointer {
  cursor: pointer;
}

.select-year-panel {
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
