.mat-header-cell {
  font-size: 16px;
  font-weight: 500;
}

.selection-list-viewport {
  height: 300px;
  width: 100%;
}

.pointer {
  cursor: pointer;
}

// #yearSelect .select-year-panel {
//   width: 100px;
//   margin-left: 10px;
//   margin-right: 10px;
// }
