@import '~primeng/resources/primeng.min.css';
@import '~primeng/resources/themes/bootstrap4-dark-purple/theme.css';
@import '~primeng/resources/components/image/image.css';
@import '~primeicons/primeicons.css';

.p-image-preview {
  width: 75%;
  height: inherit;
  object-fit: contain;
  position: relative;
}
