<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-racetrack-layout-heading" jhiTranslate="motorsportsDatabaseApp.racetrackLayout.home.createOrEditLabel">Create or edit a Racetrack Layout</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!racetrackLayout.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="racetrackLayout.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.racetrackLayout.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="racetrackLayout.name" required maxlength="100"/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.racetrackLayout.length" for="field_length">Length</label>
                    <input type="number" class="form-control" name="length" id="field_length"
                        [(ngModel)]="racetrackLayout.length" required/>
                    <div [hidden]="!(editForm.controls.length?.dirty && editForm.controls.length?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.length?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.length?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.racetrackLayout.yearFirstUse" for="field_yearFirstUse">Year First Use</label>
                    <input type="number" class="form-control" name="yearFirstUse" id="field_yearFirstUse"
                        [(ngModel)]="racetrackLayout.yearFirstUse" required/>
                    <div [hidden]="!(editForm.controls.yearFirstUse?.dirty && editForm.controls.yearFirstUse?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.yearFirstUse?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.yearFirstUse?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.racetrackLayout.layoutImage" for="field_layoutImage">Layout Image</label>
                    <div>
                        <img [src]="'data:' + racetrackLayout.layoutImageContentType + ';base64,' + racetrackLayout.layoutImage" style="max-height: 100px;" *ngIf="racetrackLayout.layoutImage" alt="racetrackLayout image"/>
                        <div *ngIf="racetrackLayout.layoutImage" class="form-text text-danger clearfix">
                            <span class="pull-left">{{racetrackLayout.layoutImageContentType}}, {{byteSize(racetrackLayout.layoutImage)}}</span>
                            <button type="button" (click)="clearInputImage('layoutImage', 'layoutImageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_layoutImage" (change)="setFileData($event, racetrackLayout, 'layoutImage', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="layoutImage" id="field_layoutImage"
                        [(ngModel)]="racetrackLayout.layoutImage" />
                    <input type="hidden" class="form-control" name="layoutImageContentType" id="field_layoutImageContentType"
                        [(ngModel)]="racetrackLayout.layoutImageContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.racetrackLayout.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                        [(ngModel)]="racetrackLayout.active" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.racetrackLayout.racetrack" for="field_racetrack">Racetrack</label>
                    <select class="form-control" id="field_racetrack" name="racetrack" [(ngModel)]="racetrackLayout.racetrack" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="racetrackOption.id === racetrackLayout.racetrack?.id ? racetrackLayout.racetrack : racetrackOption" *ngFor="let racetrackOption of racetracks; trackBy: trackRacetrackById">{{racetrackOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
