<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{ racetrackLayout.racetrack.name}} - {{ racetrackLayout.name }}</h4>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <dl class="row-md jh-entity-details">
                            <dt><span jhiTranslate="motorsportsDatabaseApp.racetrackLayout.length">Length</span></dt>
                            <dd>
                                <span>{{racetrackLayout.length / 1000 | number: '1.3' }} km</span>
                            </dd>
                            <dt><span jhiTranslate="motorsportsDatabaseApp.racetrackLayout.yearFirstUse">Year First Use</span></dt>
                            <dd>
                                <span>{{racetrackLayout.yearFirstUse}}</span>
                            </dd>
                            <dt><span jhiTranslate="motorsportsDatabaseApp.racetrackLayout.active">Active</span></dt>
                            <dd>
		                        <span><i *ngIf="racetrackLayout.active" class="fa fa-fw fa-check-square-o" aria-hidden="true"></i>
						        <i *ngIf="!racetrackLayout.active" class="fa fa-fw fa-square-o" aria-hidden="true"></i></span>
                            </dd>
                        </dl>
                        <button type="submit"
                                (click)="previousState()"
                                class="btn btn-info">
                            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                        </button>

                        <button type="button"
                                [routerLink]="['/racetrack-layout', racetrackLayout.id, 'edit']"
                                class="btn btn-primary">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <dl class="row-md jh-entity-details">
                            <dd>
                                <td><img *ngIf="racetrackLayout.layoutImageUrl" [src]="racetrackLayout.layoutImageUrl" class="img-fluid" alt="racetrack layout"/></td>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
