
<div *ngIf="racetrackLayout">
    <h2><span jhiTranslate="motorsportsDatabaseApp.racetrackLayout.detail.title">Racetrack Layout</span> {{racetrackLayout.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="motorsportsDatabaseApp.racetrackLayout.name">Name</span></dt>
        <dd>
            <span>{{racetrackLayout.name}}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.racetrackLayout.length">Length</span></dt>
        <dd>
            <span>{{racetrackLayout.length}}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.racetrackLayout.yearFirstUse">Year First Use</span></dt>
        <dd>
            <span>{{racetrackLayout.yearFirstUse}}</span>
        </dd>
        <dt><span jhiTranslate="motorsportsDatabaseApp.racetrackLayout.layoutImage">Layout Image</span></dt>
        <dd>
            <div *ngIf="racetrackLayout.layoutImage">
                <a (click)="openFile(racetrackLayout.layoutImageContentType, racetrackLayout.layoutImage)">
                    <img [src]="'data:' + racetrackLayout.layoutImageContentType + ';base64,' + racetrackLayout.layoutImage" style="max-width: 100%;" alt="racetrackLayout image"/>
                </a>
                {{racetrackLayout.layoutImageContentType}}, {{byteSize(racetrackLayout.layoutImage)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'racetrack-layout/'+ racetrackLayout.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
