<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-driver-heading" data-cy="DriverCreateUpdateHeading" jhiTranslate="motorsportsDatabaseApp.driver.home.createOrEditLabel">
        Create or edit a Driver
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.driver.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('name')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 40 }"
            >
              This field cannot be longer than 40 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.driver.surname" for="field_surname">Surname</label>
          <input type="text" class="form-control" name="surname" id="field_surname" data-cy="surname" formControlName="surname" />
          <div *ngIf="editForm.get('surname')!.invalid && (editForm.get('surname')!.dirty || editForm.get('surname')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('surname')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('surname')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 60 }"
            >
              This field cannot be longer than 60 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.driver.birthDate" for="field_birthDate">Birth Date</label>
          <div class="input-group">
            <input
              id="field_birthDate"
              data-cy="birthDate"
              type="text"
              class="form-control"
              name="birthDate"
              ngbDatepicker
              #birthDateDp="ngbDatepicker"
              formControlName="birthDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="birthDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div *ngIf="editForm.get('birthDate')!.invalid && (editForm.get('birthDate')!.dirty || editForm.get('birthDate')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('birthDate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.driver.birthPlace" for="field_birthPlace"
            >Birth Place</label
          >
          <input
            type="text"
            class="form-control"
            name="birthPlace"
            id="field_birthPlace"
            data-cy="birthPlace"
            formControlName="birthPlace"
          />
          <div *ngIf="editForm.get('birthPlace')!.invalid && (editForm.get('birthPlace')!.dirty || editForm.get('birthPlace')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('birthPlace')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 75 }"
            >
              This field cannot be longer than 75 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.driver.deathDate" for="field_deathDate">Death Date</label>
          <div class="input-group">
            <input
              id="field_deathDate"
              data-cy="deathDate"
              type="text"
              class="form-control"
              name="deathDate"
              ngbDatepicker
              #deathDateDp="ngbDatepicker"
              formControlName="deathDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="deathDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.driver.deathPlace" for="field_deathPlace"
            >Death Place</label
          >
          <input
            type="text"
            class="form-control"
            name="deathPlace"
            id="field_deathPlace"
            data-cy="deathPlace"
            formControlName="deathPlace"
          />
          <div *ngIf="editForm.get('deathPlace')!.invalid && (editForm.get('deathPlace')!.dirty || editForm.get('deathPlace')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('deathPlace')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 75 }"
            >
              This field cannot be longer than 75 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="motorsportsDatabaseApp.driver.portrait" for="field_portrait">Portrait</label>
          <div>
            <img
              [src]="'data:' + editForm.get('portraitContentType')!.value + ';base64,' + editForm.get('portrait')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('portrait')!.value"
              alt="driver image"
            />
            <div *ngIf="editForm.get('portrait')!.value" class="form-text text-danger clearfix">
              <span class="pull-left"
                >{{ editForm.get('portraitContentType')!.value }}, {{ byteSize(editForm.get('portrait')!.value) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('portrait', 'portraitContentType', 'file_portrait')"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_portrait"
              data-cy="portrait"
              (change)="setFileData($event, 'portrait', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="portrait" id="field_portrait" data-cy="portrait" formControlName="portrait" />
          <input
            type="hidden"
            class="form-control"
            name="portraitContentType"
            id="field_portraitContentType"
            formControlName="portraitContentType"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
