<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <ul class="breadcrumb breadcrumb-style ">
                            <li class="breadcrumb-item">
                                <h4 class="fw-bold">{{ 'motorsportsDatabaseApp.driver.home.title' | translate }}</h4>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <form class="register-form m-4" name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                    <div class="card">
                        <div class="body">
                            <div class="row">
                                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 mb-2">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>{{ 'motorsportsDatabaseApp.driver.name' | translate }}</mat-label>
                                                <input matInput type="text" class="form-control" formControlName="name">
                                                <mat-icon matSuffix>face</mat-icon>
                                                <mat-error *ngIf="editForm.get('name')!.hasError('required')">
                                                    {{ 'entity.validation.required' | translate }}
                                                </mat-error>
                                                <mat-error *ngIf="editForm.get('name')!.hasError('maxlength')">
                                                    {{ 'entity.validation.maxlength' | translate: { max: 40} }}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 mb-2">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>{{ 'motorsportsDatabaseApp.driver.surname' | translate }}</mat-label>
                                                <input matInput type="text" class="form-control" formControlName="surname">
                                                <mat-icon matSuffix>face</mat-icon>
                                                <mat-error *ngIf="editForm.get('surname')!.hasError('required')">
                                                    {{ 'entity.validation.required' | translate }}
                                                </mat-error>
                                                <mat-error *ngIf="editForm.get('surname')!.hasError('maxlength')">
                                                    {{ 'entity.validation.maxlength' | translate: { max: 60 } }}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>{{ 'motorsportsDatabaseApp.driver.birthDate' | translate }}</mat-label>
                                                <input matInput formControlName="birthDate" [matDatepicker]="pickerBirthDate">
                                                <mat-datepicker-toggle matSuffix [for]="pickerBirthDate"></mat-datepicker-toggle>
                                                <mat-datepicker #pickerBirthDate></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 mb-2">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>{{ 'motorsportsDatabaseApp.driver.birthPlace' | translate }}</mat-label>
                                                <input matInput type="text" class="form-control" formControlName="birthPlace">
                                                <mat-icon matSuffix>location_city</mat-icon>
                                                <mat-error *ngIf="editForm.get('birthPlace')!.hasError('maxlength')">
                                                    {{ 'entity.validation.maxlength' | translate: { max: 75 } }}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>{{ 'motorsportsDatabaseApp.driver.deathDate' | translate }}</mat-label>
                                                <input matInput formControlName="deathDate" [matDatepicker]="pickerDeathDate">
                                                <mat-datepicker-toggle matSuffix [for]="pickerDeathDate"></mat-datepicker-toggle>
                                                <mat-datepicker #pickerDeathDate></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 mb-2">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>{{ 'motorsportsDatabaseApp.driver.deathPlace' | translate }}</mat-label>
                                                <input matInput type="text" class="form-control" formControlName="deathPlace">
                                                <mat-icon matSuffix>location_city</mat-icon>
                                                <mat-error *ngIf="editForm.get('deathPlace')!.hasError('maxlength')">
                                                    {{ 'entity.validation.maxlength' | translate: { max: 75 } }}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                            <mat-form-field class="example-full-width" appearance="outline">
                                                <mat-label>{{ 'motorsportsDatabaseApp.driver.nationality' | translate }}</mat-label>
                                                <input matInput type="text" class="form-control"
                                                       [matAutocomplete]="auto" formControlName="nationality"/>
                                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                                    <mat-option *ngFor="let country of (options | async)" [value]="country">
                                                        <img aria-hidden src="/images/flags/{{country.countryCode}}.png">
                                                        <span>{{ country.countryName }}</span>
                                                    </mat-option>
                                                </mat-autocomplete>
                                                <mat-icon matSuffix>flag</mat-icon>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                            <button class="msr-3" [disabled]="!editForm.valid || isSaving" mat-raised-button color="primary">
                                                <span jhiTranslate="entity.action.save">Save</span>
                                                <mat-icon matPrefix>save</mat-icon>
                                            </button>

                                            <button type="button" mat-button id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                                                <span jhiTranslate="entity.action.cancel">Cancel</span>
                                                <mat-icon matPrefix>cancel</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                            <mat-label>{{ 'motorsportsDatabaseApp.driver.portrait' | translate }}</mat-label>
                                            <jhi-file-upload
                                                [editForm]="editForm"
                                                controlName="portrait"
                                                controlNameContentType="portraitContentType"
                                                imageUrl="portraitUrl"
                                                [isImage]="true"
                                                acceptedMimeType="image/*"></jhi-file-upload>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
